@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@using System.Text;

@{
    // No layout by default
    Layout = null;

    // Check if the layout has any areas
    if (Model.Areas.Any() != true)
    {
        return;
    }

    var layoutSettings = Model.Settings as IPublishedElement;
    // Get layout settings
    var backgroundColor = Model.Settings?.Value<ColorPickerValueConverter.PickedColor>("layoutSettingsColourPicker");

    var backgroundImage = Model.Settings?.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("layoutSettingsBackgroundImagePicker");

    var styleAttributes = new StringBuilder();
    
    if(backgroundColor is not null)
    {
        styleAttributes.Append($"background-color:{backgroundColor};");
    }


    if (backgroundImage != null)
    {
        styleAttributes.Append($"background-image: url({backgroundImage.MediaUrl()});");
    }

    var layoutClasses = new StringBuilder();
    // Padding 

    var paddingTop = layoutSettings?.Value<string>("paddingTop");
    if (!string.IsNullOrWhiteSpace(paddingTop))
    {
        layoutClasses.Append($" {paddingTop}");
    }

    var paddingBottom = layoutSettings?.Value<string>("paddingBottom");
    if (!string.IsNullOrWhiteSpace(paddingBottom))
    {
        layoutClasses.Append($" {paddingBottom}");
    }

    var paddingLeft = layoutSettings?.Value<string>("paddingLeft");
    if (!string.IsNullOrWhiteSpace(paddingLeft))
    {
        layoutClasses.Append($" {paddingLeft}");
    }

    var paddingRight = layoutSettings?.Value<string>("paddingRight");
    if (!string.IsNullOrWhiteSpace(paddingRight))
    {
        layoutClasses.Append($" {paddingRight}");
    }

    // Margin

    var marginTop = layoutSettings?.Value<string>("marginTop");
    if (!string.IsNullOrWhiteSpace(marginTop))
    {
        layoutClasses.Append($" {marginTop}");
    }

    var marginBottom = layoutSettings?.Value<string>("marginBottom");
    if (!string.IsNullOrWhiteSpace(marginBottom))
    {
        layoutClasses.Append($" {marginBottom}");
    }

    var marginLeft = layoutSettings?.Value<string>("marginLeft");
    if (!string.IsNullOrWhiteSpace(marginLeft))
    {
        layoutClasses.Append($" {marginLeft}");
    }

    var marginRight = layoutSettings?.Value<string>("marginRight");
    if (!string.IsNullOrWhiteSpace(marginRight))
    {
        layoutClasses.Append($" {marginRight}");
    }
}
<div class="layout-item @layoutClasses.ToString()"
     data-bgimage="@backgroundImage?.MediaUrl()" style="@styleAttributes.ToString()"
     data-block-alias="@Model.Content.ContentType.Alias">
    @RenderBody()
</div>