@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@using System.Text;

@{
    // No layout by default
    Layout = null;

    // Check if the layout has any areas
    if (Model.Areas.Any() != true)
    {
        return;
    }

    var layoutSettings = Model.Settings as LayoutSettings;
    // Get layout settings
    var backgroundColor = Model.Settings?.Value<ColorPickerValueConverter.PickedColor>("layoutSettingsColourPicker");
    var colorLabel = backgroundColor?.Label;
    var colorShades = Model.Settings?.Value<decimal>("layoutSettingsColourShades");
    var colorOpacity = Model.Settings?.Value<decimal>("layoutSettingsColourOpacity");
    var backgroundImage = Model.Settings?.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("layoutSettingsBackgroundImagePicker");

    var styleAttributes = new StringBuilder();

    if(backgroundColor is not null)
    {
        styleAttributes.Append($"background-color:{backgroundColor};");
    }


    if (backgroundImage != null)
    {
        styleAttributes.Append($"background-image: url({backgroundImage.MediaUrl()});");
    }

    // Padding 

    if (!string.IsNullOrWhiteSpace(layoutSettings.PaddingTop))
    {
        styleAttributes.Append($"padding-top:{layoutSettings.PaddingTop};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.PaddingBottom))
    {
        styleAttributes.Append($"padding-bottom:{layoutSettings.PaddingBottom};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.PaddingLeft))
    {
        styleAttributes.Append($"padding-left:{layoutSettings.PaddingLeft};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.PaddingRight))
    {
        styleAttributes.Append($"padding-right:{layoutSettings.PaddingRight};");
    }

    // Margin

    if (!string.IsNullOrWhiteSpace(layoutSettings.MarginTop))
    {
        styleAttributes.Append($"margin-top:{layoutSettings.MarginTop};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.MarginBottom))
    {
        styleAttributes.Append($"margin-bottom:{layoutSettings.MarginBottom};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.MarginLeft))
    {
        styleAttributes.Append($"margin-left:{layoutSettings.MarginLeft};");
    }

    if (!string.IsNullOrWhiteSpace(layoutSettings.MarginRight))
    {
        styleAttributes.Append($"margin-right:{layoutSettings.MarginRight};");
    }
}
<div class="layout-item"
     data-bgimage="@backgroundImage?.MediaUrl()" style="@styleAttributes.ToString()"
     data-block-alias="@Model.Content.ContentType.Alias">
    @RenderBody()
</div>