@inherits UmbracoViewPage<BlockListItem<ContentModels.AccordionItem>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;
}

<div class="accordion-item__container">
    <p class="accorion-item__title">@content.DrawerTitle</p>
    <p class="accorion-item__content"> @content.DrawerContent</p>
</div>