@inherits UmbracoViewPage<BlockListItem<ContentModels.AccordionItem>>

@{
    if (Model?.Content is null) return;

    var content = Model.Content;
    var uniqueId = "accordionItem-" + Guid.NewGuid().ToString("N").Substring(0, 8);
    var titleId = uniqueId + "-title";
}

<section class="accordion-item__container" role="region" aria-labelledby="@titleId">
    <h3 id="@titleId" class="accordion-item__title">@content.DrawerTitle</h3>
    <div class="accordion-item__content">@content.DrawerContent</div>
</section>
