.accordion-item__container {
    display: flex;
    flex-direction: column;
    border: 1px solid #708090;
}

.accordion-item__title {
    font-size: .99rem;
    color: var(--accordion-title-color);
    font-weight: 700;
}

.accordion-item__content {
    color: var(--accordion-content-color);
    font-size: .90rem;
}