.alert__info-background {
    color: #1b1b1b;
    background-color: #bbd4dd;
    border-left: 8px solid #00607f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert__warning-background {
    color: #1b1b1b;
    background-color: #faf3d1;
    border-left: 8px solid #ffbe2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert__error-background {
    color: #1b1b1b;
    background-color: #f4e3db;
    border-left: 8px solid #d54309;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert__success-background {
    color: #1b1b1b;
    background-color: #ecf3ec;
    border-left: 8px solid #00a91c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert__emergency-background {
    color: #ffffff;
    background-color: #bb1f53;
    border-left: 8px solid #bb1f53;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert__body {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 .5rem;
    align-items: start;
}

.alert__slim-body {
    padding: .3rem;
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 0 .5rem;
    align-items: center;
}

/*Slim Alert*/

.alert__slim-body.info-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/info.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 1.5rem 1.5rem;
}

.alert__slim-body.warning-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/warning.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 1.5rem 1.5rem;
}

.alert__slim-body.error-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/error.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 1.5rem 1.5rem;
}

.alert__slim-body.success-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/check_circle.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 1.5rem 1.5rem;
}

/*Regular Alert*/

.alert__body.info-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/info.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 2rem 2rem;
}

.alert__body.warning-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/warning.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 2rem 2rem;
}

.alert__body.error-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/error.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 2rem 2rem;
}

.alert__body.success-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #1b1b1b;
    mask-image: url(/icons/check_circle.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 2rem 2rem;
}

.alert__body.emergency-icon::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background-color: #ffffff;
    mask-image: url(/icons/error.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 2rem 2rem;
}



.alert__heading {
    font-size: 1.37rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    grid-row: 1;
    grid-column: 2;
}

.alert__text {
    line-height: 1.5;
    max-width: 88ex;
    font-size: .99rem;
    grid-row: 2;
    grid-column: 2;
}

.alert__text p { margin: 0; }