.basic-table {
	border-collapse: collapse;
	width: 100%;
}

.basic-table th, 
.basic-table td, 
.basic-table caption {
	padding: 1rem;
}

.basic-table caption, 
.basic-table th {
	text-align: left;
}

.basic-table caption {
	background: transparent;
	font-size: .99rem;	
	caption-side: bottom;
	font-weight: 500;
}

.basic-table th {
	background: var(--basic-table__color-scheme); 
	color: oklch(from var(--basic-table__color-scheme) calc((l - 0.5) * -100) 0 0);
}

.basic-table-striped tbody tr:nth-of-type(odd) {
	background: color-mix(in srgb, var(--basic-table__color-scheme) 10%, white);
}

.basic-table-striped tbody tr:nth-of-type(odd) td {
	background: color-mix(in srgb, var(--basic-table__color-scheme) 10%, white);
}

.basic-table-striped tbody tr:nth-of-type(even) {
	background: color-mix(in srgb, var(--basic-table__color-scheme) 20%, white);
}

.basic-table-striped tbody tr:nth-of-type(even) td {
	background: color-mix(in srgb, var(--basic-table__color-scheme) 20%, white);
}

@media (max-width: 650px){
	.basic-table th{display:none;}
	.basic-table td {
		display: grid;
		grid-template-columns: 15ch auto;
		gap: 0.5rem;
		padding: 0.75rem 1rem;
	}

	.basic-table td:first-child {
		padding-top:2rem;
	}

	.basic-table td:last-child {
		padding-bottom: 2rem;
	}

	.basic-table td::before {
			content: attr(data-cell) ": ";
			font-weight: 700;
			text-transform: capitalize;
		}
}
