.btn__button {
    border-radius: calc(1px * infinity);
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .99rem;
    font-weight: 600;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent
}

.btn__primary {
    background-color: var(--theme-primary);
    color: var(--theme-primary-text);
    border-color: var(--theme-primary);
}

.btn__secondary {
    background-color: var(--theme-secondary);
    color: var(--theme-secondary-text);
    border-color: var(--theme-secondary);
}



.btn__outline {
    color: var(--theme-primary);
    border-color: var(--theme-primary);
    background-color: transparent;
}
