.components-page-header__svg-back {
    fill: #4d90a5;
    opacity: .7;
}

.components-page-header__svg-mid {
    fill: #ffc44d;
    opacity: .7;
}

.components-page-header__svg-fore { fill: #f3f7fc; }

.components-page-header__svg {
    margin-top: 2rem;
    bottom: -9px;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5rem;
    aspect-ratio: 1727/86;

}

    .components-page-header__svg svg {
        width: 100%;
        height: 75px;
    }

.components-page-header__container {
    margin-top: 5rem;
}