@using CIOUmbracoDemo.Extensions
@using CIOUmbracoDemo.Views.Partials.Forms.Models
@inherits UmbracoViewPage<BlockGridItem>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var model = new ContactFormViewModel()
    {
        FormId = content.Value<string>("formId") ?? string.Empty,
        SuccessMessage = content.Value<string>("successMessage") ?? string.Empty
    };

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

@if (!string.IsNullOrWhiteSpace(blockClasses))
{
    <div class="@blockClasses">
        @await Html.PartialAsync("~/Views/Partials/Forms/Views/ContactForm.cshtml", model)
    </div>
}
else
{
    @await Html.PartialAsync("~/Views/Partials/Forms/Views/ContactForm.cshtml", model)
}


