@using CIOUmbracoDemo.Views.Partials.Forms.Models
@using NEOCIO.Umbraco.Core.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.FeedbackForm>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var model = new FeedbackFormViewModel { FormId = content.FormId!, SuccessMessage = content.SuccessMessage! };

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}


@if (!string.IsNullOrWhiteSpace(blockClasses))
{
    <div class="@blockClasses">
        @await Html.PartialAsync("~/Views/Partials/Forms/Views/FeedbackForm.cshtml", model)
    </div>
}
else
{
    @await Html.PartialAsync("~/Views/Partials/Forms/Views/FeedbackForm.cshtml", model)
}