/* Hero block */
:root {
    --hero-block-btn-color: #FFC44D;
    --hero-block-btn-hover-color: #e3bf77;
    --hero-block-btn-text-color: #000000;
    --hero-block-btn-text-hover-color: #000000;
    --hero-block-heading-text-color: #ffffff;
    --hero-block-subheading-text-color: #ffffff;
}

.hero-block__wrapper {
    position: relative;
    width: 100%;
    height: 42rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-block__overlay {
    position: absolute;
    inset: 0rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-block__cta-callout {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 48rem;
    padding-inline: 1rem;
}

.hero-block__heading {
    font-size: 2.49rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--hero-block-heading-text-color);
}

.hero-block__subheader {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-size: 1.24rem;
    line-height: 1.5;
    color: var(--hero-block-subheading-text-color);
}

.hero-block__btn-container {
    display: flex;
    margin-top: 2rem;
    gap: 0.75rem;
}

.hero-block__btn {
    background-color: var(--hero-block-btn-color);
    text-decoration: none;
    color: var(--hero-block-btn-text-color);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: calc(infinity * 1px);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.25rem;
}

.hero-block__btn:hover {
    background-color: var(--hero-block-btn-hover-color);
    transition: background-color ease-in-out 0.5s;
    color: var(--hero-block-btn-text-hover-color);
}

.usa-hero__svg-back { fill: #4d90a5; }

.usa-hero__svg-mid { fill: #ffc44d; }

.usa-hero__svg-fore { fill: #f3f7fc; }

.hero-block__svg {
    position: absolute;
    left: 0rem;
    right: 0rem;
    bottom: -9px;
    width: 100%;
    pointer-events: none;
}

.hero-block__svg > svg {
    width: 100%;
    height: 103px;
}