@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockListItem<ContentModels.IconListItem>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var iconSize = content?.IconSize == 0 ? 24 : content?.IconSize;

    var theme = Umbraco.GetCurrentTheme();

    string defaultIconColor = null;

    switch (theme)
    {
        case "blue":
            defaultIconColor = "#00607f";
            break;
        case "green" :
            defaultIconColor = "#BABF33";
            break;
        case "red":
            defaultIconColor = "#B3314E";
            break;
    }

}

<li class="icon-list__list-item-content" style="display:flex;gap:10px;">
     
    <inline-svg media-item="content?.Icon" fill="@(content?.IconColor?.Color ?? defaultIconColor)" width="@iconSize"
                height="24"></inline-svg>
    <div class="icon-list__list-item-container">
        @content?.Text
    </div>
</li>