@inherits UmbracoViewPage<BlockListItem<ContentModels.IconListItem>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var iconSize = content?.IconSize == 0 ? 24 : content?.IconSize;
}

<li class="icon-list__list-item" style="display:flex;gap:10px;">
     
    <inline-svg media-item="content?.Icon" fill="@content?.IconColor?.Color" width="@iconSize"
                height="24"></inline-svg>
    @content?.Text
      
</li>