.icon-list__container {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    padding-left: 3ch;
    display: block;
    font-size: 0.80em;
    margin-top: 0;
}

