@using System.Text
@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.InfoCardGrid>>

@{
    if (Model.Content is null)
    {
        return;
    }

    var content = Model.Content;

    var maxNumberOfButtonsPerRow = content.MaxNumberOfCardsPerRow ?? "3";

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
   
}

<div class="info-card-grid @blockClasses" data-columns="@maxNumberOfButtonsPerRow">


    @if (content.Cards.Any())
    {
        @foreach (var button in content.Cards)
        {
            var cardToRender = button as BlockListItem<InfoCard>;
            @await Html.PartialAsync("infoCard", cardToRender)
        }
    }

</div>