@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using CIO_Umbraco.Extensions
@using System.Text
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;


@{
    var areasBackgroundColor = Model.Settings?.Value<ColorPickerValueConverter.PickedColor>("color");


    var backgroundColor = areasBackgroundColor != null ? $"background-color:{areasBackgroundColor}" : "";

    var layoutSpacingStyles = Model.Settings?.GenerateLayoutSpacingStyles();

    var containerStyles = new StringBuilder();

    if (!string.IsNullOrEmpty(backgroundColor))
    {
        containerStyles.Append(backgroundColor);
    }

    if (!string.IsNullOrEmpty(layoutSpacingStyles))
    {
        if (containerStyles.Length > 0)
        {
            containerStyles.Append("; ");
        }
        containerStyles.Append(layoutSpacingStyles);
    }
}

@if (!string.IsNullOrWhiteSpace(containerStyles.ToString()))
{
    <div style="@containerStyles.ToString()">
        @await Html.GetPreviewBlockGridItemAreasHtmlAsync(Model)
    </div>
}
else
{
    @await Html.GetPreviewBlockGridItemAreasHtmlAsync(Model)
}