@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.LinkedCardGrid>>

@{
    if (Model.Content is null)
    {
        return;
    }

    var content = Model.Content;

    var maxNumberOfCardsPerRow = content.NumberCardsPerRow ?? "3";

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

<div class="linked-card-grid @blockClasses" data-columns="@maxNumberOfCardsPerRow">

    @if (content.Items.Any())
    {
        foreach (var item in content.Items)
        {
            <div class="linked-card-grid__item">
                @await Html.PartialAsync("linkedCard.cshtml", item)
            </div>
        }
    }
</div>