.mission-and-value__columns-container {
    margin-top: 4em;
    margin-bottom: 0;
    
}



.main-content {
    font-size: 1.24rem;
    line-height: 1.5;
}

.mission-and-value__header {
    font-size: 1.99rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.mission-and-value__header:after {
    display: block;
    width: 5rem;
    max-width: 100%;
    height: 4px;
    margin-top: 1.5rem;
    background-color: #ffc44d;
    content: "";
}

.mission-and-value__subheader {
    font-weight: 700;
    line-height: 1.5;
    max-width: 88ex;
    font-size: 1.24rem;
}

.mission-and-value__value-list {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    padding-left: 3ch;
    display: block;
    font-size: 0.80em;
    margin-top: 0;

}

.mission-and-value__list-item > p {
    margin-top: 0 !important;
}
