.mission-and-value__columns-container {
    margin-top: 4em;
    margin-bottom: 0;
    
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.main-content {
    font-size: 1.24rem;
    line-height: 1.5;
}

@media(min-width: 64em) {
    .grid-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.mission-and-value__header {
    font-size: 1.99rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.mission-and-value__header:after {
    display: block;
    width: 5rem;
    max-width: 100%;
    height: 4px;
    margin-top: 1.5rem;
    background-color: #ffc44d;
    content: "";
}
