@using Umbraco.Cms.Core.Strings
@inherits UmbracoViewPage<BlockGridItem>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var richText = content.Value<IHtmlEncodedString>("content");

    if (richText is null || string.IsNullOrWhiteSpace(richText.ToString())) return;

    var maxWidth = string.IsNullOrWhiteSpace(content.Value<string>("maxWidth")) ? "full" : content.Value<string>("maxWidth");

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

<div class="rich-text-editor__container @blockClasses">
    <div class="rich-text-editor__content" data-width="@maxWidth">
        @richText
    </div>
</div>