@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.RichTextEditor>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var richText = content.Content;

    if (richText is null || string.IsNullOrWhiteSpace(richText.ToString())) return;

    var maxWidth = string.IsNullOrWhiteSpace(content.MaxWidth) ? "full" : content.MaxWidth;

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

<div class="rich-text-editor__container @blockClasses">
    <div class="rich-text-editor__content" data-width="@maxWidth">
        @richText
    </div>
</div>
