@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<
Umbraco.Cms.Core.Models.Blocks.BlockGridItem
>

@{
    var content = (RichTextBlock) Model.Content;
}


<div>
    @Html.Raw(content.RichText)
</div>