@using CIO_Umbraco.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.Section>>

@{
    if (Model?.Content is null) return;

    var content = Model.Content;
    var backgroundColor = content?.Color?.Color ?? "#f3f7fc";

    var layoutStyles = content?.GenerateLayoutSpacingStyles();

    var containerStyle = content?.ApplyGridContainer == true ? "grid-container" : string.Empty;

}
<section class="w-100" style="background-color: @backgroundColor; @layoutStyles">
    <div class="@containerStyle">
        @await Html.GetBlockGridHtmlAsync(content?.Content)
    </div>
</section>