@inherits UmbracoViewPage<BlockGridItem<ContentModels.Section>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;
    var backgroundColor = content.Color.Color ?? "#f3f7fc";
}
<section class="w-100" style="background-color: @backgroundColor">

    <div class="grid-container p-5 ">
        @await Html.GetBlockGridHtmlAsync(content.Content)
    </div>
</section>