@inherits UmbracoViewPage<BlockGridItem<ContentModels.SectionHeader>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var fontSize = !string.IsNullOrWhiteSpace(content.FontSize) ? content.FontSize : "1.99rem";
    var lineHeight = !string.IsNullOrWhiteSpace(content.LineHeight) ? content.LineHeight : "1.2";
    var fontWeight = !string.IsNullOrWhiteSpace(content.FontWeight) ? content.FontWeight : "700";
    var marginBottom = !string.IsNullOrWhiteSpace(content.MarginBottom) ? content.MarginBottom : "2.5rem"; 
    var accentColor = content.AccentColor?.Color ?? "#ffc44d";
    var textColor = content.TextColor?.Color ?? "#000000";


    var cssVariables = $@"
       --section-header-size: {fontSize};
       --section-header-line-height: {lineHeight};
       --section-header-font-weight: {fontWeight};
       --section-header-margin-bottom: {marginBottom};
       --section-header-accent-color: {accentColor};
       --section-header-text-color: {textColor};
    ";
}

<h2 class="section-header" style="@cssVariables">@content.Text</h2>