li.sideNavigation__nav-dropdown {
    list-style: none;
    
}

li.sideNavigation__nav-link {
    list-style: none;
   

}

button.dropdown-toggle {
    border-left: 4px solid #ffc44d;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background: inherit;
    font-size: .95rem;
    color: darkslategray;
    padding-top:5px;
    padding-bottom:5px;
}

.sideNavigation__nav-link > a {
    text-decoration: none;
    font-size: .95rem;
    color: darkslategray
}

.sideNavigation__container {
    max-width: 30%;
}

.sideNavigation__dropdown-list > ul > li {
    border-top: 1px solid #d9e3e8;
    border-bottom: 1px solid #d9e3e8;
    width: 100%;
}

.sideNavigation__dropdown-list ul {
    padding-left:20px;
}
