.sideNavigation-sidenav {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    font-family: Roboto, roboto-normal-400-fallback, Helvetica, Arial, sans-serif;
    font-size: .99rem;
    line-height: 1.4;
    border-bottom: 1px solid #dfe1e2
}

.sideNavigation-sidenav > li {
    margin-bottom: 0;
    max-width: unset
}

.sideNavigation__item { border-top: 1px solid #dfe1e2 }

.sideNavigation-sidenav a:not(.usa-button) {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none
}

.sideNavigation-sidenav a:hover {
    background-color: #f0f0f0;
    text-decoration: none
}

.sideNavigation-sidenav a:not(.current) { color: #565c65 }

.sideNavigation-sidenav a:not(.current):hover { color: #00607f }

.sideNavigation-sidenav a:not(.current):focus { outline-offset: 0 }


.sideNavigation-sidenav .current {
    color: #00607f;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
}

.sideNavigation-sidenav .current::before {
    background-color: #ffc44d;
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 1.7em;
    margin-top: -2px;
    margin-bottom: -2px;
    padding-left: 0;
    margin-right: .75em;
    vertical-align: middle;
    border-radius: 0;
    position: static;
}


@media all and (min-width: 40em) {
    .sideNavigation-sidenav .current::after {
        background-color: #00607f;
    }
}

.sideNavigation-sidenav {
    margin-left: -1rem;
    margin-right: -1rem
}

@media all and (min-width: 40em) {
    .sideNavigation-sidenav {
        margin-left: 0;
        margin-right: 0
    }
}

.sideNavigation__sublist {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: .93rem
}

.sideNavigation__sublist > li {
    margin-bottom: 0;
    max-width: unset
}

.sideNavigation__sublist-item {
    border-top: 1px solid #dfe1e2;
    font-size: .87rem
}


.sideNavigation__sublist a:not(.usa-button) { padding-left: 2rem }

.sideNavigation__sublist .sideNavigation__sublist a:not(.usa-button) { padding-left: 3rem }

.sideNavigation__sublist .sideNavigation__sublist .sideNavigation__sublist a:not(.usa-button) { padding-left: 4rem }

.side-navigation-container { margin-top: 4rem }

@media all and (min-width: 40em) {
    .side-navigation-container--mobile { display: none }

    .side-navigation-container--tablet {
        display: block;
        margin-top: 0
    }
}




@media all and (min-width: 40em) {
    .sideNavigation-sidenav .current:after { background-color: #ffc44d }
}

.sideNavigation-sidenav { margin: 0 }

.hide-submenu {
    display: none;
}

a.current {
    padding-left: 0!important;
}