@inherits UmbracoViewPage<BlockGridItem<ContentModels.SideNavigation>>

@using System.Linq

@{
	if (Model?.Content is null) return;
	var content = Model.Content;
	var navItems = content?.SideMenu?.ToList() ?? [];
}

@{
	Func<IEnumerable<dynamic?>, IHtmlContent> RenderNavItems = null!;
	RenderNavItems = @<text>
		@foreach (var navItem in item)
		{
			if (navItem is null)
			{
				continue;
			}

			if (navItem?.Children?.Count > 0)
			{
				<li class="sideNavigation__nav-dropdown">
					<button class="dropdown-toggle sideNavigation__dropdown" type="button">
						<label name="@navItem.Name">@navItem.Name</label>
					</button>
					<div class="sideNavigation__dropdown-list">
						<ul>
							@RenderNavItems((IEnumerable<dynamic?>)navItem.Children)
						</ul>
					</div>
				</li>
			}
			else
			{
				<li class="sideNavigation__nav-link">
					<a href="@navItem?.Url" target="@navItem?.Target">
						@navItem?.Name
						@if (navItem?.Target == "_blank")
						{
							<span>
								<svg-icon src="icons/open-in-new.svg" svg-width="16" svg-height="16" svg-viewbox="0 0 24 24" svg-fill="white"></svg-icon>
							</span>
						}
					</a>
				</li>
			}
		}
	</text>;
}

@if(navItems.Any())
{
	<nav class="sideNavigation__container">
        <ul class='sideNavigation__nav-list'>
			@RenderNavItems(navItems)
        </ul>
	</nav>
}

