@using CIO_Umbraco.Extensions
@inherits UmbracoViewPage<BlockListItem<ContentModels.SocialLink>>

@{
	if (Model?.Content is null)
		return;

	var content = Model.Content;

	
}

	
<a class="social-link" href="@content?.Link?.Url" target="_blank" rel="noopener noreferrer">
	<inline-svg media-item="content?.Icon" fill="@content?.Color?.Color" background-color="@content?.BackgroundColor?.Color" height="35" width="35"></inline-svg>
</a>