@using CIOUmbracoDemo.Extensions
@inherits UmbracoViewPage<BlockGridItem<ContentModels.StylizedHeading>>

@{
    if (Model?.Content is null) return;

    var content = Model.Content;
    var textColor = content.HeaderTextColor?.Color ?? "#1b1b1b";
  


    var cssVariables = $@"   
       --stylized-header-text-color: {textColor};       
    ";

    var blockClasses = Model.Settings.GenerateBlockSettingsClasses();
}

<h2 class="stylized-header @blockClasses" style="@cssVariables">@content.HeaderText</h2>