
.stylized-header {
    font-size: var(--stylized-header-size);
    line-height: var(--stylized-header-line-height);
    font-weight: var(--stylized-header-font-weight);
    margin-bottom: var(--stylized-header-margin-bottom);
    color: var(--stylized-header-text-color);
}

.stylized-header:after {
    display: block;
    width: 5rem;
    max-width: 100%;
    height: 4px;
    margin-top: 1.5rem;
    background-color: var(--stylized-header-accent-color);
    content: "";
}

@media (max-width: 767px) {
   .stylized-header {
       font-size: 1.86rem;
   }
}