@inherits UmbracoViewPage<BlockGridItem<ContentModels.UmbracoForm>>

@{
    if (Model.Content is null) return;

    var content = Model.Content;

    var test = "";
}

<div class="form__container">
    @await Component.InvokeAsync("RenderForm", new
    {
        formId = @content?.FormType?.FormId,
        theme = @content?.FormType?.Theme,
        includeScripts = false
    })
</div>