@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class='cio-banner'>
  <section class='cio-banner__section' aria-label='Official government website'>
    <div class='cio-banner__container'>
      <p class='cio-banner__text'>@Model.Value("bannerText")</p>
    </div>
  </section>
</div>