<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab48e39d-ea92-4035-8d9b-83f84736b1dd" Alias="2023-2025 Biennium Rates &amp; Fees" Level="2">
  <Info>
    <Parent Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9">Documents</Parent>
    <Path>/Documents/BienniumRatesFees</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-03-03T20:49:36</CreateDate>
    <NodeName Default="2023-2025 Biennium Rates &amp; Fees" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qxrfrk2s/fy2023-2025-biennium-rates.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>