<?xml version="1.0" encoding="utf-8"?>
<Media Key="05b26a21-2bfc-4be6-bb0e-4e0d0eec0ae6" Alias="2025 StateScoop Award Winners" Level="2">
  <Info>
    <Parent Key="3846096d-56f1-402c-83cf-c222b925c3b1">Documents</Parent>
    <Path>/Documents/StateScoopAwardWinners</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-05T14:27:42</CreateDate>
    <NodeName Default="2025 StateScoop Award Winners" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ibetjo1/2025-statescoop-50-award-winners.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>