<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef3c2b20-83b4-4074-9098-5e4ef3296fcf" Alias="about-us-hero-background" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/aboutUsHeroBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-05T13:58:19</CreateDate>
    <NodeName Default="about-us-hero-background" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/eyvdz13u/about-us-hero-background.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>