<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1f43160-af5f-471d-b6a7-f094d731bdd6" Alias="Administration Org Chart" Level="2">
  <Info>
    <Parent Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9">Documents</Parent>
    <Path>/Documents/AdministrationOrgChart</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-20T16:32:49</CreateDate>
    <NodeName Default="Administration Org Chart" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/paypjqk5/administration-org-chart.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>