<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a11c300-0894-4afa-9599-517594cddf60" Alias="administration-org-chart" Level="2">
  <Info>
    <Parent Key="3846096d-56f1-402c-83cf-c222b925c3b1">Documents</Parent>
    <Path>/Documents/administrationOrgChart</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-01-30T20:35:08</CreateDate>
    <NodeName Default="administration-org-chart" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ovpvcvt/administration-org-chart.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>