<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec1a46d8-ee6d-4640-a1c7-e43e9d4dd528" Alias="announcement" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/announcement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:34:19</CreateDate>
    <NodeName Default="announcement" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3fdbv1dn/announcement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>