<?xml version="1.0" encoding="utf-8"?>
<Media Key="012dac3f-8736-48b3-8b85-2c7d5dc02406" Alias="announcement" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/announcement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-04T17:33:37</CreateDate>
    <NodeName Default="announcement" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuij5yzn/announcement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>