<?xml version="1.0" encoding="utf-8"?>
<Media Key="36e5179f-74a8-4840-93e1-9dbc123e8058" Alias="arrow-up" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/arrowUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-02T22:56:16</CreateDate>
    <NodeName Default="arrow-up" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vylpknvi/arrow_up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>