<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaedc30a-aa5f-413c-82a9-521e30ea873b" Alias="arrow_forward" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/arrow_forward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:34:44</CreateDate>
    <NodeName Default="arrow_forward" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hpbp10s5/arrow_forward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>