<?xml version="1.0" encoding="utf-8"?>
<Media Key="24bfa5a3-0f6b-4379-bb70-ad4c5fb24d0c" Alias="arrow_forward" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/arrow_forward</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:32:59</CreateDate>
    <NodeName Default="arrow_forward" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kemb1rtq/arrow_forward.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>