<?xml version="1.0" encoding="utf-8"?>
<Media Key="3875b1cf-b862-49c7-97d6-dd001c9855de" Alias="Board_Room" Level="2">
  <Info>
    <Parent Key="485e18d4-874e-4829-b71b-f39612a4b213">Images</Parent>
    <Path>/Images/Board_Room</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T20:35:49</CreateDate>
    <NodeName Default="Board_Room" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ib3dhdql/board_room.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>