<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f7a475-869b-41f8-9bba-6cafc178fc7d" Alias="board_room" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/board_room</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T16:39:29</CreateDate>
    <NodeName Default="board_room" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/oospp3e1/board_room.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>