<?xml version="1.0" encoding="utf-8"?>
<Media Key="fffc808b-cbe0-49cc-a9fc-49e36fe4e598" Alias="chevron_down" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/chevron_down</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:05:29</CreateDate>
    <NodeName Default="chevron_down" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pe4f2hp1/chevron-down.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>