<?xml version="1.0" encoding="utf-8"?>
<Media Key="73af4756-3fad-426b-827c-531c714369ee" Alias="chevron-up" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/chevronUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:35:16</CreateDate>
    <NodeName Default="chevron-up" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3dl423n/chevron-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>