<?xml version="1.0" encoding="utf-8"?>
<Media Key="9de1da1d-1a56-4eca-94fd-a918ec866297" Alias="chevron_up" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/chevron_up</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:05:46</CreateDate>
    <NodeName Default="chevron_up" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/33tfg50n/chevron-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>