<?xml version="1.0" encoding="utf-8"?>
<Media Key="97975f0a-d2ad-467c-9660-56c031dd240a" Alias="cio_header_logo" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/cio_header_logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:32:32</CreateDate>
    <NodeName Default="cio_header_logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5drdk3nw/cio_header_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>