<?xml version="1.0" encoding="utf-8"?>
<Media Key="e297652a-5fb8-4096-a317-b8f5a6d33142" Alias="cio_header_logo" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/cio_header_logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:35:34</CreateDate>
    <NodeName Default="cio_header_logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnsjpyvy/cio_header_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>