<?xml version="1.0" encoding="utf-8"?>
<Media Key="038c7b49-cde1-4b81-b693-3090908c66c3" Alias="contact-us-hero-background" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/contactUsHeroBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-04T17:03:39</CreateDate>
    <NodeName Default="contact-us-hero-background" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/j33jya5b/contact-us-hero-background.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>