<?xml version="1.0" encoding="utf-8"?>
<Media Key="3846096d-56f1-402c-83cf-c222b925c3b1" Alias="Documents" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-30T20:30:42</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>