<?xml version="1.0" encoding="utf-8"?>
<Media Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9" Alias="Documents" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-20T16:30:59</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties />
</Media>