<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2404c9f-05c4-4b03-bd52-141bacfbebc4" Alias="facebook" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:35:50</CreateDate>
    <NodeName Default="facebook" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vzgebuwe/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>