<?xml version="1.0" encoding="utf-8"?>
<Media Key="bac387f3-63e0-4540-89ca-9cce13de2b4a" Alias="facebook" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:33:16</CreateDate>
    <NodeName Default="facebook" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ae3gcwh1/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>