<?xml version="1.0" encoding="utf-8"?>
<Media Key="1666a287-8fcc-4e9e-9bb8-df48acfee691" Alias="faq-outlook-cookies" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/faqOutlookCookies</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-04T16:39:29</CreateDate>
    <NodeName Default="faq-outlook-cookies" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qgrgmfwm/faq-outlook-cookie-security.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>