<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa8e7cc1-1518-4ceb-aa2e-f00367d6562f" Alias="Female 1" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Female1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/y34i3kqy/female-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>