<?xml version="1.0" encoding="utf-8"?>
<Media Key="3594dc0f-a4fc-46cf-8583-cd8e92fc4bc7" Alias="Female 2" Level="103">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/[-21]/Engage/Persona/Female2</Path>
    <Trashed Parent="6484db76-5e44-401a-8c54-bfa814b958aa">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/bhojinp2/female-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>