<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8a90ae8-f344-4a3e-a27c-260a2a1747f0" Alias="Female 5" Level="103">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/[-21]/Engage/Persona/Female5</Path>
    <Trashed Parent="6484db76-5e44-401a-8c54-bfa814b958aa">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/3yfktoce/female-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>