<?xml version="1.0" encoding="utf-8"?>
<Media Key="c69591f3-b89e-4c16-8f3a-5cbb90630f99" Alias="Female 7" Level="103">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/[-21]/Engage/Persona/Female7</Path>
    <Trashed Parent="6484db76-5e44-401a-8c54-bfa814b958aa">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 7" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/4wijlru4/female-7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>