<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0a02333-a2d3-469a-8e46-8e778ae898b5" Alias="Female 6" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Female6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/gurlbmgt/female-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>