<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b90badd-3300-4585-b64b-7eb5f5b545d6" Alias="Female 8" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Female8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 8" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/1o3jasya/female-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>