<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa320023-212e-4273-8eb1-cc7bce0495be" Alias="Female 3" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Female3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Female 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/euadf4ro/female-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>