<?xml version="1.0" encoding="utf-8"?>
<Media Key="39c7006b-9743-4424-a28a-89a899184ce0" Alias="hero_banner" Level="2">
  <Info>
    <Parent Key="485e18d4-874e-4829-b71b-f39612a4b213">Images</Parent>
    <Path>/Images/hero_banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T20:36:07</CreateDate>
    <NodeName Default="hero_banner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2tfiddzk/hero_banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>