<?xml version="1.0" encoding="utf-8"?>
<Media Key="710a96cd-4f88-4144-8d24-045bd0de9e0c" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-30T20:31:38</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>