<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9760fe9-3190-415b-b7c9-09326de7b6be" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-20T16:31:14</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties />
</Media>