<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed70b217-faf3-47f7-ad90-6a3b9c218ac1" Alias="images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-22T18:53:21</CreateDate>
    <NodeName Default="images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>