<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6c13b4e-4281-4d3f-8405-ee916038f98a" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-20T16:31:44</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties />
</Media>