<?xml version="1.0" encoding="utf-8"?>
<Media Key="f45a384e-7851-4c2a-951a-fd17f2fde83f" Alias="job-beer-promotion" Level="2">
  <Info>
    <Parent Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9">Documents</Parent>
    <Path>/Documents/jobBeerPromotion</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-03-04T02:06:06</CreateDate>
    <NodeName Default="job-beer-promotion" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ky2fv3cr/joe-beer-promotion.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>