<?xml version="1.0" encoding="utf-8"?>
<Media Key="54b839b0-8889-45f4-8d79-9e5fab56ece1" Alias="Journey - Basket" Level="3">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyBasket</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Basket" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/wy2lqvej/journey-basket.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>