<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb7415c0-658b-4856-85df-ca271aa9f849" Alias="Journey - Speaker" Level="3">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneySpeaker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Speaker" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/yykhj02l/journey-speaker.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>