<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba114b18-aefc-482b-ad2c-9aaeeec6df40" Alias="Journey - Cart" Level="3">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyCart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Cart" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/dzfbdox2/journey-cart.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>