<?xml version="1.0" encoding="utf-8"?>
<Media Key="db2233f9-9450-4bab-bff5-8a53d18f2032" Alias="Journey - Idea" Level="3">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyIdea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Idea" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/52zdfw0q/journey-idea.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>