<?xml version="1.0" encoding="utf-8"?>
<Media Key="23ecc693-baae-43d6-86bd-54d275a6ff5a" Alias="Journey - Goal" Level="3">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/Engage/CustomerJourney/JourneyGoal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Goal" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/sxdoyi3o/journey-goal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>