<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e20937e-2f16-4dce-bc1b-7facc31432c4" Alias="Journey - Alternative Route" Level="103">
  <Info>
    <Parent Key="67826ad5-5418-4e60-b2fc-91616b48617e">Customer Journey</Parent>
    <Path>/[-21]/Engage/CustomerJourney/JourneyAlternativeRoute</Path>
    <Trashed Parent="67826ad5-5418-4e60-b2fc-91616b48617e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:43</CreateDate>
    <NodeName Default="Journey - Alternative Route" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/pcjda5qw/journey-alternative-route.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>