<?xml version="1.0" encoding="utf-8"?>
<Media Key="e85cd3cb-e398-4432-b519-8c63223adb73" Alias="line-banner" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/lineBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-05T14:06:16</CreateDate>
    <NodeName Default="line-banner" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ljfz0ey/line-banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>