<?xml version="1.0" encoding="utf-8"?>
<Media Key="e815db8c-156a-479a-9c06-448b8dd90371" Alias="linkedin" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:36:13</CreateDate>
    <NodeName Default="linkedin" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxnbl0dk/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>