<?xml version="1.0" encoding="utf-8"?>
<Media Key="98208df6-00c5-4689-a15f-3b741cc6f700" Alias="linkedin" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:33:48</CreateDate>
    <NodeName Default="linkedin" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aqyie4w4/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>