<?xml version="1.0" encoding="utf-8"?>
<Media Key="707c22b8-e990-4908-9dc9-97a8af5046e5" Alias="magnify" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/magnify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:36:29</CreateDate>
    <NodeName Default="magnify" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rerhy2eq/magnify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>