<?xml version="1.0" encoding="utf-8"?>
<Media Key="f599a004-7022-442b-9297-41705dcb8879" Alias="magnify" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/magnify</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:06:02</CreateDate>
    <NodeName Default="magnify" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4yodwfzz/magnify.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>