<?xml version="1.0" encoding="utf-8"?>
<Media Key="96ae0f3f-ac4e-43a6-ad6e-1a379348f2f6" Alias="Male 6" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Male6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Male 6" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/hehl3fso/male-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>