<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9ee6f7d-cb92-4be4-b168-059c0d7728c3" Alias="Male 2" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Male2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Male 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/pnxp3kms/male-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>