<?xml version="1.0" encoding="utf-8"?>
<Media Key="239101cf-575a-49e6-bd63-57908796f3f4" Alias="Male 8" Level="103">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/[-21]/Engage/Persona/Male8</Path>
    <Trashed Parent="6484db76-5e44-401a-8c54-bfa814b958aa">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Male 8" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/zeajci00/male-8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>