<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ec9fc1b-db24-463f-9855-43039d25f7ae" Alias="Male 4" Level="3">
  <Info>
    <Parent Key="6484db76-5e44-401a-8c54-bfa814b958aa">Persona</Parent>
    <Path>/Engage/Persona/Male4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-11T20:53:44</CreateDate>
    <NodeName Default="Male 4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": null,
  "src": "/media/dx4mstre/male-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>