<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0a216a6-3d84-467a-8ce7-790e17f98058" Alias="map" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/map</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-03T21:02:40</CreateDate>
    <NodeName Default="map" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s2lkfqee/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>