<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7b5d86c-0820-4574-8aa8-50a0693edff5" Alias="metrics-service-requests" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/metricsServiceRequests</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-03T19:55:41</CreateDate>
    <NodeName Default="metrics-service-requests" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nlmll3za/metrics-service-requests.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>