<?xml version="1.0" encoding="utf-8"?>
<Media Key="72858fd7-b010-4946-9bf9-eddda670bf63" Alias="metrics-incident-requests" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/metricsIncidentRequests</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-03T19:55:04</CreateDate>
    <NodeName Default="metrics-incident-requests" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0ghjk2qq/metrics-incident-requests.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>