<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a26722d-cf51-49e0-8c8d-33ef3316eb2f" Alias="minus" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/minus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:36:43</CreateDate>
    <NodeName Default="minus" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/drzcncsr/minus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>