<?xml version="1.0" encoding="utf-8"?>
<Media Key="580448be-995a-41f1-8399-4319980e782f" Alias="minus" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/minus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:06:18</CreateDate>
    <NodeName Default="minus" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jt0lnosb/minus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>