<?xml version="1.0" encoding="utf-8"?>
<Media Key="483588ac-1dff-4ed3-a9de-9bd11a687efc" Alias="ne-state-data-fabric-data-roadmap" Level="2">
  <Info>
    <Parent Key="3846096d-56f1-402c-83cf-c222b925c3b1">Documents</Parent>
    <Path>/Documents/neStateDataFabricDataRoadmap</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-01-30T20:35:26</CreateDate>
    <NodeName Default="ne-state-data-fabric-data-roadmap" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>