<?xml version="1.0" encoding="utf-8"?>
<Media Key="dde88e8f-393d-40eb-9a14-3bf916413bd7" Alias="NE State Data Fabric Data Roadmap" Level="2">
  <Info>
    <Parent Key="edbcc4d0-1b2b-4265-9ced-a66461ebc1bb">files</Parent>
    <Path>/files/NEStateDataFabricDataRoadmap</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-01-22T20:58:25</CreateDate>
    <NodeName Default="NE State Data Fabric Data Roadmap" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pttbg5i0/ne-state-data-fabric-data-roadmap.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>