<?xml version="1.0" encoding="utf-8"?>
<Media Key="16e42e00-8d39-4b79-8a1c-2d1a48325248" Alias="nebraska_footer_logo" Level="2">
  <Info>
    <Parent Key="ed70b217-faf3-47f7-ad90-6a3b9c218ac1">images</Parent>
    <Path>/images/nebraska_footer_logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T19:01:33</CreateDate>
    <NodeName Default="nebraska_footer_logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/r5skficq/nebraska_footer_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>