<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9c0e627-9bdd-46da-b927-01ce3f35b7cc" Alias="nebraska-icon" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/nebraskaIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:36:59</CreateDate>
    <NodeName Default="nebraska-icon" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c1tmbwo3/nebraska-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>