<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f51c61-8160-4a08-806b-41a674be9481" Alias="nebraska-icon" Level="2">
  <Info>
    <Parent Key="49a7f008-923e-4b89-9acd-99c87b2e1b94">svgs</Parent>
    <Path>/svgs/nebraskaIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-22T19:19:43</CreateDate>
    <NodeName Default="nebraska-icon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/soqfpat1/nebraska-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>