<?xml version="1.0" encoding="utf-8"?>
<Media Key="be472cf8-78c0-4e57-a52f-aac3899a5623" Alias="nebraska_footer_logo" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/nebraska_footer_logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T16:40:09</CreateDate>
    <NodeName Default="nebraska_footer_logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5yweppwa/nebraska_footer_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>