<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f5705fa-4fdd-45d6-976e-cab9d3c7d3d2" Alias="nebraska-farmland" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/nebraskaFarmland</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T19:30:55</CreateDate>
    <NodeName Default="nebraska-farmland" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5qcfol43/nebraska-farmland.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>