<?xml version="1.0" encoding="utf-8"?>
<Media Key="b16350db-7688-4301-8c5a-3be0a290ced2" Alias="nebraska-icon" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/nebraskaIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:34:08</CreateDate>
    <NodeName Default="nebraska-icon" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhwncu2t/nebraska-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>