<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0edb044-2011-4675-a596-74e255d73278" Alias="Nebraska State Data Fabric Data Roadmap" Level="2">
  <Info>
    <Parent Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9">Documents</Parent>
    <Path>/Documents/NebraskaStateDataFabricDataRoadmap</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-20T16:33:52</CreateDate>
    <NodeName Default="Nebraska State Data Fabric Data Roadmap" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsyo1uar/ne-state-data-fabric-data-roadmap.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>