<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3ea5158-0c5e-4878-acbb-38437f3e1527" Alias="network_switch" Level="2">
  <Info>
    <Parent Key="485e18d4-874e-4829-b71b-f39612a4b213">Images</Parent>
    <Path>/Images/network_switch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-30T20:36:39</CreateDate>
    <NodeName Default="network_switch" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/04nlyrjx/network_switch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>