<?xml version="1.0" encoding="utf-8"?>
<Media Key="b872b374-95be-4e84-af94-43f0571492b7" Alias="network_switch" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/network_switch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-20T16:40:25</CreateDate>
    <NodeName Default="network_switch" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/okzhfof4/network_switch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>