<?xml version="1.0" encoding="utf-8"?>
<Media Key="1837b2d6-49a1-44d8-ae51-b6a7dfd4cdf6" Alias="network_switch" Level="2">
  <Info>
    <Parent Key="ed70b217-faf3-47f7-ad90-6a3b9c218ac1">images</Parent>
    <Path>/images/network_switch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T19:01:51</CreateDate>
    <NodeName Default="network_switch" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lf2hdlwi/network_switch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>