<?xml version="1.0" encoding="utf-8"?>
<Media Key="327aaf7f-a5b0-49dd-a8aa-a1854ac4ae86" Alias="New OCIO Site" Level="2">
  <Info>
    <Parent Key="26d00fb7-8fe0-4709-a148-2844a8ed66c9">Documents</Parent>
    <Path>/Documents/NewOCIOSite</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-20T16:33:10</CreateDate>
    <NodeName Default="New OCIO Site" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4xhumvq/new-ocio-website.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>