<?xml version="1.0" encoding="utf-8"?>
<Media Key="d292b6a3-3872-4129-989e-a25feda1c0ac" Alias="New OCIO Website" Level="2">
  <Info>
    <Parent Key="3846096d-56f1-402c-83cf-c222b925c3b1">Documents</Parent>
    <Path>/Documents/NewOCIOWebsite</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-05T14:28:10</CreateDate>
    <NodeName Default="New OCIO Website" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kdpgs2sv/new-ocio-website.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>