<?xml version="1.0" encoding="utf-8"?>
<Media Key="49be9c60-1598-4db9-a029-a565f369888f" Alias="newsroom-background" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/newsroomBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-03T20:55:22</CreateDate>
    <NodeName Default="newsroom-background" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/m0ol2smy/newsroom-background.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>