<?xml version="1.0" encoding="utf-8"?>
<Media Key="f344cfad-cb0b-4df0-8a95-d7ef9d178c2f" Alias="open-in-new" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/openInNew</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:37:16</CreateDate>
    <NodeName Default="open-in-new" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tthfj2yl/open-in-new.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>