<?xml version="1.0" encoding="utf-8"?>
<Media Key="f207ceb3-296b-4be2-a4b7-556de2478603" Alias="open_in_new" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/open_in_new</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:05:10</CreateDate>
    <NodeName Default="open_in_new" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifzlkedq/open-in-new.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>