<?xml version="1.0" encoding="utf-8"?>
<Media Key="d74a187a-cbcd-40fb-a85f-5a8550617b28" Alias="pdf" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T17:39:33</CreateDate>
    <NodeName Default="pdf" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rcspqnow/pdf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>