<?xml version="1.0" encoding="utf-8"?>
<Media Key="08745b98-19d4-4c14-bc84-65bc4bf728c1" Alias="pdf" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:37:29</CreateDate>
    <NodeName Default="pdf" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vfnhicgu/pdf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>