<?xml version="1.0" encoding="utf-8"?>
<Media Key="b97be572-00bc-4ed6-86e7-1a7cbae17d1b" Alias="phone" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/phone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-04T17:34:05</CreateDate>
    <NodeName Default="phone" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qbmnsw3h/phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>