<?xml version="1.0" encoding="utf-8"?>
<Media Key="d97a0af1-16d4-46dd-840d-ae3a6b6734d7" Alias="phone" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/phone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:37:44</CreateDate>
    <NodeName Default="phone" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yafhvwou/phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>