<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d5ea05a-5d52-4d6d-b24c-8e3c5ce7d46b" Alias="plus" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/plus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:38:01</CreateDate>
    <NodeName Default="plus" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/noqf2tks/plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>