<?xml version="1.0" encoding="utf-8"?>
<Media Key="13ca8db8-3d43-4254-b0b9-71db92f19440" Alias="plus" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/plus</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-05T00:06:30</CreateDate>
    <NodeName Default="plus" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jiygr2ky/plus.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>