<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d3954ff-28ee-4872-a224-795b85a2d538" Alias="recognition-background" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/recognitionBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-03T20:33:32</CreateDate>
    <NodeName Default="recognition-background" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5fkds5po/recognition-background.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>