<?xml version="1.0" encoding="utf-8"?>
<Media Key="16c9c2fd-73cf-4700-90b4-17c612126dcc" Alias="service-desk-staff" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/serviceDeskStaff</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-02T19:36:19</CreateDate>
    <NodeName Default="service-desk-staff" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5pbmsfwp/service-desk-staff.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>