<?xml version="1.0" encoding="utf-8"?>
<Media Key="01dac930-6240-4517-aaeb-b5a7052a2776" Alias="sower-landscape" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/sowerLandscape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T18:41:49</CreateDate>
    <NodeName Default="sower-landscape" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/g1enuaka/sower-landscape.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>