<?xml version="1.0" encoding="utf-8"?>
<Media Key="c642e79a-a632-496e-af58-0dea059b7a0a" Alias="star" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/star</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:38:13</CreateDate>
    <NodeName Default="star" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vptffrrs/star.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>