<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9667314-efe6-4e83-aeef-8255403cbb8d" Alias="state-capitol" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/stateCapitol</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-24T19:31:37</CreateDate>
    <NodeName Default="state-capitol" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cjzhnwpg/state-capitol.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>