<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5c91cb0-fb2a-4c82-b089-782130271da0" Alias="supporting_agent" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/supporting_agent</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:38:37</CreateDate>
    <NodeName Default="supporting_agent" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qeomtjjk/support_agent.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>