<?xml version="1.0" encoding="utf-8"?>
<Media Key="6454bdeb-2883-423b-9d2c-d10f3fb003b4" Alias="support_agency" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/support_agency</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-04T17:33:53</CreateDate>
    <NodeName Default="support_agency" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/deapnbuy/support_agent.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>