<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b181255-614a-4747-94fb-9a243f3254eb" Alias="SVGs" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/SVGs</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-30T20:30:54</CreateDate>
    <NodeName Default="SVGs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>