<?xml version="1.0" encoding="utf-8"?>
<Media Key="eac47267-df48-420d-9afd-fc2888b98539" Alias="webmaster-job-posting" Level="2">
  <Info>
    <Parent Key="d6c13b4e-4281-4d3f-8405-ee916038f98a">Images</Parent>
    <Path>/Images/webmasterJobPosting</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-05T14:05:38</CreateDate>
    <NodeName Default="webmaster-job-posting" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mfzmj0si/webmaster-job-posting.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>