<?xml version="1.0" encoding="utf-8"?>
<Media Key="18577033-d797-4d97-9ad0-617c95015eeb" Alias="x" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/x</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:34:18</CreateDate>
    <NodeName Default="x" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yhgpl4um/x.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>