<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c723fd7-29ce-4135-86fa-2b1b3b28025c" Alias="x" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/x</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:38:48</CreateDate>
    <NodeName Default="x" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2y5hfhgo/x.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>