<?xml version="1.0" encoding="utf-8"?>
<Media Key="b003985b-6d9b-4b77-b58a-15ae688dcbee" Alias="youtube" Level="2">
  <Info>
    <Parent Key="e9760fe9-3190-415b-b7c9-09326de7b6be">Icons</Parent>
    <Path>/Icons/youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-20T16:39:02</CreateDate>
    <NodeName Default="youtube" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nkmahme1/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>