<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7b1697b-2ffc-4cb8-8806-06f28f1c3d4a" Alias="youtube" Level="2">
  <Info>
    <Parent Key="710a96cd-4f88-4144-8d24-045bd0de9e0c">Icons</Parent>
    <Path>/Icons/youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-30T20:34:32</CreateDate>
    <NodeName Default="youtube" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhkbgjph/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>