@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>

@{
	Layout = "Main.cshtml";
	var backgroundColor = Model?.Color?.Color ?? string.Empty;
	var containerStyle = backgroundColor != null ? $"width:100%;height:100%;background-color:{backgroundColor}" : string.Empty;
}

<div style="@containerStyle">
@await Html.GetBlockGridHtmlAsync(Model.ContentGrid)
</div>