@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ReportAproblem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}

<h1>Report a Problem</h1>