<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3467d770-c6ed-4303-b103-1a091c1da50f" Alias="[Block List] - Accordion Items" Level="2">
  <Info>
    <Name>[Block List] - Accordion Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bd31759c-1a26-4c0a-bddb-9885fb81c0a7"
    }
  ]
}]]></Config>
</DataType>