<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1177b34e-cff5-49bb-a15a-c682a28cf00c" Alias="[Block List] - Icon Button Card List" Level="2">
  <Info>
    <Name>[Block List] - Icon Button Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "253e57ba-987d-48e2-9c95-08e4aaeb8b9c"
    }
  ],
  "validationLimit": {
    "min": 0
  }
}]]></Config>
</DataType>