<?xml version="1.0" encoding="utf-8"?>
<DataType Key="766fda72-12ab-40d2-a968-12215c2530e0" Alias="[BlockGrid] - Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3e8a2762-1275-4831-b6c0-06a7e8449c9f",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>