<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51c8fd9f-a7fa-4406-af14-f53670835d76" Alias="[Block List] - Carousel Items" Level="2">
  <Info>
    <Name>[Block List] - Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5f1b8384-e1a8-473e-aafe-3171ac2ce5ad"
    }
  ],
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>