<?xml version="1.0" encoding="utf-8"?>
<DataType Key="227c1748-d9e5-4327-9567-c058faba7442" Alias="[Block List] - Icon List Items" Level="1">
  <Info>
    <Name>[Block List] - Icon List Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
      "settingsElementTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d"
    }
  ]
}]]></Config>
</DataType>