<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d95e2e62-8327-4ec3-b323-446043184daf" Alias="[BlockGrid] - Main Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "gridColumns": 12
}]]></Config>
</DataType>