<?xml version="1.0" encoding="utf-8"?>
<DataType Key="598b08d1-6590-4dc8-b57d-c09a4edd5585" Alias="[BlockGrid] - Section" Level="2">
  <Info>
    <Name>[BlockGrid] - Section</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e12319e2-916d-4711-9d3b-bc6ecceef095",
      "allowAtRoot": true,
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "3e8a2762-1275-4831-b6c0-06a7e8449c9f",
      "allowAtRoot": true,
      "allowInAreas": false
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>