<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9490ca3c-7a5e-4be3-aa73-712136b2a5a1" Alias="[BlockGrid] - PageContent" Level="2">
  <Info>
    <Name>[BlockGrid] - PageContent</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "name": "Layout Blocks"
    },
    {
      "key": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "name": "Feature Blocks"
    }
  ],
  "blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12",
          "columnSpan": 12,
          "createLabel": null,
          "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-3",
          "columnSpan": 3,
          "createLabel": "Tertiary Area",
          "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-6 ",
          "columnSpan": 6,
          "createLabel": "Primary Area",
          "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "g-col-12 g-col-md-12 g-col-lg-3 ",
          "columnSpan": 3,
          "createLabel": "Secondary Area",
          "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-3 ",
          "columnSpan": 3,
          "createLabel": null,
          "key": "afe26812-3f06-4d32-842a-c415b473fb10",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-9 ",
          "columnSpan": 9,
          "createLabel": null,
          "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "createLabel": null,
          "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "createLabel": null,
          "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-8 g-start-1 g-start-md-3 ",
          "columnSpan": 8,
          "createLabel": null,
          "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "contentElementTypeKey": "160b16b9-b63a-4f04-b66f-138e6eed9e8c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "bc0df8dd-bece-407c-afd0-550f2c88ef2c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "e1b3e4bc-7be6-4ecc-b1e3-cf2d44e1d93a",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "253e57ba-987d-48e2-9c95-08e4aaeb8b9c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "2d2f8f60-7d4f-442b-8432-90a76c0e7019",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "a4793323-0cf0-49c3-b7d1-ce71c8bcafd4",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "a8790ec0-2c08-4153-8546-9c5ef4763691",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    },
    {
      "contentElementTypeKey": "e583e45b-eee6-4258-9c85-e7bd89348a3b",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "areas": [
        {
          "key": "167e1c60-584f-407e-8d4a-c395d8028116",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4 ",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "b7d02186-63e1-442b-ab9f-59c570fa0455",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "7cb72d85-1406-40d4-9c5a-aef7d5808853",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945"
    }
  ],
  "createLabel": "Add a Layout Block",
  "maxPropertyWidth": "clamp(576px, 100%, 1400px)",
  "useLiveEditing": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>