<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8077a22-7154-4ea5-a3f5-f007ad9dd58c" Alias="[Block List] - Footer Links" Level="2">
  <Info>
    <Name>[Block List] - Footer Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "settingsElementTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c"
    }
  ]
}]]></Config>
</DataType>