<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c2c6270-4874-4b24-bb6b-b568cc65eaa8" Alias="[BlockList] - Newsroom Items" Level="2">
  <Info>
    <Name>[BlockList] - Newsroom Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fb8b9ddf-cb70-4760-9393-db51e4d2f048"
    }
  ]
}]]></Config>
</DataType>