<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15c2a517-d3f8-4463-a375-5e586bcc7a2f" Alias="[Block List] - Accordion Item " Level="2">
  <Info>
    <Name>[Block List] - Accordion Item </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
      "settingsElementTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc"
    }
  ]
}]]></Config>
</DataType>