<?xml version="1.0" encoding="utf-8"?>
<DataType Key="598b08d1-6590-4dc8-b57d-c09a4edd5585" Alias="[BlockGrid] - Section" Level="2">
  <Info>
    <Name>[BlockGrid] - Section</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout Blocks",
      "key": "86e7076a-a0b0-49c3-9068-3afcbecdc484"
    },
    {
      "name": "Blocks",
      "key": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d9c4b3f2-6a6b-4f02-97ff-d936ff8120ce",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "6b9f1bf8-5adf-4bab-9db1-7296659c9223",
          "alias": "g-col-12",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "e4753b7c-9936-4046-9c2c-54248838e9f2",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "9457bb89-51d0-4460-98ad-fd346fae4634",
          "alias": "g-col-12 g-col-md-6 g-col-lg-3",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "de9d0c37-e664-445f-a468-c3417c0b814e",
          "alias": "g-col-12 g-col-md-6 g-col-lg-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "0ea0e30b-6043-4644-9688-4528c448ba49",
          "alias": "g-col-12 g-col-md-6 g-col-lg-3",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "b17c6d45-dc9b-4e32-9b65-87c37b6924f2",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "89f19f7c-ffb5-41c8-9cac-a5c25776d95f",
          "alias": "g-col-12 g-col-md-6 g-col-lg-9",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "5277859c-50ae-4490-b101-7a5ba1a692ff",
          "alias": "g-col-12 g-col-md-6 g-col-lg-9",
          "columnSpan": 9,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "44b383f6-692b-4b03-99d1-be7d45a085ee",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "d0aeecc0-da73-4c8c-8c1a-8e7a3259534b",
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "b5bd3dd3-f611-418a-a3e3-31978a151077",
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "19e2bb09-ff2e-42d1-88db-849ec024c24d",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "39af6e15-11b5-4fac-809f-33c5b7178aa7",
          "alias": "g-col-12 g-col-md-8 g-start-1 g-start-md-3",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "e12319e2-916d-4711-9d3b-bc6ecceef095",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "448bd82f-6538-410f-a64b-8791c82d2574",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "6a61f0a2-cec9-43cb-a8f9-a0b6fd73e5de",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "1c46addc-1f49-4d92-b649-f045fdef3e8b",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "03d05ccb-6cab-4e37-833d-2ad49ce57b49",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        },
        {
          "key": "9a53f80a-c0f6-4e9a-989a-2889259b1f50",
          "alias": "g-col-12 g-col-md-6 g-col-lg-4",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Add Content"
        }
      ]
    },
    {
      "contentElementTypeKey": "608e3b3e-5cdf-42d1-9a70-46fffe8fa494",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "9efc4a4a-3d3e-4414-97ec-a9677d03d848",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "60bb4e75-a73a-465f-8c5d-281027620f08",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "3e8a2762-1275-4831-b6c0-06a7e8449c9f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "bb302960-e795-4943-8cac-e149bbe4e053",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "6c9f4348-a318-40ec-8b47-9a695ccc966b",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "3a58099d-7b43-4230-9ae8-9f13609a093d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "b18607f1-229c-422e-8db3-31a3764c06cb",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    },
    {
      "contentElementTypeKey": "8c1f08e6-50a5-4435-be30-338cf5b28da4",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "areas": [
        {
          "key": "d87c3625-2937-4f1d-aac7-bf39e6b1c3d8",
          "alias": "g-col-12 g-col-md-10 g-col-lg-10",
          "columnSpan": 10,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "47578648-b50c-4ee9-ac0e-10452fd7a13b",
          "alias": "g-col-12 g-col-md-2 g-col-lg-2",
          "columnSpan": 2,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "81c0aba1-271c-4f2f-86df-3a3a34d778b4",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "86e7076a-a0b0-49c3-9068-3afcbecdc484",
      "areas": [
        {
          "key": "5feee303-007f-472f-afb7-c1f3727a7b86",
          "alias": "g-col-12 g-col-md-2 g-col-lg-2",
          "columnSpan": 2,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "597a1cac-1476-4da9-903a-7aaa034a170b",
          "alias": "g-col-12 g-col-md-10 g-col-lg-10",
          "columnSpan": 10,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "95e13c4b-a48f-4d28-bcf8-1fd5480f60b8",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "5ba5945f-d10e-4634-92cb-91748bf98f80"
    }
  ],
  "createLabel": "Add a layout block",
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/css/layout.css",
  "maxPropertyWidth": "clamp(576px,100%,1400px)"
}]]></Config>
</DataType>