<?xml version="1.0" encoding="utf-8"?>
<DataType Key="525d33ec-6906-4dd1-83a5-c96b9884f898" Alias="[Block List] - Newsroom Items" Level="1">
  <Info>
    <Name>[Block List] - Newsroom Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8972524f-b714-43d6-beef-22bd7c514797",
      "settingsElementTypeKey": "8972524f-b714-43d6-beef-22bd7c514797"
    }
  ]
}]]></Config>
</DataType>