<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ff3842a-ecd0-4160-9e41-914d7e8785a8" Alias="[Block List] - Social Links" Level="2">
  <Info>
    <Name>[Block List] - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5",
      "settingsElementTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5"
    }
  ]
}]]></Config>
</DataType>