<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c479c66-dd59-45e1-8d9f-6015a461ef71" Alias="[Block List] - Backdrop Card Items" Level="2">
  <Info>
    <Name>[Block List] - Backdrop Card Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 3
  }
}]]></Config>
</DataType>