<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c1fcbcb-664b-48e0-a5d4-68022bfea3c2" Alias="[BlockGrid] - Aside" Level="2">
  <Info>
    <Name>[BlockGrid] - Aside</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3e8a2762-1275-4831-b6c0-06a7e8449c9f",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>