<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd73f32b-c9ae-43aa-8dae-b4def32a024d" Alias="[BlockGrid] - Rows" Level="2">
  <Info>
    <Name>[BlockGrid] - Rows</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c83b4c37-a33f-4e56-a40e-017bc022e416",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>