<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bbbe244-ef60-481c-916c-32b22aed2c6b" Alias="[BlockGrid] - Columns" Level="2">
  <Info>
    <Name>[BlockGrid] - Columns</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b7915b9c-1da6-4c96-b820-3539a04b6d8f",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>