<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1147e723-87e3-4c75-9398-33cfe64f41a2" Alias="[BlockList] - Links" Level="2">
  <Info>
    <Name>[BlockList] - Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "label": "${link[0].name}"
    }
  ]
}]]></Config>
</DataType>