<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c7edba1-b4de-4a74-a4ee-c8fb8d5f02ad" Alias="[Block] - Calendar Events" Level="2">
  <Info>
    <Name>[Block] - Calendar Events</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7576d6a7-9097-4b72-8464-e5eccd46ba8e"
    }
  ]
}]]></Config>
</DataType>