<?xml version="1.0" encoding="utf-8"?>
<DataType Key="739f35c5-9a9e-4383-9e26-65c8699954e4" Alias="[Block List] - Linked Card List" Level="2">
  <Info>
    <Name>[Block List] - Linked Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0"
    }
  ]
}]]></Config>
</DataType>