<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5a3ca03-fe8b-4be4-8682-e29b42c2b650" Alias="[BlockList] - Icon List Items" Level="2">
  <Info>
    <Name>[BlockList] - Icon List Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "111528d0-d661-4a4c-a397-d73357806494",
      "label": ""
    }
  ]
}]]></Config>
</DataType>