<?xml version="1.0" encoding="utf-8"?>
<DataType Key="146363e0-ba04-45ea-a451-0dc369b95b38" Alias="[BlockGrid] - Page Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Page Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout Blocks",
      "key": "b452027e-655a-47ac-8ab2-1cf8376ba6f5"
    },
    {
      "name": "Blocks",
      "key": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "3eda2957-4216-4c3a-a75b-4cc1e587eb5a",
      "allowAtRoot": true,
      "allowInAreas": false,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    }
  ],
  "createLabel": "Add a layout block",
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/css/layout.css",
  "maxPropertyWidth": "clamp(576px,100%,1400px)"
}]]></Config>
</DataType>