<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0d7d7d3-14b7-4b8c-80ad-abae384e6923" Alias="[Block List] Card with Images Items" Level="2">
  <Info>
    <Name>[Block List] Card with Images Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bc0df8dd-bece-407c-afd0-550f2c88ef2c",
      "settingsElementTypeKey": "bc0df8dd-bece-407c-afd0-550f2c88ef2c"
    }
  ]
}]]></Config>
</DataType>