<?xml version="1.0" encoding="utf-8"?>
<DataType Key="146363e0-ba04-45ea-a451-0dc369b95b38" Alias="[BlockGrid] - Page Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Page Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout Blocks",
      "key": "b452027e-655a-47ac-8ab2-1cf8376ba6f5"
    },
    {
      "name": "Blocks",
      "key": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d9c4b3f2-6a6b-4f02-97ff-d936ff8120ce",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "b452027e-655a-47ac-8ab2-1cf8376ba6f5",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "903989fe-1556-4cc4-a937-a130cfed9922",
          "alias": "g-col-12",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e4753b7c-9936-4046-9c2c-54248838e9f2",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "b452027e-655a-47ac-8ab2-1cf8376ba6f5",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "517b17b2-595b-4af3-abb1-3471508efdcd",
          "alias": "g-col-12 g-col-md-6 g-col-lg-3",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "cd5bd725-00c7-488c-b4e0-3953ac06649d",
          "alias": "g-col-12 g-col-md-6 g-col-lg-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "32746643-ff40-4058-892b-0064fedc6433",
          "alias": "g-col-12 g-col-md-6 g-col-lg-3",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b17c6d45-dc9b-4e32-9b65-87c37b6924f2",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "b452027e-655a-47ac-8ab2-1cf8376ba6f5",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "7bff42d8-70e5-476f-ad63-09df79bd80a1",
          "alias": "g-col-12 g-col-md-6 g-col-lg-9",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "1008c521-27cc-456f-b34b-a0841a7a8325",
          "alias": "g-col-12 g-col-md-6 g-col-lg-9",
          "columnSpan": 9,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "44b383f6-692b-4b03-99d1-be7d45a085ee",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "b452027e-655a-47ac-8ab2-1cf8376ba6f5",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "ce839f1b-fe38-4f06-af4b-a3d0de91fbfc",
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "2f7f86d1-7651-4d7b-8821-6979d320bdee",
          "alias": "g-col-12 g-col-md-6",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "19e2bb09-ff2e-42d1-88db-849ec024c24d",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "b452027e-655a-47ac-8ab2-1cf8376ba6f5",
      "settingsElementTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "areas": [
        {
          "key": "c658cdcd-5cec-474c-8394-71d570fd8406",
          "alias": "g-col-12 g-col-md-8 g-start-1 g-start-md-3",
          "columnSpan": 8,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e12319e2-916d-4711-9d3b-bc6ecceef095",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "3e8a2762-1275-4831-b6c0-06a7e8449c9f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "3eda2957-4216-4c3a-a75b-4cc1e587eb5a",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "bb302960-e795-4943-8cac-e149bbe4e053",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    },
    {
      "contentElementTypeKey": "448bd82f-6538-410f-a64b-8791c82d2574",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "318cdc5a-e807-453d-8a97-12ef0f8862b5"
    }
  ],
  "createLabel": "Add a layout block",
  "gridColumns": 12,
  "layoutStylesheet": "/wwwroot/css/layout.css",
  "maxPropertyWidth": "clamp(576px,100%,1400px)"
}]]></Config>
</DataType>