<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8c6b60e-32c6-45d3-9936-025242b0c4de" Alias="[BlockGrid] - Page" Level="2">
  <Info>
    <Name>[BlockGrid] - Page</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f10cc7d8-b95a-4106-9e81-e650af334e80",
      "allowAtRoot": true,
      "allowInAreas": false
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>