<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8c48953-b54b-477f-9bc1-0662cce3505b" Alias="[BlockGrid] - Banner Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Banner Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "aca0071f-3f0d-4218-b79f-ee05f450bbc5",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>