<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ae9fc43-e4e8-4d17-834c-0850e0828055" Alias="[ColorPicker] - Brand Colors" Level="2">
  <Info>
    <Name>[ColorPicker] - Brand Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "212529",
      "label": "Dark"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>