<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="[Color Picker] - Approved Colors" Level="2">
  <Info>
    <Name>[Color Picker] - Approved Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "white"
    },
    {
      "value": "000000",
      "label": "black"
    },
    {
      "value": "E6EEEF",
      "label": "primary-lightest"
    },
    {
      "value": "BBD4DD",
      "label": "primary-lighter"
    },
    {
      "value": "4D90A5",
      "label": "primary-light"
    },
    {
      "value": "00607F",
      "label": "primary"
    },
    {
      "value": "004D66",
      "label": "primary-dark"
    },
    {
      "value": "003A4D",
      "label": "primary-darker"
    },
    {
      "value": "002733",
      "label": "primary-darkest"
    },
    {
      "value": "212529",
      "label": "dark"
    },
    {
      "value": "f3f7fc",
      "label": "light-background"
    },
    {
      "value": "7e9c1d",
      "label": "green"
    },
    {
      "value": "e3bf77",
      "label": "mustard"
    },
    {
      "value": "971943",
      "label": "red"
    },
    {
      "value": "E1F3F8",
      "label": "secondary-lightest"
    },
    {
      "value": "97D4EA",
      "label": "secondary-light"
    },
    {
      "value": "00BDE3",
      "label": "secondary-medium"
    },
    {
      "value": "28A0CB",
      "label": "secondary-dark"
    },
    {
      "value": "07648D",
      "label": "secondary-darker"
    },
    {
      "value": "FFF9ED",
      "label": "secondary-lightest"
    },
    {
      "value": "FFF0D2",
      "label": "secondary-lighter"
    },
    {
      "value": "FFE1A6",
      "label": "secondary-light"
    },
    {
      "value": "FFC44D",
      "label": "secondary-medium"
    },
    {
      "value": "FFD580",
      "label": "secondary-vivid"
    },
    {
      "value": "AD7E1F",
      "label": "secondary-dark"
    },
    {
      "value": "573F0F",
      "label": "secondary-darker"
    },
    {
      "value": "33250A",
      "label": "secondary-darkest"
    },
    {
      "value": "F8F9EB",
      "label": "accent-lightest"
    },
    {
      "value": "A0BD0F",
      "label": "accent-vivid"
    },
    {
      "value": "BB314E",
      "label": "theme-red"
    },
    {
      "value": "BABF33",
      "label": "theme-green"
    },
    {
      "value": "9b9ea3",
      "label": "divider-grey"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>