<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3a5e26f-950a-4c6d-a278-645699abe408" Alias="[Color Picker] - Icon Color" Level="1">
  <Info>
    <Name>[Color Picker] - Icon Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "00607f",
      "label": "Blue"
    },
    {
      "value": "004d66",
      "label": "Dark Blue"
    },
    {
      "value": "bbd4dd",
      "label": "Light Blue"
    },
    {
      "value": "B3314E",
      "label": "Red"
    },
    {
      "value": "8F273E",
      "label": "Dark Red"
    },
    {
      "value": "BABF33",
      "label": "Green"
    },
    {
      "value": "949926",
      "label": "Dark Green"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>