<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45558d6a-dca3-4db0-a7c5-332616c4c69c" Alias="[Color Picker] - Typography Color " Level="2">
  <Info>
    <Name>[Color Picker] - Typography Color </Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "000000",
      "label": "Black"
    },
    {
      "value": "1b1b1b",
      "label": "Dark"
    },
    {
      "value": "00607f",
      "label": "Blue"
    },
    {
      "value": "004d66",
      "label": "Dark Blue"
    },
    {
      "value": "bbd4dd",
      "label": "Light Blue"
    },
    {
      "value": "B3314E",
      "label": "Red"
    },
    {
      "value": "8F273E",
      "label": "Dark Red"
    },
    {
      "value": "E8B8C5",
      "label": "Light Red"
    },
    {
      "value": "BABF33",
      "label": "Green"
    },
    {
      "value": "949926",
      "label": "Dark Green"
    },
    {
      "value": "E3E6B3",
      "label": "Light Green"
    },
    {
      "value": "ffc44d",
      "label": "Yellow"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>