<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32cc19da-5a1a-4c5e-b579-a2ee24d1fddf" Alias="[Color Picker] - Background Color" Level="1">
  <Info>
    <Name>[Color Picker] - Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "f3f7fc",
      "label": "Light"
    },
    {
      "value": "00607f",
      "label": "Blue"
    },
    {
      "value": "004d66",
      "label": "Dark Blue"
    },
    {
      "value": "bbd4dd",
      "label": "Light Blue"
    },
    {
      "value": "B3314E",
      "label": "Red"
    },
    {
      "value": "8F273E",
      "label": "Dark Red"
    },
    {
      "value": "BABF33",
      "label": "Green"
    },
    {
      "value": "949926",
      "label": "Dark Green"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>