<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6" Alias="[Color Picker] - Layout Settings Background Color" Level="2">
  <Info>
    <Name>[Color Picker] - Layout Settings Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "white"
    },
    {
      "value": "000000",
      "label": "black"
    },
    {
      "value": "212529",
      "label": "dark"
    },
    {
      "value": "00607f",
      "label": "primary"
    },
    {
      "value": "f3f7fc",
      "label": "light-background"
    },
    {
      "value": "ffc44d",
      "label": "warning"
    },
    {
      "value": "7e9c1d",
      "label": "green"
    },
    {
      "value": "e3bf77",
      "label": "mustard"
    },
    {
      "value": "bbd4dd",
      "label": "light-blue"
    },
    {
      "value": "004d66",
      "label": "dark-blue"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>