<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ea56399-14e4-45e3-a042-2fa218c2f8d3" Alias="[Date Time (with time zone)] - Calendar Event" Level="2">
  <Info>
    <Name>[Date Time (with time zone)] - Calendar Event</Name>
    <EditorAlias>Umbraco.DateTimeWithTimeZone</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimeWithTimeZonePicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm",
  "timeZones": {
    "mode": "local",
    "timeZones": []
  }
}]]></Config>
</DataType>