<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51792fa3-9ed7-4704-ba6e-dd66b1d862ad" Alias="[Dropdown] - Icon Button Grid - Number of Buttons Per Row" Level="2">
  <Info>
    <Name>[Dropdown] - Icon Button Grid - Number of Buttons Per Row</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6"
  ]
}]]></Config>
</DataType>