<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccee57bf-d1f8-4a65-84b1-09755d684224" Alias="[Dropdown] - Desktop Width" Level="2">
  <Info>
    <Name>[Dropdown] - Desktop Width</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "",
  "items": [
    {
      "key": "Inherit tablet",
      "value": ""
    },
    {
      "key": "Full width",
      "value": "col-lg-12"
    },
    {
      "key": "Half width",
      "value": "col-lg-6"
    },
    {
      "key": "One third",
      "value": "col-lg-4"
    },
    {
      "key": "One quarter",
      "value": "col-lg-3"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>