<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0d6c964-1004-4531-a90a-1cd0bf99de78" Alias="[DropdownList] - Dropdown List With Label" Level="1">
  <Info>
    <Name>[DropdownList] - Dropdown List With Label</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>CIO.PropertyEditorUi.DropdownListWithLabel</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>