<?xml version="1.0" encoding="utf-8"?>
<DataType Key="797c6cf9-78f5-481e-ace1-7ec048a677dd" Alias="[Dropdown] - Info Card Grid - Max Number of Cards Per Row" Level="2">
  <Info>
    <Name>[Dropdown] - Info Card Grid - Max Number of Cards Per Row</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6"
  ]
}]]></Config>
</DataType>