<?xml version="1.0" encoding="utf-8"?>
<DataType Key="351b5856-b628-4e07-9d9c-259023b29a11" Alias="[Dropdown] - Icon Location" Level="2">
  <Info>
    <Name>[Dropdown] - Icon Location</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Prepend",
    "Append"
  ]
}]]></Config>
</DataType>