<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46e14dc0-6c40-4889-8212-5ef7023cd166" Alias="[Dropdown] - Padding Options" Level="2">
  <Info>
    <Name>[Dropdown] - Padding Options</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "None",
    "Small",
    "Medium",
    "Large",
    "XL"
  ]
}]]></Config>
</DataType>