<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7b2a603-7c31-4f88-ba82-9d3ba5b97a5e" Alias="[Dropdown] - Gutter" Level="2">
  <Info>
    <Name>[Dropdown] - Gutter</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "none",
    "extra-small-gutter",
    "small-gutter",
    "medium-gutter",
    "large-gutter",
    "extra-large-gutter"
  ]
}]]></Config>
</DataType>