<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9139ba28-ad0f-4c7c-86fc-8062933cef87" Alias="[Dropdown] Rich Text Editor - Max Width" Level="2">
  <Info>
    <Name>[Dropdown] Rich Text Editor - Max Width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "narrow",
    "medium",
    "wide",
    "full"
  ]
}]]></Config>
</DataType>