<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ec4df6e-6ae7-4af4-b9cf-aa1f49c19348" Alias="[Dropdown] - Mobile Width" Level="2">
  <Info>
    <Name>[Dropdown] - Mobile Width</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "col-12",
  "items": [
    {
      "key": "Full width",
      "value": "col-12"
    },
    {
      "key": "Half width",
      "value": "col-6"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>