<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cdecfdf-e704-4294-9c18-67d1e41f1b9f" Alias="[Dropdown] - Tablet Width" Level="2">
  <Info>
    <Name>[Dropdown] - Tablet Width</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "",
  "items": [
    {
      "key": "Inherit mobile",
      "value": ""
    },
    {
      "key": "Full width",
      "value": "col-md-12"
    },
    {
      "key": "Half width",
      "value": "col-md-6"
    },
    {
      "key": "One third",
      "value": "col-md-4"
    },
    {
      "key": "One quarter",
      "value": "col-md-3"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>