<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02d9e276-8fa6-450f-82bb-e46612ea1a55" Alias="[Dropdown] - Button Style" Level="2">
  <Info>
    <Name>[Dropdown] - Button Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Primary",
    "Secondary",
    "Outline"
  ]
}]]></Config>
</DataType>