<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7562bc08-bf72-4cf5-82a1-a268a82d9c8f" Alias="[Dropdown] - Container Style" Level="1">
  <Info>
    <Name>[Dropdown] - Container Style</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "container",
    "container-fluid"
  ]
}]]></Config>
</DataType>