<?xml version="1.0" encoding="utf-8"?>
<DataType Key="babd1744-3df2-40ae-91f9-5e0bb469c778" Alias="[Dropdown] - Alignment" Level="2">
  <Info>
    <Name>[Dropdown] - Alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "top-alignment",
    "center-alignment",
    "bottom-alignment"
  ]
}]]></Config>
</DataType>