<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0d8a313-fad7-40bc-bdf8-dbac73720be2" Alias="[Dropdown] - Gutter Options" Level="2">
  <Info>
    <Name>[Dropdown] - Gutter Options</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "g-3",
  "items": [
    {
      "key": "None",
      "value": "g-0"
    },
    {
      "key": "Extra Small",
      "value": "g-1"
    },
    {
      "key": "Small",
      "value": "g-2"
    },
    {
      "key": "Medium",
      "value": "g-3"
    },
    {
      "key": "Large",
      "value": "g-4"
    },
    {
      "key": "Extra Large",
      "value": "g-5"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>