<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b1180bf-2d2f-448a-bb48-5fca41ce261c" Alias="[Dropdown] - Column Width" Level="2">
  <Info>
    <Name>[Dropdown] - Column Width</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "col",
    "col-1",
    "col-2",
    "col-3",
    "col-4",
    "col-5",
    "col-6",
    "col-7",
    "col-8",
    "col-9",
    "col-10",
    "col-11",
    "col-12"
  ]
}]]></Config>
</DataType>