<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5aab940b-4b60-45dd-a384-bc017cf9fb57" Alias="[Dropdown] - Linked Card Grid - Number Cards Per Row" Level="2">
  <Info>
    <Name>[Dropdown] - Linked Card Grid - Number Cards Per Row</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "1",
    "2",
    "3",
    "4",
    "5",
    "6"
  ]
}]]></Config>
</DataType>