<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cef25018-408a-4ea1-9c50-017fc5356210" Alias="[Dropdown] - Vertical Alignment" Level="2">
  <Info>
    <Name>[Dropdown] - Vertical Alignment</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "align-items-start",
  "items": [
    {
      "key": "Top ",
      "value": "align-items-start"
    },
    {
      "key": "Center",
      "value": "align-items-center"
    },
    {
      "key": "Bottom",
      "value": "align-items-end"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>