<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a48bdc62-7480-47fd-b792-1863f659ca4f" Alias="[Dropdown] - Padding Options" Level="2">
  <Info>
    <Name>[Dropdown] - Padding Options</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>AndrewK.Umbraco.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "py-5",
  "items": [
    {
      "key": "None",
      "value": ""
    },
    {
      "key": "Small",
      "value": "py-3"
    },
    {
      "key": "Medium",
      "value": "py-5"
    },
    {
      "key": "Large",
      "value": "py-7"
    }
  ],
  "multiple": false
}]]></Config>
</DataType>