<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d196ca5-91ca-4d02-8e4d-0e1eb73c5aea" Alias="[Dropdown] - Icon Location" Level="2">
  <Info>
    <Name>[Dropdown] - Icon Location</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Prepend",
    "Append"
  ]
}]]></Config>
</DataType>