<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2140cae-94b4-4a03-b5d0-246c25614ea3" Alias="[Dropdown] - Url Target" Level="2">
  <Info>
    <Name>[Dropdown] - Url Target</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "_blank",
    "_self",
    "_parent",
    "_top"
  ]
}]]></Config>
</DataType>