<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e47700d1-3633-4d24-b41b-6cbf0470116f" Alias="[Dropdown] - Padding" Level="2">
  <Info>
    <Name>[Dropdown] - Padding</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "no-padding",
    "small-padding",
    "medium-padding",
    "large-padding"
  ]
}]]></Config>
</DataType>