<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d506b2e1-fb70-4b03-b59a-f9e7386f2693" Alias="[Dropdown] - Margin Options" Level="2">
  <Info>
    <Name>[Dropdown] - Margin Options</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "None",
    "Small",
    "Medium",
    "Large",
    "XL"
  ]
}]]></Config>
</DataType>