<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3795df5f-4e0a-466d-b444-d528b375ae86" Alias="[Dropdown] - Alert Type " Level="2">
  <Info>
    <Name>[Dropdown] - Alert Type </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Info",
    "Warning",
    "Error",
    "Success",
    "Emergency"
  ]
}]]></Config>
</DataType>