<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef11ca80-0296-48f0-9f93-605299f023ba" Alias="[Dropdown] - Site Settings - Theme" Level="1">
  <Info>
    <Name>[Dropdown] - Site Settings - Theme</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Blue",
    "Red",
    "Green"
  ]
}]]></Config>
</DataType>