<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49addd1b-4e3c-4e2d-b3dc-d24d6ab90756" Alias="Engage - Persona Icon Picker" Level="2">
  <Info>
    <Name>Engage - Persona Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Engage</Folder>
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": "6484db76-5e44-401a-8c54-bfa814b958aa",
  "validationLimit": {
    "min": null,
    "max": 1
  }
}]]></Config>
</DataType>