<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29aedd1b-3e4b-4e1d-b3dc-d34d6ab90754" Alias="Engage - Customer Journey Group Color Picker" Level="2">
  <Info>
    <Name>Engage - Customer Journey Group Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Engage</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FC391C",
      "label": "FC391C"
    },
    {
      "value": "FF7F50",
      "label": "FF7F50"
    },
    {
      "value": "1A254F",
      "label": "1A254F"
    },
    {
      "value": "3444B2",
      "label": "3444B2"
    },
    {
      "value": "2C7DFF",
      "label": "2C7DFF"
    },
    {
      "value": "4BB2FF",
      "label": "4BB2FF"
    },
    {
      "value": "8BE9FF",
      "label": "8BE9FF"
    },
    {
      "value": "11BC9B",
      "label": "11BC9B"
    },
    {
      "value": "FFBA00",
      "label": "FFBA00"
    },
    {
      "value": "F5C1BC",
      "label": "F5C1BC"
    },
    {
      "value": "50919A",
      "label": "50919A"
    },
    {
      "value": "8CAC51",
      "label": "8CAC51"
    },
    {
      "value": "C28DC4",
      "label": "C28DC4"
    },
    {
      "value": "6F4DAF",
      "label": "6F4DAF"
    }
  ],
  "useLabel": false
}]]></Config>
</DataType>