<?xml version="1.0" encoding="utf-8"?>
<DataType Key="310bcfb3-c3bc-4dac-b65f-078cbb89abce" Alias="[Form Details Picker] - Umbraco Form" Level="2">
  <Info>
    <Name>[Form Details Picker] - Umbraco Form</Name>
    <EditorAlias>UmbracoForms.FormDetailsPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Missing</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "includeRedirectPicker": true,
  "includeThemePicker": true
}]]></Config>
</DataType>