<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1768af21-421f-4616-9aad-e51ed9cd1f2a" Alias="[Form Picker (Single)] - Umbraco Form" Level="2">
  <Info>
    <Name>[Form Picker (Single)] - Umbraco Form</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>