<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d6ac374-ca5b-4e80-b322-01237641aa6f" Alias="Hero Component - Link - Block Single" Level="1">
  <Info>
    <Name>Hero Component - Link - Block Single</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "08adca68-f562-4d3b-b129-8cfe5e58e5f2",
      "label": "Button Link",
      "settingsElementTypeKey": "08adca68-f562-4d3b-b129-8cfe5e58e5f2"
    }
  ]
}]]></Config>
</DataType>