<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7467a0a-d649-4a47-9474-5ce497c8b5e3" Alias="Home Page - Suggestion Editor - Suggestions" Level="1">
  <Info>
    <Name>Home Page - Suggestion Editor - Suggestions</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.Suggestions</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "disabled": false,
  "maxChars": 50,
  "placeholder": "Write a suggestion"
}]]></Config>
</DataType>