<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7126ec49-27c2-48b6-92d3-5fd41921a070" Alias="Home  - Home Grid - Block Grid" Level="1">
  <Info>
    <Name>Home  - Home Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ca6b1468-ed68-429e-b77c-bda363c43756",
      "allowAtRoot": true,
      "allowInAreas": true,
      "settingsElementTypeKey": "ca6b1468-ed68-429e-b77c-bda363c43756"
    },
    {
      "contentElementTypeKey": "ea96c388-30a3-4dac-b8c0-55a80b42383b",
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [
        {
          "key": "9092b65f-3297-436a-8cd2-76291b82c6ae",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "df1e11bb-82ba-4f71-97ea-33d00e55534d",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>