<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a7649b6-30bf-4302-8fc5-24a6a8422fe9" Alias="Link - CTA Link - Block Single" Level="1">
  <Info>
    <Name>Link - CTA Link - Block Single</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "label": "Button Link",
      "settingsElementTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d"
    }
  ]
}]]></Config>
</DataType>