<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83b1bba6-67bf-4bc0-89ad-0798465befad" Alias="[Media Picker] - Single Image Picker" Level="2">
  <Info>
    <Name>[Media Picker] - Single Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>