<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82124ccb-80b9-4553-b558-f5db488b1597" Alias="[Media Picker] - Single Image" Level="2">
  <Info>
    <Name>[Media Picker] - Single Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>