<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfa2d5ec-06be-4dc9-afce-38c3083f72ba" Alias="[Media Picker] - Single SVG and Image " Level="2">
  <Info>
    <Name>[Media Picker] - Single SVG and Image </Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c,cc07b313-0843-4aa8-bbda-871c8da728c8"
}]]></Config>
</DataType>