<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32f6a68b-e80f-47b5-861f-e8029dfbdf9a" Alias="[Multi URL Picker] - Single Url" Level="2">
  <Info>
    <Name>[Multi URL Picker] - Single Url</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>