<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebf59a3-aa95-4e41-bcc4-6af90bf5ea76" Alias="Navigation Menu - Menu - UmbNav" Level="1">
  <Info>
    <Name>Navigation Menu - Menu - UmbNav</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": true,
  "allowDisplay": true,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 4
}]]></Config>
</DataType>