<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b2e5777-ad95-457c-8f15-b88df90cb3dc" Alias="[Number Input] - Map Embed - Height" Level="2">
  <Info>
    <Name>[Number Input] - Map Embed - Height</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>