<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f0a5c83-38cd-4854-8dea-e6d1fbaff91d" Alias="[Number Input] - Map Embed - Width" Level="1">
  <Info>
    <Name>[Number Input] - Map Embed - Width</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>