<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3174e15d-3a3b-4f01-a9be-76d8c72621fe" Alias="[Number Input] - Icon Size" Level="2">
  <Info>
    <Name>[Number Input] - Icon Size</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>