<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3385209-5f02-4415-9fd4-331fbe78ffd7" Alias="Site Settings - Footer Links - Block List" Level="1">
  <Info>
    <Name>Site Settings - Footer Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "label": "Link"
    }
  ]
}]]></Config>
</DataType>