<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c422ac53-3f46-46d7-b9d0-7057fb460bfb" Alias="[Slider] - Layout Settings Background Color Opacity" Level="2">
  <Info>
    <Name>[Slider] - Layout Settings Background Color Opacity</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 1,
  "initVal2": 1,
  "maxVal": 1,
  "minVal": 0,
  "step": 0.125
}]]></Config>
</DataType>