<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01bf8a4b-9e9a-4685-bfbb-ff31a473e5ad" Alias="[Slider] - Background Shade" Level="2">
  <Info>
    <Name>[Slider] - Background Shade</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 500,
  "initVal2": 500,
  "maxVal": 900,
  "minVal": 100,
  "step": 100
}]]></Config>
</DataType>