<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3607357-2e25-4ab4-b131-e71f3d82664b" Alias="[TinyMCE] - Rich Text Editor Full" Level="2">
  <Info>
    <Name>[TinyMCE] - Rich Text Editor Full</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "searchreplace",
    "accordion",
    "codesample",
    "emoticons",
    "help",
    "insertdatetime",
    "searchreplace",
    "wordcount"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "anchor",
    "table",
    "hr",
    "subscript",
    "superscript",
    "charmap",
    "rtl",
    "ltr",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "link",
    "unlink",
    "accordion",
    "codesample",
    "emoticons",
    "help",
    "insertdatetime",
    "searchreplace",
    "wordcount"
  ]
}]]></Config>
</DataType>