<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7861490c-63fe-44e3-8c14-be71529c1837" Alias="[Toggle] - Alert - Display Icon" Level="2">
  <Info>
    <Name>[Toggle] - Alert - Display Icon</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>