<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b40c9b73-3e64-4808-a610-04ec4aca4575" Alias="[Toggle] Section - Apply Grid Container" Level="1">
  <Info>
    <Name>[Toggle] Section - Apply Grid Container</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "showLabels": false
}]]></Config>
</DataType>