<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c7f30453-3c74-4b44-896b-fdfb53d8fed3" Alias="[Toggle] - Layout Settings - Apply Default Padding " Level="2">
  <Info>
    <Name>[Toggle] - Layout Settings - Apply Default Padding </Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>