<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37545a86-1b67-4e47-8016-d23e62c12365" Alias="[UmbHost Table] - Table" Level="2">
  <Info>
    <Name>[UmbHost Table] - Table</Name>
    <EditorAlias>UmbHost.Tables</EditorAlias>
    <EditorUIAlias>UmbHost.Tables.PropertyEditorUi</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "defaultColumns": 3,
  "defaultRows": 3,
  "enableRichText": true,
  "maxColumns": 0,
  "maxRows": 0,
  "minColumns": 1,
  "minRows": 1,
  "showUseFirstColumnAsHeader": true,
  "showUseFirstRowAsHeader": true
}]]></Config>
</DataType>