<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1f178f7-e811-4f9c-9e5c-1a35f8e03bc1" Alias="[UmbNav] - Side Menu -" Level="1">
  <Info>
    <Name>[UmbNav] - Side Menu -</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": false,
  "allowDescription": false,
  "allowDisplay": false,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideIncludeChildren": false,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 0
}]]></Config>
</DataType>