<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b519962b-289e-415e-a99c-b47e6dbd2890" Alias="[UmbNav] - Side Navigation" Level="2">
  <Info>
    <Name>[UmbNav] - Side Navigation</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": true,
  "allowDescription": true,
  "allowDisplay": true,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideIncludeChildren": false,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 5
}]]></Config>
</DataType>