<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebf59a3-aa95-4e41-bcc4-6af90bf5ea76" Alias="[UmbNav] - Navigation Menu" Level="2">
  <Info>
    <Name>[UmbNav] - Navigation Menu</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": true,
  "allowDisplay": true,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 4
}]]></Config>
</DataType>