<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24bb822a-b59b-4cf0-8eb2-dba93750af11" Alias="[UmbNasv] - Top Navigation" Level="2">
  <Info>
    <Name>[UmbNasv] - Top Navigation</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": false,
  "allowDisplay": false,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 0
}]]></Config>
</DataType>