<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cb0187c-ecd5-4311-ac86-3b6d7294dfba" Alias="Umbraco Form - Theme - Theme Picker" Level="1">
  <Info>
    <Name>Umbraco Form - Theme - Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.ThemePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>