<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12447b52-df90-4d2a-bedf-46dae3a19a51" Alias="Umbraco Form Picker - Form - Form Picker (Single)" Level="1">
  <Info>
    <Name>Umbraco Form Picker - Form - Form Picker (Single)</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>