<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fffe6709-bfce-4441-a209-5bd440647579" Alias="[Webwonders Table Editor] - Table" Level="2">
  <Info>
    <Name>[Webwonders Table Editor] - Table</Name>
    <EditorAlias>Webwonders.TableEditor.PropertyEditorSchema</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Missing</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>