@using Umbraco.Community.UmbNav.Core.Models
@inject ISiteSettingsAccessor siteSettingsAccessor

@{
    var systemSettings = siteSettingsAccessor.Get();
    var navItems = systemSettings.NavigationMenu;
}

@if (navItems.Any())
{
    <ul>
        @foreach (var item in navItems)
        {
            <li>
                <a href="@item.Url" target="@item.Target">@item.Name</a>
            </li>
        }
    </ul>
}