@model CIO_Umbraco_Demo.Views.Partials.Forms.Models.ContactFormViewModel
@using Umbraco.Cms.Web.Common.PublishedModels

@{
    var formSubmittedMessage = TempData["ContactFormSuccess"] as bool? ?? false;
}

@if (!formSubmittedMessage)
{
    @using (Html.BeginUmbracoForm<Controllers.ContactFormController>("Submit", FormMethod.Post, new { @class = "custom-forms-form" }))
    {
        <input type="hidden" asp-for="FormId"/>

        <fieldset>
            <div class="row-fluid">
                <div class="col-md-12">

                    <div class="custom-forms-field">
                        <label for="FirstName" class="custom-forms-label">
                            First Name (required)<span class="custom-forms-indicator">*</span>
                        </label>
                        <input asp-for="FirstName"
                               type="text"
                               id="FirstName"
                               name="FirstName"
                               class="text @(ViewData.ModelState["FirstName"]?.Errors.Count > 0 ? "input-validation-error" : "")"
                               placeholder="Enter your first name"/>
                        <span asp-validation-for="FirstName" class="field-validation-error"></span>
                    </div>

                    <div class="custom-forms-field">
                        <label for="LastName" class="custom-forms-label">
                            Last Name (required)<span class="custom-forms-indicator">*</span>
                        </label>
                        <input asp-for="LastName"
                               type="text"
                               id="LastName"
                               name="LastName"
                               class="text @(ViewData.ModelState["LastName"]?.Errors.Count > 0 ? "input-validation-error" : "")"
                               placeholder="Enter your last name"/>
                        <span asp-validation-for="LastName" class="field-validation-error"></span>
                    </div>

                    <div class="custom-forms-field">
                        <label for="Email" class="custom-forms-label">
                            Email (required)<span class="custom-forms-indicator">*</span>
                        </label>
                        <input asp-for="Email"
                               type="text"
                               id="Email"
                               name="Email"
                               class="text @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "input-validation-error" : "")"
                               placeholder="Enter your email address"/>
                        <span asp-validation-for="Email" class="field-validation-error"></span>
                    </div>

                    <div class="custom-forms-field">
                        <label for="Message" class="custom-forms-label">
                            Message (required)<span class="custom-forms-indicator">*</span>
                        </label>
                        <textarea asp-for="Message"
                                  id="Message"
                                  name="Message"
                                  class="@(ViewData.ModelState["Message"]?.Errors.Count > 0 ? "input-validation-error" : "")"
                                  placeholder="Enter your message"
                                  rows="10"></textarea>
                        <span asp-validation-for="Message" class="field-validation-error"></span>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="custom-forms-navigation row-fluid">
            <div class="col-md-12">
                <input type="submit"
                       class="btn primary"
                       value="Submit"/>
                <input type="reset"
                       class="btn cancel"
                       value="Reset"/>
            </div>
        </div>
    }
}
else
{
    @await Html.PartialAsync("Forms/Views/FormSubmitted", Model.SuccessMessage)
}