@using Umbraco.Community.BlockPreview.Extensions
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridArea>

@{
    var model = Model;
    string? backgroundValue = ViewData["AreaBackgroundColors"]?.ToString();
    string? layoutSpacing = ViewData["LayoutSpacingStyles"]?.ToString(); 


    var areaClasses = $"blockgrid-area area-{Model.ColumnSpan} {Model.Alias}";
    var styleAttribute = backgroundValue != null ? $"background-color:{backgroundValue}" : string.Empty;
  
}

<!-- START - AREA -->
<div class="@areaClasses" style="@styleAttribute; @layoutSpacing">
    @await Html.GetPreviewBlockGridItemsHtmlAsync(Model)
</div>
