<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5baa178-24c9-49a8-a0e0-cefa41d3e5e9" Alias="[BlockGrid] - Header Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Header Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "gridColumns": 12
}]]></Config>
</DataType>