<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8c48953-b54b-477f-9bc1-0662cce3505b" Alias="[BlockGrid] - Banner Content" Level="1">
  <Info>
    <Name>[BlockGrid] - Banner Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "148f841c-f477-4e91-9137-6b0ea21c3b9f",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>