<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3865e8d6-b5ef-4f37-9487-63fb94c42c8f" Alias="[BlockGrid] - Navigation Area" Level="1">
  <Info>
    <Name>[BlockGrid] - Navigation Area</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e60e5522-6de2-4cf7-94a1-c10a97e70247",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>