<?xml version="1.0" encoding="utf-8"?>
<DataType Key="222293d6-6f48-4ac7-91aa-461d1b6b7802" Alias="[BlockList] - Social Links" Level="2">
  <Info>
    <Name>[BlockList] - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e"
    }
  ]
}]]></Config>
</DataType>