<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7582adfd-f1bb-4224-8fcd-50e3f8a5ac3d" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout",
      "key": "dbfd66d8-e6c8-465b-8e86-53e79a588a08"
    },
    {
      "name": "Modules",
      "key": "7e2278bf-4fb6-41a0-9e21-5d406cd567d7"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>