<?xml version="1.0" encoding="utf-8"?>
<DataType Key="305662c4-b48a-47c5-8a0d-026c0ab03688" Alias="[MUP] - Link" Level="2">
  <Info>
    <Name>[MUP] - Link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>