<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c9f4348-a318-40ec-8b47-9a695ccc966b" Alias="button" Level="4">
  <Info>
    <Name>Button</Name>
    <Icon>md-ic_mouse_24px color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Content+Models/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b37b7b81-c02b-41b4-9e81-4365ef9878dd</Key>
      <Name>Background Color</Name>
      <Alias>buttonBackgroundColor</Alias>
      <Definition>8ae9fc43-e4e8-4d17-834c-0850e0828055</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b54994dc-7e46-42af-8770-eb8d451f7a6c</Key>
      <Name>Background Hover Color</Name>
      <Alias>buttonBackgroundHoverColor</Alias>
      <Definition>8ae9fc43-e4e8-4d17-834c-0850e0828055</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d84d5cc3-700d-489e-b997-21ecfa6280b1</Key>
      <Name>Icon</Name>
      <Alias>buttonIcon</Alias>
      <Definition>a9422920-9893-4dbc-9e61-ee1e9266639e</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>797b37ea-2f43-4431-bc5e-0ae18222a9f2</Key>
      <Name>Icon Location</Name>
      <Alias>buttonIconLocation</Alias>
      <Definition>351b5856-b628-4e07-9d9c-259023b29a11</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03a40456-7632-4e9f-894b-5a41a3d28e13</Key>
      <Name>Text</Name>
      <Alias>buttonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58b31c1f-d9f0-4478-810b-f4d796b51428</Key>
      <Name>Text Color</Name>
      <Alias>buttonTextColor</Alias>
      <Definition>8ae9fc43-e4e8-4d17-834c-0850e0828055</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c4b176a-1d36-48a4-9d0e-c401ef465828</Key>
      <Name>Text Hover Color</Name>
      <Alias>buttonTextHoverColor</Alias>
      <Definition>8ae9fc43-e4e8-4d17-834c-0850e0828055</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b6c6535-5017-488a-bba6-6830140e4ec1</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>305662c4-b48a-47c5-8a0d-026c0ab03688</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="buttonContent">Button Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75c5a1a4-a812-4691-84f4-df4e0f97454d</Key>
      <Caption>Button Content</Caption>
      <Alias>buttonContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>