<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd53cb2d-8ce5-477a-aa7c-39ea01bef050" Alias="careers" Level="2">
  <Info>
    <Name>Careers</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0ca8dc4a-e7bd-4b11-9a1f-65d8333b785a">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>Careers</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019be6e8-5a66-784c-a9d7-e31170e8c0e1">Careers</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>