<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d360251-369f-4cbe-988d-cf96fa41a3bb" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-page-add color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="05ca425d-9422-40a1-8d2d-24146dee4e77">layoutSpacing</Composition>
      <Composition Key="5166a39d-63bc-4a42-9b5a-fe7eeaf51fe0">pageBackground</Composition>
      <Composition Key="72a399c6-9f4f-4a12-97dc-0947aa2f2c95">pageBackgroundImage</Composition>
      <Composition Key="9a36dc2a-278e-4336-b307-c3ebf7cbb730">pageContent</Composition>
      <Composition Key="ba8f9fcb-b0a5-457b-8299-0ee2dac80536">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>