<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="506d7386-091f-44d2-b8cf-deb466d2dff9" Alias="forms" Level="3">
  <Info>
    <Name>Subroot</Name>
    <Icon>icon-fa-folder-tree color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="cfdc3e10-2855-4e8b-8797-b17358df1660" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>