<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6ed5f9b-27cb-4cee-8629-6589ec5b6bf0" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-page-add color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="bbef3527-309c-4228-9ac8-ee8f56315ecc">pageBuilder</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c065a-1d99-73a6-9adf-1275845f23b9">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8d360251-369f-4cbe-988d-cf96fa41a3bb" SortOrder="0">contentPage</ContentType>
    <ContentType Key="3603db67-7344-4a3e-91be-db89b2cd96e7" SortOrder="1">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fd2a45c2-b56d-4187-80e6-f449153a40f7</Key>
      <Name>dropdown list</Name>
      <Alias>dropdownList</Alias>
      <Definition>d0d6c964-1004-4531-a90a-1cd0bf99de78</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f861c78-7a16-4c3e-819a-f28bdf99e25f</Key>
      <Name>Suggestion Editor</Name>
      <Alias>suggestionEditor</Alias>
      <Definition>b7467a0a-d649-4a47-9474-5ce497c8b5e3</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9ff3fb03-9f41-4abd-a5ac-d4436800f8f1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>