<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69530950-4d0e-4872-b06e-76c0adc614f5" Alias="home" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="77041fdb-ef75-4c4b-a03f-a19a332c1769" SortOrder="0">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e4710955-acbc-403f-8204-805502d86957</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>41</SortOrder>
      <Tab Alias="pageProperties">Page Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc9f6497-2253-48b9-b331-d22b55258758</Key>
      <Caption>Page Properties</Caption>
      <Alias>pageProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>