<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f0e6d3c-1ce8-4053-87ae-eab575f25785" Alias="layoutSettings" Level="3">
  <Info>
    <Name>Layout Settings</Name>
    <Icon>icon-layout color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layouts/Settings</Folder>
    <Compositions>
      <Composition Key="04f7671a-b816-4917-9716-32c070686a68">layoutBackground</Composition>
      <Composition Key="2c13e91a-1eb7-4833-8e22-85ad1c917e04">layoutBackgroundImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>