<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b18607f1-229c-422e-8db3-31a3764c06cb" Alias="newsroomBlock" Level="4">
  <Info>
    <Name>Newsroom Block</Name>
    <Icon>icon-newspaper color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Content+Models/Blocks</Folder>
    <Compositions>
      <Composition Key="6c9f4348-a318-40ec-8b47-9a695ccc966b">button</Composition>
      <Composition Key="39ae907f-4a0c-409a-a98a-c56a945934ca">newsroomItems</Composition>
      <Composition Key="60bb4e75-a73a-465f-8c5d-281027620f08">sectionHeader</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ae478fa3-e4ef-489a-8a39-2a0b1eb6f4be</Key>
      <Name>Background Color</Name>
      <Alias>newsroomBackgroundColor</Alias>
      <Definition>8ae9fc43-e4e8-4d17-834c-0850e0828055</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62d3b0ec-ee3b-4898-9042-283f3b0ef313</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>