<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a36dc2a-278e-4336-b307-c3ebf7cbb730" Alias="pageContent" Level="2">
  <Info>
    <Name>Page Content</Name>
    <Icon>md-ic_description_24px color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The default content blocks (Block Grid Content )</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1f68be5-95db-418f-b933-a54e323e7607</Key>
      <Name>Block Grid Editor</Name>
      <Alias>contentGrid</Alias>
      <Definition>146363e0-ba04-45ea-a451-0dc369b95b38</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Block Grid Editor allows you to add Layout Blocks consisting of one or more Areas which in turn may contain Feature Blocks such as Text or Images.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>58e445d7-bb90-43dd-815d-ee18b7550dcd</Key>
      <Caption>Page Content</Caption>
      <Alias>pageContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>