<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73d9687e-5b5e-44b5-8087-21e1f51ed086" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019ce2d4-9b9f-7120-ac78-24df0f1d6a64">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>