<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3eda2957-4216-4c3a-a75b-4cc1e587eb5a" Alias="section" Level="4">
  <Info>
    <Name>Section</Name>
    <Icon>md-ic_aspect_ratio_24px color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Content+Models/Blocks</Folder>
    <Compositions>
      <Composition Key="05ca425d-9422-40a1-8d2d-24146dee4e77">layoutSpacing</Composition>
      <Composition Key="5953b29e-1873-4328-ac31-111262eba1f5">sectionBackground</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4f6f5ee5-07df-4d6b-a4c5-7690ad628bd7</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>598b08d1-6590-4dc8-b57d-c09a4edd5585</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc17de3d-bcf1-4154-a68f-46adf524cd6f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>