<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3603db67-7344-4a3e-91be-db89b2cd96e7" Alias="siteSettings" Level="1">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="aca0071f-3f0d-4218-b79f-ee05f450bbc5">bannerProperties</Composition>
      <Composition Key="aea4aade-40a6-4b90-adcf-d450dce456e1">footerProperties</Composition>
      <Composition Key="f11b5a29-42a4-4113-b8a1-a96df725b48c">headerProperties</Composition>
      <Composition Key="e60e5522-6de2-4cf7-94a1-c10a97e70247">navigationMenu</Composition>
      <Composition Key="74184be5-0600-4741-9558-b54798334ed1">seoProperties</Composition>
      <Composition Key="33a316aa-a378-439c-b2f8-df13e4882df8">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>