<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c419d65-2b67-4aa8-9495-c44544c3c97b" Alias="Board_Room" Level="2">
  <Info>
    <Parent Key="ed70b217-faf3-47f7-ad90-6a3b9c218ac1">images</Parent>
    <Path>/images/Board_Room</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T19:00:56</CreateDate>
    <NodeName Default="Board_Room" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3jlbpsqo/board_room.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>