<?xml version="1.0" encoding="utf-8"?>
<Media Key="f17d8df8-8894-427a-b924-aa435e2ac9df" Alias="cio_header_logo" Level="2">
  <Info>
    <Parent Key="49a7f008-923e-4b89-9acd-99c87b2e1b94">svgs</Parent>
    <Path>/svgs/cio_header_logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-22T18:59:07</CreateDate>
    <NodeName Default="cio_header_logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/biyn4e2p/cio_header_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>