<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e973f3d-5df1-400a-b39d-5224dc34b2b3" Alias="facebook" Level="2">
  <Info>
    <Parent Key="49a7f008-923e-4b89-9acd-99c87b2e1b94">svgs</Parent>
    <Path>/svgs/facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-22T18:59:30</CreateDate>
    <NodeName Default="facebook" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4bdlhhk/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>