<?xml version="1.0" encoding="utf-8"?>
<Media Key="edbcc4d0-1b2b-4265-9ced-a66461ebc1bb" Alias="files" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-22T18:53:42</CreateDate>
    <NodeName Default="files" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>