<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3fc9ea0-d219-4cb7-b626-94f4d97b6541" Alias="OCIO Administrative Org Chart" Level="2">
  <Info>
    <Parent Key="edbcc4d0-1b2b-4265-9ced-a66461ebc1bb">files</Parent>
    <Path>/files/OCIOAdministrativeOrgChart</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-01-22T20:57:32</CreateDate>
    <NodeName Default="OCIO Administrative Org Chart" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kp1ao2z4/administration-org-chart.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>