<?xml version="1.0" encoding="utf-8"?>
<Media Key="49a7f008-923e-4b89-9acd-99c87b2e1b94" Alias="svgs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svgs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-01-22T18:53:32</CreateDate>
    <NodeName Default="svgs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>