@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
    var siteSettings = Model.Root().FirstChild<SiteSettings>();

     var bannerText = siteSettings?.BannerText ?? string.Empty;
     var bannerIcon = siteSettings?.BannerIcon?.Url();
}
<div class='cio-banner'>
    <section class='cio-banner__section' aria-label='Official government website'>
        <div class='cio-banner__container'>           
            @if(bannerIcon is not null){<img src="@bannerIcon" width="19" height="13"/>}<p class='cio-banner__text'>@bannerText</p>
        </div>
    </section>
</div>
