@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
    var siteSettings = Model.Root().FirstChild<SiteSettings>();
     var headerLogo = siteSettings?.HeaderLogo;
}

<header class='cio-header'>
    <a href='/' aria-label='Home' class='cio-header__logo-link'>
        <img src="@headerLogo?.Content?.Url()" alt="..." class='cio-header__logo-img' />
    </a>
    <section class='cio-header__search'>
        <form>
            <div class='cio-header__search-form'>
                <input type='text' class='cio-header__search-input' />
                <button type='submit' class='cio-header__search-button' aria-label='Search'>
                    <svg-icon src="icons/magnify.svg" svg-width="24" svg-height="24" svg-viewbox="0 0 24 24" svg-fill="#000"></svg-icon>
                </button>
            </div>
        </form>
    </section>
    <button id='menu-toggle' aria-label='Toggle Menu' class='cio-header__menu-toggle'>
        Menu
    </button>
    <!--Non Mobile Menu -->
    @await Html.PartialAsync("navigation/NavigationMenu")

    <!-- Mobile Menu -->
    @await Html.PartialAsync("navigation/MobileMenu")
</header>