@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
    var pageTitle = Model.Value<string>("pageTitle");   
    var metaDescription = Model.Value<string>("metaDescription");
       
}

<!doctype html>
<html lang='en' class='h-full'>
  <head>
    <meta charset='UTF-8' />
    <title>@(pageTitle ?? "Nebraska OCIO | OCIO - Innovation in Technology")</title>
    <link rel='canonical' href='https://cio.nebraska.gov/' />
    <meta name='description' content='@metaDescription' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'
    />
      
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>

  <body class='main-layout'>
   @await Html.PartialAsync("layout/Banner")
   @await Html.PartialAsync("layout/Header")
    <main id='main-content' class='main-content'>
      @RenderBody()
    </main>
   @await Html.PartialAsync("layout/Footer")

   <script src="~/scripts/main.js"></script>
  </body>
</html>
