<?xml version="1.0" encoding="utf-8"?>
<Content Key="a41ccfef-bba3-4718-a13e-b39227812c27" Alias="About" Level="2">
  <Info>
    <Parent Key="446706d7-076b-4a2e-9e74-50c49c090276">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-01T23:33:38</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <titleShort>
      <Value><![CDATA[]]></Value>
    </titleShort>
  </Properties>
</Content>