<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f13d58b-45d9-4018-b027-83b10b372c2a" Alias="Accordion" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/Accordion</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-23T14:32:18</CreateDate>
    <NodeName Default="Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "30ada54a-4b7b-4f12-b85d-94dd011aecd9",
      "values": []
    },
    {
      "contentTypeKey": "160b16b9-b63a-4f04-b66f-138e6eed9e8c",
      "key": "b460db6c-da50-40e0-a8fc-9e5e291b815b",
      "values": [
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "4fcb0adc-e119-4f2d-8021-3b2f2bff74fa",
                "values": [
                  {
                    "alias": "drawerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Drawer 1"
                  },
                  {
                    "alias": "drawerContent",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDrawer 1 Content\u003C/p\u003E\u003Cp\u003ELorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "79c931db-1144-4ccc-a86c-f1d5942d97c6",
                "values": [
                  {
                    "alias": "drawerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Drawer 2"
                  },
                  {
                    "alias": "drawerContent",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDrawer 2 Content\u003C/p\u003E\u003Cp\u003ELorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "adeea06a-806b-456d-a51c-6087583abfb9",
                "values": [
                  {
                    "alias": "drawerTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Drawer 3"
                  },
                  {
                    "alias": "drawerContent",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDrawer 3 Content\u003C/p\u003E\u003Cp\u003ELorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "fe9e8ed8-5c0c-4f98-982d-cd8a1d417c09",
                "values": []
              },
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "413d351b-d568-4afc-ab2d-d0074cb6c2d8",
                "values": []
              },
              {
                "contentTypeKey": "d8d8f061-79f9-4dcd-ad26-b4f8396712bc",
                "key": "8834ed49-62f1-4658-a43e-fbafd2946b32",
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "4fcb0adc-e119-4f2d-8021-3b2f2bff74fa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "79c931db-1144-4ccc-a86c-f1d5942d97c6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "adeea06a-806b-456d-a51c-6087583abfb9",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4fcb0adc-e119-4f2d-8021-3b2f2bff74fa",
                  "contentUdi": null,
                  "settingsKey": "fe9e8ed8-5c0c-4f98-982d-cd8a1d417c09",
                  "settingsUdi": null
                },
                {
                  "contentKey": "79c931db-1144-4ccc-a86c-f1d5942d97c6",
                  "contentUdi": null,
                  "settingsKey": "413d351b-d568-4afc-ab2d-d0074cb6c2d8",
                  "settingsUdi": null
                },
                {
                  "contentKey": "adeea06a-806b-456d-a51c-6087583abfb9",
                  "contentUdi": null,
                  "settingsKey": "8834ed49-62f1-4658-a43e-fbafd2946b32",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "titleColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "contentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "tabColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "tabHoverColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "iconColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "iconBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "useTabAccordion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "7f5247e0-1c74-4cbe-9830-ad2ea57a0bc1",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "da805a69-a1c1-4720-8921-102b57f99c41",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accordion"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "c688a694-a68e-42dc-bd01-e14170d59bfe",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "f3925389-74ad-4eac-bd09-bdc9af9d6d33",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "cb5486e4-6f32-4af0-bba9-3f3500d6c067",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae"
                },
                {
                  "key": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a57bbd0acbc944e3ab97aa697febdc8c",
                  "contentKey": "5bd6d23c-3494-4f83-9a77-997a581d4ea1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c"
                },
                {
                  "key": "0432b51c-da5a-45a7-9255-996baed2c758",
                  "name": "Side Navigation",
                  "url": "/components/side-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/0432b51cda5a45a79255996baed2c758",
                  "contentKey": "96ff46b2-805d-43f4-83bd-2430782250d4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "0432b51c-da5a-45a7-9255-996baed2c758"
                },
                {
                  "key": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c",
                  "name": "Summary Box",
                  "url": "/components/summary-box/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73e408238704d4e97c03d8efe1bca6c",
                  "contentKey": "c4f19c4c-9e04-479f-99da-3b881951581f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c"
                },
                {
                  "key": "14250aad-957a-4600-9952-76f49a56ca81",
                  "name": "Table",
                  "url": "/components/table/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/14250aad957a4600995276f49a56ca81",
                  "contentKey": "abd486a4-37ee-43f5-ac26-90a6c88f6e69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "14250aad-957a-4600-9952-76f49a56ca81"
                },
                {
                  "key": "d09f113b-89e6-44e7-8781-5a09d068fe3d",
                  "name": "YouTube Embed",
                  "url": "/components/youtube-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d09f113b89e644e787815a09d068fe3d",
                  "contentKey": "c5de6bfd-6509-4a74-8b92-356bd7401ca4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "2551ef34-41ef-4f67-963d-aae2089abaf5",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container-fluid"
          ]
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "5cacd3e3-63af-4cc0-8fe6-a85ed98863ed",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "82f1dfad-ef64-4499-b803-298b7d0ddf3b",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "9090b275-4e10-4214-9cca-50c39d7e70da",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "551e7470-bc8c-4584-a0c5-55d0f9d4e9a6",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "9e6bfb5f-0ab2-48c2-a7d3-db7578b5c4ec",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "7d34df30-c393-44db-ae68-1ce645d84438",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "30ada54a-4b7b-4f12-b85d-94dd011aecd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b460db6c-da50-40e0-a8fc-9e5e291b815b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f5247e0-1c74-4cbe-9830-ad2ea57a0bc1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da805a69-a1c1-4720-8921-102b57f99c41",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c688a694-a68e-42dc-bd01-e14170d59bfe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f3925389-74ad-4eac-bd09-bdc9af9d6d33",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3898de36-c3e9-4b61-b377-4a55349ea43e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb5486e4-6f32-4af0-bba9-3f3500d6c067",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "f3925389-74ad-4eac-bd09-bdc9af9d6d33",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9090b275-4e10-4214-9cca-50c39d7e70da",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c688a694-a68e-42dc-bd01-e14170d59bfe",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "82f1dfad-ef64-4499-b803-298b7d0ddf3b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "da805a69-a1c1-4720-8921-102b57f99c41",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "551e7470-bc8c-4584-a0c5-55d0f9d4e9a6",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7f5247e0-1c74-4cbe-9830-ad2ea57a0bc1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5cacd3e3-63af-4cc0-8fe6-a85ed98863ed",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "cb5486e4-6f32-4af0-bba9-3f3500d6c067",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7d34df30-c393-44db-ae68-1ce645d84438",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "b460db6c-da50-40e0-a8fc-9e5e291b815b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9e6bfb5f-0ab2-48c2-a7d3-db7578b5c4ec",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "30ada54a-4b7b-4f12-b85d-94dd011aecd9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2551ef34-41ef-4f67-963d-aae2089abaf5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Accordion Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Accordion Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>