<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc88168d-8edb-439b-b56f-7d1bde52ab31" Alias="Alert" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/Alert</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-24T02:21:23</CreateDate>
    <NodeName Default="Alert" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "eec3db93-09ee-49b8-8da4-10edbb83ec1b",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "77bc6db0-0c0f-4af4-885a-35bce0daf9ef",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "baaccb26-9ff9-4227-a6f4-8bc3898da6f9",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alert"
        }
      ]
    },
    {
      "contentTypeKey": "4722cbe7-90a5-4b8b-80d0-8d56095ff7e3",
      "key": "9a3d2da2-8548-444f-8114-1da84b0262e3",
      "values": [
        {
          "alias": "alertType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Info"
          ]
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Info Alert"
        },
        {
          "alias": "bodyText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThis is the body text\u003C/p\u003E"
          }
        },
        {
          "alias": "displayIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "slimAlert",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "d468b9d8-40b1-4916-9422-c0c0f0b23e04",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae"
                },
                {
                  "key": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a57bbd0acbc944e3ab97aa697febdc8c",
                  "contentKey": "5bd6d23c-3494-4f83-9a77-997a581d4ea1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c"
                },
                {
                  "key": "0432b51c-da5a-45a7-9255-996baed2c758",
                  "name": "Side Navigation",
                  "url": "/components/side-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/0432b51cda5a45a79255996baed2c758",
                  "contentKey": "96ff46b2-805d-43f4-83bd-2430782250d4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "0432b51c-da5a-45a7-9255-996baed2c758"
                },
                {
                  "key": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c",
                  "name": "Summary Box",
                  "url": "/components/summary-box/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73e408238704d4e97c03d8efe1bca6c",
                  "contentKey": "c4f19c4c-9e04-479f-99da-3b881951581f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c"
                },
                {
                  "key": "14250aad-957a-4600-9952-76f49a56ca81",
                  "name": "Table",
                  "url": "/components/table/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/14250aad957a4600995276f49a56ca81",
                  "contentKey": "abd486a4-37ee-43f5-ac26-90a6c88f6e69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "14250aad-957a-4600-9952-76f49a56ca81"
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c06ddd09-48d7-433e-928a-af1587220c2f",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "3676b89f-546b-4156-be61-348b80a48d02",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ad55d6af-137f-4773-8370-8600a9f698ad",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "36de8ffa-89f6-46c9-aba7-53b8a2b09413",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c7db25b6-a373-45b2-a965-e398d15e853d",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "eec3db93-09ee-49b8-8da4-10edbb83ec1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "77bc6db0-0c0f-4af4-885a-35bce0daf9ef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "baaccb26-9ff9-4227-a6f4-8bc3898da6f9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a3d2da2-8548-444f-8114-1da84b0262e3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "baaccb26-9ff9-4227-a6f4-8bc3898da6f9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ad55d6af-137f-4773-8370-8600a9f698ad",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "77bc6db0-0c0f-4af4-885a-35bce0daf9ef",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3676b89f-546b-4156-be61-348b80a48d02",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "d468b9d8-40b1-4916-9422-c0c0f0b23e04",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c7db25b6-a373-45b2-a965-e398d15e853d",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "9a3d2da2-8548-444f-8114-1da84b0262e3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "36de8ffa-89f6-46c9-aba7-53b8a2b09413",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "eec3db93-09ee-49b8-8da4-10edbb83ec1b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c06ddd09-48d7-433e-928a-af1587220c2f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Alert Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Alert Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>