<?xml version="1.0" encoding="utf-8"?>
<Content Key="15acf62b-a0cc-46de-8e95-56fa472e67a5" Alias="Backdrop Grid" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/BackdropGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-24T17:57:46</CreateDate>
    <NodeName Default="Backdrop Grid" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "50205698-47ef-443c-aca4-400eb094777a",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Backdrop Grid"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "10433b5d-902a-40a5-8566-58e113971dd7",
      "values": []
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "6f85328d-668f-4411-b2d1-9bb0bd2b7c6e",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f5d25fd0-d7ed-4b1a-89eb-a4fa2cae4ddd",
      "key": "546c3870-b34b-47f7-8ba4-26560e92059f",
      "values": [
        {
          "alias": "cards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2d25332b-0eea-4a7d-a61c-8daa2cd4db62",
                        "mediaKey": "01dac930-6240-4517-aaeb-b5a7052a2776",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "nebraska.org",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "155c63fa-fb86-4e05-af5d-04cda8fabcff",
                        "mediaKey": "d9667314-efe6-4e83-aeef-8255403cbb8d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "www.nebraska.gov",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  }
                ]
              },
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71a7df02-208b-48ff-a6cf-617e62c443d4",
                        "mediaKey": "2f5705fa-4fdd-45d6-976e-cab9d3c7d3d2",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "www.nebraska.gov",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "9b3dd9f0-158a-4ca0-a3a1-4ea5b655b851",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "86bc1188-99a5-48fa-b7a3-4d56d57600c9",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50205698-47ef-443c-aca4-400eb094777a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "10433b5d-902a-40a5-8566-58e113971dd7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6f85328d-668f-4411-b2d1-9bb0bd2b7c6e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "546c3870-b34b-47f7-8ba4-26560e92059f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "50205698-47ef-443c-aca4-400eb094777a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9b3dd9f0-158a-4ca0-a3a1-4ea5b655b851",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "6f85328d-668f-4411-b2d1-9bb0bd2b7c6e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "546c3870-b34b-47f7-8ba4-26560e92059f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "10433b5d-902a-40a5-8566-58e113971dd7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "86bc1188-99a5-48fa-b7a3-4d56d57600c9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Backdrop Grid Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Backdrop Grid Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>