<?xml version="1.0" encoding="utf-8"?>
<Content Key="15acf62b-a0cc-46de-8e95-56fa472e67a5" Alias="Backdrop Grid" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/BackdropGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-24T17:57:46</CreateDate>
    <NodeName Default="Backdrop Grid" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "50205698-47ef-443c-aca4-400eb094777a",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Backdrop Grid"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "10433b5d-902a-40a5-8566-58e113971dd7",
      "values": []
    },
    {
      "contentTypeKey": "f5d25fd0-d7ed-4b1a-89eb-a4fa2cae4ddd",
      "key": "546c3870-b34b-47f7-8ba4-26560e92059f",
      "values": [
        {
          "alias": "cards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2d25332b-0eea-4a7d-a61c-8daa2cd4db62",
                        "mediaKey": "01dac930-6240-4517-aaeb-b5a7052a2776",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "nebraska.org",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "155c63fa-fb86-4e05-af5d-04cda8fabcff",
                        "mediaKey": "d9667314-efe6-4e83-aeef-8255403cbb8d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "www.nebraska.gov",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  }
                ]
              },
              {
                "contentTypeKey": "bc35647e-b75d-46b8-9b11-15c82783135e",
                "key": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heading"
                  },
                  {
                    "alias": "date",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "DATE/METADATA"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. "
                  },
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "71a7df02-208b-48ff-a6cf-617e62c443d4",
                        "mediaKey": "2f5705fa-4fdd-45d6-976e-cab9d3c7d3d2",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "www.nebraska.gov",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.nebraska.gov",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "ctaText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Call to Action"
                  },
                  {
                    "alias": "displayCtaButton",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c0951474-a7e6-4e6c-8b7e-c81608b4123e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1efa69b7-f2bf-435c-aff0-498cdf710e6b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7c37429b-7ea4-4d6f-b727-6d820cb91fe7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "78da5be5-763e-4b4f-b9d2-a6bc5ad74a7e",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae"
                },
                {
                  "key": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a57bbd0acbc944e3ab97aa697febdc8c",
                  "contentKey": "5bd6d23c-3494-4f83-9a77-997a581d4ea1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c"
                },
                {
                  "key": "0432b51c-da5a-45a7-9255-996baed2c758",
                  "name": "Side Navigation",
                  "url": "/components/side-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/0432b51cda5a45a79255996baed2c758",
                  "contentKey": "96ff46b2-805d-43f4-83bd-2430782250d4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "0432b51c-da5a-45a7-9255-996baed2c758"
                },
                {
                  "key": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c",
                  "name": "Summary Box",
                  "url": "/components/summary-box/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73e408238704d4e97c03d8efe1bca6c",
                  "contentKey": "c4f19c4c-9e04-479f-99da-3b881951581f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c"
                },
                {
                  "key": "14250aad-957a-4600-9952-76f49a56ca81",
                  "name": "Table",
                  "url": "/components/table/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/14250aad957a4600995276f49a56ca81",
                  "contentKey": "abd486a4-37ee-43f5-ac26-90a6c88f6e69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "14250aad-957a-4600-9952-76f49a56ca81"
                },
                {
                  "key": "d09f113b-89e6-44e7-8781-5a09d068fe3d",
                  "name": "YouTube Embed",
                  "url": "/components/youtube-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d09f113b89e644e787815a09d068fe3d",
                  "contentKey": "c5de6bfd-6509-4a74-8b92-356bd7401ca4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d09f113b-89e6-44e7-8781-5a09d068fe3d"
                },
                {
                  "key": "3e46cb65-abda-40db-9f9c-ba937eb372d1",
                  "name": "Calendar",
                  "url": "/components/calendar/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/3e46cb65abda40db9f9cba937eb372d1",
                  "contentKey": "e2a8933d-290e-4749-8562-ae94aebd27ab",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "0c87ebc6-d5e9-4103-ada5-768327cfc484",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "0a46224d-3445-4161-aa9f-b80d49beef75",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "9b3dd9f0-158a-4ca0-a3a1-4ea5b655b851",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "86bc1188-99a5-48fa-b7a3-4d56d57600c9",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "c04ffe2d-52ea-496d-a00c-2af05a412c4d",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "4ce84a10-9888-473e-b567-c5864c6026f3",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "90e60bef-e46d-4375-a308-8d4920c3f681",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c1679792-2e23-4e70-ad82-9fa940ce08c3",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Light",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "cf6e9895-001f-4187-9397-ac63edcb0fde",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50205698-47ef-443c-aca4-400eb094777a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "10433b5d-902a-40a5-8566-58e113971dd7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "546c3870-b34b-47f7-8ba4-26560e92059f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "78da5be5-763e-4b4f-b9d2-a6bc5ad74a7e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0c87ebc6-d5e9-4103-ada5-768327cfc484",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0a46224d-3445-4161-aa9f-b80d49beef75",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0a46224d-3445-4161-aa9f-b80d49beef75",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cf6e9895-001f-4187-9397-ac63edcb0fde",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0c87ebc6-d5e9-4103-ada5-768327cfc484",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c1679792-2e23-4e70-ad82-9fa940ce08c3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "50205698-47ef-443c-aca4-400eb094777a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c04ffe2d-52ea-496d-a00c-2af05a412c4d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f614d828-e88c-430c-9a4a-e04f8a7da43a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9b3dd9f0-158a-4ca0-a3a1-4ea5b655b851",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "78da5be5-763e-4b4f-b9d2-a6bc5ad74a7e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "90e60bef-e46d-4375-a308-8d4920c3f681",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "546c3870-b34b-47f7-8ba4-26560e92059f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4ce84a10-9888-473e-b567-c5864c6026f3",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "10433b5d-902a-40a5-8566-58e113971dd7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "86bc1188-99a5-48fa-b7a3-4d56d57600c9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Backdrop Grid Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Backdrop Grid Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>