<?xml version="1.0" encoding="utf-8"?>
<Content Key="47351a60-2b52-411d-8f55-30b4c2739ac3" Alias="Backdrop Grid" Level="3">
  <Info>
    <Parent Key="25cdf838-9abd-4db1-a348-cb96e34bb65f">Components</Parent>
    <Path>/Home/Components/BackdropGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-16T20:57:59</CreateDate>
    <NodeName Default="Backdrop Grid" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b17c6d45-dc9b-4e32-9b65-87c37b6924f2",
      "key": "4e98a811-b7e5-423b-a8ca-0a7e2ccff6a5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "81c0aba1-271c-4f2f-86df-3a3a34d778b4",
      "key": "1c5ccc37-7f54-4211-88bb-e376e60cee8d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "95e13c4b-a48f-4d28-bcf8-1fd5480f60b8",
      "key": "b3de85f2-6b4f-4d37-92c8-84dde64de1fa",
      "udi": null,
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "51787dae-9633-4359-97bb-a0881498fe69",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-page-add color-light-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/51787dae9633435997bba0881498fe69",
              "contentKey": "25cdf838-9abd-4db1-a348-cb96e34bb65f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "12340170-188f-48df-97e9-cb78ef3d684d",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/12340170188f48df97e9cb78ef3d684d",
                  "contentKey": "9c88abcd-f92a-451b-912c-9f2e5fae1c6b",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "7166ee91-d92f-4995-9100-df7fb55ff8c3",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7166ee91d92f49959100df7fb55ff8c3",
                  "contentKey": "21eb1490-4708-4400-86e7-9aa295e8d529",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "a462766d-8011-4ff3-ba8a-6b5dc08a7bff",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a462766d80114ff3ba8a6b5dc08a7bff",
                  "contentKey": "47351a60-2b52-411d-8f55-30b4c2739ac3",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "2b59c3f7-df0e-48ee-9217-06a2376260e3",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2b59c3f7df0e48ee921706a2376260e3",
                  "contentKey": "1bfd5778-1e60-4869-825f-b7e3230094d3",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "0667eeeb-4089-4a83-a0fc-38f14057f9e5",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/0667eeeb40894a83a0fc38f14057f9e5",
                  "contentKey": "a89d6144-621c-49e5-a577-a8f7f2b7a166",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "7309dff0-5a5e-4705-bd94-44d576ead2ab",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7309dff05a5e4705bd9444d576ead2ab",
                  "contentKey": "9eddaa17-7fc9-43f6-955a-368f11a868e8",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "e4277886-69c5-4e3c-b88d-221a9eb4c63a",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/e427788669c54e3cb88d221a9eb4c63a",
                  "contentKey": "563165e8-a78f-492d-b49c-688b72ba66ed",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "d77112f4-a3ff-4fc4-a601-856ba21460aa",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d77112f4a3ff4fc4a601856ba21460aa",
                  "contentKey": "6b6eb2ac-0489-43dc-b65f-ddcf9c21a013",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "a3573b9e-f67e-4063-b25b-611743557fc7",
                  "name": "Form",
                  "url": "/components/form/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a3573b9ef67e4063b25b611743557fc7",
                  "contentKey": "81aa09c5-e447-4278-a5dc-36daf85d0b00",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "3492bbd3-4621-4760-b300-a002bedbcb84",
                  "name": "Global Components",
                  "url": "/components/global-components/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/3492bbd346214760b300a002bedbcb84",
                  "contentKey": "30a4f98a-68b1-4f3e-adbc-32e66b06ce9d",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [
                    {
                      "key": "50d8047e-0a2a-4e68-bae0-9257622c9c7f",
                      "name": "Footer",
                      "url": "/components/global-components/footer/",
                      "icon": "icon-page-add color-light-blue",
                      "itemType": "Document",
                      "target": "",
                      "published": true,
                      "udi": "umb://document/50d8047e0a2a4e68bae09257622c9c7f",
                      "contentKey": "9f652514-76dc-49a7-80ff-d2a2f022db32",
                      "anchor": "",
                      "customClasses": "",
                      "hideLoggedIn": false,
                      "hideLoggedOut": false,
                      "noreferrer": "",
                      "noopener": "",
                      "image": [],
                      "children": [],
                      "depth": 3
                    },
                    {
                      "key": "39cf058d-3cde-4e52-aece-ec4e754271ae",
                      "name": "Header Nav",
                      "url": "/components/global-components/header-nav/",
                      "icon": "icon-page-add color-light-blue",
                      "itemType": "Document",
                      "target": "",
                      "published": true,
                      "udi": "umb://document/39cf058d3cde4e52aeceec4e754271ae",
                      "contentKey": "c7752337-07ad-4165-96e5-dddc8cc30e6d",
                      "anchor": "",
                      "customClasses": "",
                      "hideLoggedIn": false,
                      "hideLoggedOut": false,
                      "noreferrer": "",
                      "noopener": "",
                      "image": [],
                      "children": [],
                      "depth": 3
                    },
                    {
                      "key": "1d6d032d-f081-438e-bef6-ed6c6f51ffa4",
                      "name": "Site Alert",
                      "url": "/components/global-components/site-alert/",
                      "icon": "icon-page-add color-light-blue",
                      "itemType": "Document",
                      "target": "",
                      "published": true,
                      "udi": "umb://document/1d6d032df081438ebef6ed6c6f51ffa4",
                      "contentKey": "cb324ada-e9ab-4392-bbc9-8f8e06fb4048",
                      "anchor": "",
                      "customClasses": "",
                      "hideLoggedIn": false,
                      "hideLoggedOut": false,
                      "noreferrer": "",
                      "noopener": "",
                      "image": [],
                      "children": [],
                      "depth": 3
                    }
                  ],
                  "depth": 2
                },
                {
                  "key": "60f131e0-c234-406f-89e9-b277df516615",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/60f131e0c234406f89e9b277df516615",
                  "contentKey": "52cd992b-3dda-4aa3-91cc-8c255d245074",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "25eb2682-8baa-4c8f-8e56-cc6eeae30c7d",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/25eb26828baa4c8f8e56cc6eeae30c7d",
                  "contentKey": "f2ed4925-44e3-4a36-b701-96a83c21956d",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "abfaf94b-e3ab-4822-b10e-9abfc2675ace",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/abfaf94be3ab4822b10e9abfc2675ace",
                  "contentKey": "b094c94e-6368-4451-8f22-a3c213ddacfa",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "c8310345-00d4-474f-83d8-3ee50b00d52f",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c831034500d4474f83d83ee50b00d52f",
                  "contentKey": "97df2b9b-3d65-4df5-afec-ca40d368f946",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "b271fc6b-38e8-449a-ad07-3eeff700b0bb",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b271fc6b38e8449aad073eeff700b0bb",
                  "contentKey": "cf08571b-352b-4e55-9eb4-5e3bdfb982bd",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "6308056e-a4a6-4df9-92ea-ff20339b005c",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6308056ea4a64df992eaff20339b005c",
                  "contentKey": "9f24f27d-62b7-4c09-99a6-090f723b5ffc",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "d2f1a639-63d5-4a5a-84e1-15ecd353ced4",
                  "name": "Intro Block",
                  "url": "/components/intro-block/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d2f1a63963d54a5a84e115ecd353ced4",
                  "contentKey": "87456fda-fd84-4be5-9f10-e7a25920491a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "c218b91d-e4a5-4c1a-8d0c-fad8bc53f2d8",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c218b91de4a54c1a8d0cfad8bc53f2d8",
                  "contentKey": "bc90ad82-e29f-4ad2-b79c-08350560c58f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "d5261746-e2bb-4688-bbf3-91d68b847f1f",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d5261746e2bb4688bbf391d68b847f1f",
                  "contentKey": "bc90ad82-e29f-4ad2-b79c-08350560c58f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "980caddc-f090-4471-8fc8-a13145029f2e",
                  "name": "List",
                  "url": "/components/list/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/980caddcf09044718fc8a13145029f2e",
                  "contentKey": "eaf20fac-bd15-4bbd-8693-5dca9f30e90d",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "e3f70976-f08c-4a4e-9c3c-71dc3484ab0c",
                  "name": "Manual Collection",
                  "url": "/components/manual-collection/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/e3f70976f08c4a4e9c3c71dc3484ab0c",
                  "contentKey": "75533e35-db57-456d-aaba-8210ef1cce75",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "741b75ad-7cf9-4c0c-81ef-a8b00eaecf06",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/741b75ad7cf94c0c81efa8b00eaecf06",
                  "contentKey": "4ffd56fb-31cf-4cf0-a5b2-eaddc42913f3",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "b502a8f4-2620-428f-b942-92e8a44a71dc",
                  "name": "Section Metadata",
                  "url": "/components/section-metadata/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b502a8f42620428fb94292e8a44a71dc",
                  "contentKey": "5a06c55c-2a16-4f1e-b490-ee8ba449ebd1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "eab85010-196c-4cb2-a502-596fe0e3bdd7",
                  "name": "Sidebar",
                  "url": "/components/sidebar/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/eab85010196c4cb2a502596fe0e3bdd7",
                  "contentKey": "dab0cc02-3529-4c19-925a-8b8d29fba198",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "170f75d7-a480-44a3-a4e5-7dfa018546c8",
                  "name": "Side Navigation",
                  "url": "/components/side-navigation/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/170f75d7a48044a3a4e57dfa018546c8",
                  "contentKey": "7d5bcec6-6c08-4667-9314-52b850c30682",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "8b4678b6-8cc9-4a64-9190-7936918e1cc4",
                  "name": "Stylized Headings",
                  "url": "/components/stylized-headings/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/8b4678b68cc94a6491907936918e1cc4",
                  "contentKey": "90dc4a5e-fc7d-4def-afb9-8c982e7a49b2",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "7c488027-2ef0-44a3-b133-f53611e11be0",
                  "name": "Summary Box",
                  "url": "/components/summary-box/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7c4880272ef044a3b133f53611e11be0",
                  "contentKey": "57cbf9c9-2141-446e-829a-bded43cf15af",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "96b4fc19-a7a6-45a9-980c-3453cd7f4cf7",
                  "name": "Table",
                  "url": "/components/table/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/96b4fc19a7a645a9980c3453cd7f4cf7",
                  "contentKey": "d8179091-34e7-4166-860a-a1f7cc11ef49",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "49b14fe1-0185-4214-a492-f0e1fb2b56b5",
                  "name": "YouTube Embed",
                  "url": "/components/youtube-embed/",
                  "icon": "icon-page-add color-light-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/49b14fe101854214a492f0e1fb2b56b5",
                  "contentKey": "0cb8d10a-3ba7-44cc-b19e-98fdaea5738f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "key": "c32b95d7-cf66-4b21-9ba6-e16e6fa2f519",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4e98a811-b7e5-423b-a8ca-0a7e2ccff6a5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1c5ccc37-7f54-4211-88bb-e376e60cee8d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b3de85f2-6b4f-4d37-92c8-84dde64de1fa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 2,
                        "contentKey": "b3de85f2-6b4f-4d37-92c8-84dde64de1fa",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "a1419d95-8084-4e54-a3a2-9ac5d81ad537"
                  },
                  {
                    "items": [],
                    "key": "66baf4b3-ff48-4620-971b-948e225f9471"
                  }
                ],
                "columnSpan": 3,
                "contentKey": "1c5ccc37-7f54-4211-88bb-e376e60cee8d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "7bff42d8-70e5-476f-ad63-09df79bd80a1"
          },
          {
            "items": [],
            "key": "1008c521-27cc-456f-b34b-a0841a7a8325"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4e98a811-b7e5-423b-a8ca-0a7e2ccff6a5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c32b95d7-cf66-4b21-9ba6-e16e6fa2f519",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[Backdrop Grid Component]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Backdrop Grid]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[Backdrop Grid]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>