<?xml version="1.0" encoding="utf-8"?>
<Content Key="49eaf9e5-4038-4188-81da-5dfcfd92e30d" Alias="Careers" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/Careers</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-20T21:58:42</CreateDate>
    <NodeName Default="Careers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Careers]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Careers]]></Value>
    </pageTitleShort>
  </Properties>
</Content>