<?xml version="1.0" encoding="utf-8"?>
<Content Key="fde051fb-ccd2-4916-96e0-b8c0406e0b67" Alias="Careers" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/Careers</Path>
    <Trashed>false</Trashed>
    <ContentType>careers</ContentType>
    <CreateDate>2026-01-22T19:07:35</CreateDate>
    <NodeName Default="Careers" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6e8-5a66-784c-a9d7-e31170e8c0e1">Careers</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Careers]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Careers]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Careers at the OCIO]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Careers]]></Value>
    </pageTitle>
  </Properties>
</Content>