<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f" Alias="Components" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/Components</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-23T14:27:44</CreateDate>
    <NodeName Default="Components" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "32e7ef00-bebf-4c97-976a-a6bbec1a369c",
      "values": []
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "86c6a390-d655-44e1-bc15-b16a2aa72a6c",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "eedf0dba-8345-4510-865b-0dd3a88811de",
      "key": "3924ba91-c684-4b35-8434-0587d7b96b6e",
      "values": [
        {
          "alias": "numberCardsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "3"
          ]
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "5c05b838-4c21-470e-a443-5f06389a0dda",
                "values": [
                  {
                    "alias": "backgroundImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Accordion"
                  },
                  {
                    "alias": "headingColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "headingHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Accordion",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/8f13d58b45d94018b02783b10b372c2a",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "18baabf4-666b-45a7-bca6-bbe933190986",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "borderColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "c8835975-9538-4d0d-9a43-30954a7235c4",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Alert"
                  },
                  {
                    "alias": "headingColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "headingHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Alert",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/bc88168d8edb439bb56f7d1bde52ab31",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "75bb3178-de3e-426a-8942-aff0616eb157",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "borderColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "warning",
                      "value": "#ffc44d"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "bdd75f00-ac50-4760-bd81-b25812a7b5aa",
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Accordion",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/8f13d58b45d94018b02783b10b372c2a",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "eebda62a-da0a-4f02-8198-384172b211d2",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "274082c7-1670-4b4f-99e0-1989dda3f7e9",
                "values": [
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Alert",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/bc88168d8edb439bb56f7d1bde52ab31",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6c477a41-9f97-43b1-9a16-f44240980756",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "5c05b838-4c21-470e-a443-5f06389a0dda",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c8835975-9538-4d0d-9a43-30954a7235c4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5c05b838-4c21-470e-a443-5f06389a0dda",
                  "contentUdi": null,
                  "settingsKey": "bdd75f00-ac50-4760-bd81-b25812a7b5aa",
                  "settingsUdi": null
                },
                {
                  "contentKey": "c8835975-9538-4d0d-9a43-30954a7235c4",
                  "contentUdi": null,
                  "settingsKey": "274082c7-1670-4b4f-99e0-1989dda3f7e9",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ac4890f0-1a2b-4c74-a5bb-952fdce41933",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "32e7ef00-bebf-4c97-976a-a6bbec1a369c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "86c6a390-d655-44e1-bc15-b16a2aa72a6c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3924ba91-c684-4b35-8434-0587d7b96b6e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "86c6a390-d655-44e1-bc15-b16a2aa72a6c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "3924ba91-c684-4b35-8434-0587d7b96b6e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "32e7ef00-bebf-4c97-976a-a6bbec1a369c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ac4890f0-1a2b-4c74-a5bb-952fdce41933",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Components]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Components]]></Value>
    </pageTitleShort>
  </Properties>
</Content>