<?xml version="1.0" encoding="utf-8"?>
<Content Key="25cdf838-9abd-4db1-a348-cb96e34bb65f" Alias="Components" Level="2">
  <Info>
    <Parent Key="446706d7-076b-4a2e-9e74-50c49c090276">Home</Parent>
    <Path>/Home/Components</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-16T01:07:45</CreateDate>
    <NodeName Default="Components" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3eda2957-4216-4c3a-a75b-4cc1e587eb5a",
      "key": "5fc39306-acad-482c-8316-4c782a7850bc",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b17c6d45-dc9b-4e32-9b65-87c37b6924f2",
                "key": "9679608f-b1d2-42d9-ba01-98844c835da9",
                "udi": null,
                "values": []
              },
              {
                "contentTypeKey": "95e13c4b-a48f-4d28-bcf8-1fd5480f60b8",
                "key": "0c1307f9-84e9-49e4-8388-47bdd2bcd395",
                "udi": null,
                "values": [
                  {
                    "alias": "sideMenu",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "62ea77e0-d2d4-4f1b-bbcf-2bc08961cc64",
                        "name": "Components",
                        "url": "/components/",
                        "icon": "icon-page-add color-light-blue",
                        "itemType": "Document",
                        "target": "",
                        "published": true,
                        "udi": "umb://document/62ea77e0d2d44f1bbbcf2bc08961cc64",
                        "contentKey": "25cdf838-9abd-4db1-a348-cb96e34bb65f",
                        "anchor": "",
                        "customClasses": "",
                        "hideLoggedIn": false,
                        "hideLoggedOut": false,
                        "noreferrer": "",
                        "noopener": "",
                        "image": [],
                        "children": [
                          {
                            "key": "40e5d708-673c-4d0d-9acb-b82604a3dfa6",
                            "name": "Accordion",
                            "url": "/components/accordion/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/40e5d708673c4d0d9acbb82604a3dfa6",
                            "contentKey": "9c88abcd-f92a-451b-912c-9f2e5fae1c6b",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "40e5d708-673c-4d0d-9acb-b82604a3dfa6"
                          },
                          {
                            "key": "f8aa741e-2a8a-442f-a75e-ea537b6143cc",
                            "name": "Alert",
                            "url": "/components/alert/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/f8aa741e2a8a442fa75eea537b6143cc",
                            "contentKey": "21eb1490-4708-4400-86e7-9aa295e8d529",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "f8aa741e-2a8a-442f-a75e-ea537b6143cc"
                          },
                          {
                            "key": "5c3ea192-1370-4868-a3a9-a08872a185da",
                            "name": "Backdrop Grid",
                            "url": "/components/backdrop-grid/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/5c3ea19213704868a3a9a08872a185da",
                            "contentKey": "47351a60-2b52-411d-8f55-30b4c2739ac3",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "5c3ea192-1370-4868-a3a9-a08872a185da"
                          },
                          {
                            "key": "b6cfca74-ce85-4a3c-94f7-2c596ccf804e",
                            "name": "Breadcrumb",
                            "url": "/components/breadcrumb/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/b6cfca74ce854a3c94f72c596ccf804e",
                            "contentKey": "1bfd5778-1e60-4869-825f-b7e3230094d3",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "b6cfca74-ce85-4a3c-94f7-2c596ccf804e"
                          },
                          {
                            "key": "7f836c01-6a64-4330-9e42-89c2487ee494",
                            "name": "Button",
                            "url": "/components/button/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/7f836c016a6443309e4289c2487ee494",
                            "contentKey": "a89d6144-621c-49e5-a577-a8f7f2b7a166",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "7f836c01-6a64-4330-9e42-89c2487ee494"
                          },
                          {
                            "key": "cdf72650-8108-4749-a8a6-de2595486425",
                            "name": "Carousel",
                            "url": "/components/carousel/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/cdf7265081084749a8a6de2595486425",
                            "contentKey": "9eddaa17-7fc9-43f6-955a-368f11a868e8",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "cdf72650-8108-4749-a8a6-de2595486425"
                          },
                          {
                            "key": "8c118db0-6f28-4c69-a85f-21a34a954b0d",
                            "name": "Embed",
                            "url": "/components/embed/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/8c118db06f284c69a85f21a34a954b0d",
                            "contentKey": "563165e8-a78f-492d-b49c-688b72ba66ed",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "8c118db0-6f28-4c69-a85f-21a34a954b0d"
                          },
                          {
                            "key": "f79f1b2b-9bf7-4d5d-b80a-c4ab8c1b915d",
                            "name": "Figure",
                            "url": "/components/figure/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/f79f1b2b9bf74d5db80ac4ab8c1b915d",
                            "contentKey": "6b6eb2ac-0489-43dc-b65f-ddcf9c21a013",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "f79f1b2b-9bf7-4d5d-b80a-c4ab8c1b915d"
                          },
                          {
                            "key": "7a16073b-b61a-4f8d-8f93-728bf1ab9038",
                            "name": "Form",
                            "url": "/components/form/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/7a16073bb61a4f8d8f93728bf1ab9038",
                            "contentKey": "81aa09c5-e447-4278-a5dc-36daf85d0b00",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2,
                            "unique": "7a16073b-b61a-4f8d-8f93-728bf1ab9038"
                          },
                          {
                            "key": "3cf54333-c403-4ac5-80cf-fe2c788b05b2",
                            "name": "Global Components",
                            "url": "/components/global-components/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/3cf54333c4034ac580cffe2c788b05b2",
                            "contentKey": "30a4f98a-68b1-4f3e-adbc-32e66b06ce9d",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [
                              {
                                "key": "1175502c-5cd0-48a3-85c7-d44c02327fdd",
                                "name": "Footer",
                                "url": "/components/global-components/footer/",
                                "icon": "icon-page-add color-light-blue",
                                "itemType": "Document",
                                "target": "",
                                "published": true,
                                "udi": "umb://document/1175502c5cd048a385c7d44c02327fdd",
                                "contentKey": "9f652514-76dc-49a7-80ff-d2a2f022db32",
                                "anchor": "",
                                "customClasses": "",
                                "hideLoggedIn": false,
                                "hideLoggedOut": false,
                                "noreferrer": "",
                                "noopener": "",
                                "image": [],
                                "children": [],
                                "depth": 3,
                                "unique": "1175502c-5cd0-48a3-85c7-d44c02327fdd"
                              },
                              {
                                "key": "d09515a0-9702-4694-b8a8-3bebd3ad8188",
                                "name": "Header Nav",
                                "url": "/components/global-components/header-nav/",
                                "icon": "icon-page-add color-light-blue",
                                "itemType": "Document",
                                "target": "",
                                "published": true,
                                "udi": "umb://document/d09515a097024694b8a83bebd3ad8188",
                                "contentKey": "c7752337-07ad-4165-96e5-dddc8cc30e6d",
                                "anchor": "",
                                "customClasses": "",
                                "hideLoggedIn": false,
                                "hideLoggedOut": false,
                                "noreferrer": "",
                                "noopener": "",
                                "image": [],
                                "children": [],
                                "depth": 3,
                                "unique": "d09515a0-9702-4694-b8a8-3bebd3ad8188"
                              },
                              {
                                "key": "80d8d9e3-182b-47cb-a2ab-87af8f82286f",
                                "name": "Site Alert",
                                "url": "/components/global-components/site-alert/",
                                "icon": "icon-page-add color-light-blue",
                                "itemType": "Document",
                                "target": "",
                                "published": true,
                                "udi": "umb://document/80d8d9e3182b47cba2ab87af8f82286f",
                                "contentKey": "cb324ada-e9ab-4392-bbc9-8f8e06fb4048",
                                "anchor": "",
                                "customClasses": "",
                                "hideLoggedIn": false,
                                "hideLoggedOut": false,
                                "noreferrer": "",
                                "noopener": "",
                                "image": [],
                                "children": [],
                                "depth": 3,
                                "unique": "80d8d9e3-182b-47cb-a2ab-87af8f82286f"
                              }
                            ],
                            "depth": 2,
                            "unique": "3cf54333-c403-4ac5-80cf-fe2c788b05b2"
                          },
                          {
                            "key": "85da8e1a-0da5-4f68-88a3-ee3b8ee016a2",
                            "name": "Homepage Hero",
                            "url": "/components/homepage-hero/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/85da8e1a0da54f6888a3ee3b8ee016a2",
                            "contentKey": "52cd992b-3dda-4aa3-91cc-8c255d245074",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "88c86151-2187-4c33-a6e6-1a77f4aa3a9a",
                            "name": "Icon Button Grid",
                            "url": "/components/icon-button-grid/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/88c8615121874c33a6e61a77f4aa3a9a",
                            "contentKey": "f2ed4925-44e3-4a36-b701-96a83c21956d",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "90a11ca3-afa9-4f49-ac32-3c2d90d0f8da",
                            "name": "Icon List",
                            "url": "/components/icon-list/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/90a11ca3afa94f49ac323c2d90d0f8da",
                            "contentKey": "b094c94e-6368-4451-8f22-a3c213ddacfa",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "0a663fa3-3cab-48a8-ade2-072a076d12a8",
                            "name": "In-page Navigation",
                            "url": "/components/in-page-navigation/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/0a663fa33cab48a8ade2072a076d12a8",
                            "contentKey": "97df2b9b-3d65-4df5-afec-ca40d368f946",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "b9923fe7-2a02-46cb-a363-d5def7e8f8fe",
                            "name": "Info Card Grid",
                            "url": "/components/info-card-grid/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/b9923fe72a0246cba363d5def7e8f8fe",
                            "contentKey": "cf08571b-352b-4e55-9eb4-5e3bdfb982bd",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "d34b4e02-ed02-4402-b667-755ae98a2118",
                            "name": "Interior Hero",
                            "url": "/components/interior-hero/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/d34b4e02ed024402b667755ae98a2118",
                            "contentKey": "9f24f27d-62b7-4c09-99a6-090f723b5ffc",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "a01fbce6-9a1f-4233-8c7a-0723d47a81e5",
                            "name": "Intro Block",
                            "url": "/components/intro-block/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/a01fbce69a1f42338c7a0723d47a81e5",
                            "contentKey": "87456fda-fd84-4be5-9f10-e7a25920491a",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "635e8211-d606-4907-8762-1282b49e268d",
                            "name": "Linked Card Grid",
                            "url": "/components/linked-card-grid/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/635e8211d606490787621282b49e268d",
                            "contentKey": "bc90ad82-e29f-4ad2-b79c-08350560c58f",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "34e07973-2b9f-4949-a756-5c3f6bf38919",
                            "name": "List",
                            "url": "/components/list/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/34e079732b9f4949a7565c3f6bf38919",
                            "contentKey": "eaf20fac-bd15-4bbd-8693-5dca9f30e90d",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "120cc40d-1e62-4b59-9432-e3be8179e7af",
                            "name": "Manual Collection",
                            "url": "/components/manual-collection/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/120cc40d1e624b599432e3be8179e7af",
                            "contentKey": "75533e35-db57-456d-aaba-8210ef1cce75",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "da84d3c8-0762-4dcd-b134-137fbfa3e2c2",
                            "name": "Map Embed",
                            "url": "/components/map-embed/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/da84d3c807624dcdb134137fbfa3e2c2",
                            "contentKey": "4ffd56fb-31cf-4cf0-a5b2-eaddc42913f3",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "20795f29-57fb-4db2-bc53-da232f3189f6",
                            "name": "Section Metadata",
                            "url": "/components/section-metadata/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/20795f2957fb4db2bc53da232f3189f6",
                            "contentKey": "5a06c55c-2a16-4f1e-b490-ee8ba449ebd1",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "4dd21502-36b3-4bf5-90c2-ee04533cb0ed",
                            "name": "Sidebar",
                            "url": "/components/sidebar/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/4dd2150236b34bf590c2ee04533cb0ed",
                            "contentKey": "dab0cc02-3529-4c19-925a-8b8d29fba198",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "f2064895-ca9a-4d38-806e-9b7e9d9bd3b0",
                            "name": "Side Navigation",
                            "url": "/components/side-navigation/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/f2064895ca9a4d38806e9b7e9d9bd3b0",
                            "contentKey": "7d5bcec6-6c08-4667-9314-52b850c30682",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "d0aa9092-7b4b-484d-84f1-f144cbaaf770",
                            "name": "Stylized Headings",
                            "url": "/components/stylized-headings/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/d0aa90927b4b484d84f1f144cbaaf770",
                            "contentKey": "90dc4a5e-fc7d-4def-afb9-8c982e7a49b2",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "46cd7d10-4a19-48f6-a362-e2c534090d88",
                            "name": "Summary Box",
                            "url": "/components/summary-box/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/46cd7d104a1948f6a362e2c534090d88",
                            "contentKey": "57cbf9c9-2141-446e-829a-bded43cf15af",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "33745940-49db-4018-9b62-986abbea1c5b",
                            "name": "Table",
                            "url": "/components/table/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/3374594049db40189b62986abbea1c5b",
                            "contentKey": "d8179091-34e7-4166-860a-a1f7cc11ef49",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          },
                          {
                            "key": "3d2a30ae-048c-41d3-acad-aa8682d5da64",
                            "name": "YouTube Embed",
                            "url": "/components/youtube-embed/",
                            "icon": "icon-page-add color-light-blue",
                            "itemType": "Document",
                            "target": "",
                            "published": true,
                            "udi": "umb://document/3d2a30ae048c41d3acadaa8682d5da64",
                            "contentKey": "0cb8d10a-3ba7-44cc-b19e-98fdaea5738f",
                            "anchor": "",
                            "customClasses": "",
                            "hideLoggedIn": false,
                            "hideLoggedOut": false,
                            "noreferrer": "",
                            "noopener": "",
                            "image": [],
                            "children": [],
                            "depth": 2
                          }
                        ],
                        "depth": 1,
                        "unique": "62ea77e0-d2d4-4f1b-bbcf-2bc08961cc64"
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
                "key": "f6dcaa36-c289-4813-99f1-46735a2c4142",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "9679608f-b1d2-42d9-ba01-98844c835da9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0c1307f9-84e9-49e4-8388-47bdd2bcd395",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [
                    {
                      "items": [
                        {
                          "areas": [],
                          "columnSpan": 3,
                          "contentKey": "0c1307f9-84e9-49e4-8388-47bdd2bcd395",
                          "contentUdi": null,
                          "rowSpan": 1,
                          "settingsKey": null,
                          "settingsUdi": null
                        }
                      ],
                      "key": "89f19f7c-ffb5-41c8-9cac-a5c25776d95f"
                    },
                    {
                      "items": [],
                      "key": "5277859c-50ae-4490-b101-7a5ba1a692ff"
                    }
                  ],
                  "columnSpan": 12,
                  "contentKey": "9679608f-b1d2-42d9-ba01-98844c835da9",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "f6dcaa36-c289-4813-99f1-46735a2c4142",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "170fc8cd-b6b6-4016-bc1a-eee3888371ca",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e76b4cc5-f463-4e42-9298-10351eddefab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "576e1b7f-7def-4e4c-88c5-1710004bba8c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5fc39306-acad-482c-8316-4c782a7850bc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "5fc39306-acad-482c-8316-4c782a7850bc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[This page describes the available components]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Components]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[Components]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>