<?xml version="1.0" encoding="utf-8"?>
<Content Key="acb8e1ab-80d2-43dd-a5f4-e64d4a059c4c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-20T22:01:11</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Contact Information]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Contact Information]]></Value>
    </pageTitleShort>
  </Properties>
</Content>