<?xml version="1.0" encoding="utf-8"?>
<Content Key="5135f8a2-2dc2-4520-9d6d-1a361656dc69" Alias="Content Management Systems" Level="3">
  <Info>
    <Parent Key="49eaf9e5-4038-4188-81da-5dfcfd92e30d">Careers</Parent>
    <Path>/Home/Careers/ContentManagementSystems</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:11:17</CreateDate>
    <NodeName Default="Content Management Systems" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "8c8e66a5-3a55-4b64-8d1b-ff41bc9eaac2",
      "values": []
    },
    {
      "contentTypeKey": "e1bdf720-7642-4a3d-b004-b4c5c8d19eff",
      "key": "750a071d-7ef5-4cca-b35a-523411665a00",
      "values": [
        {
          "alias": "headingTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Content Management Systems Web Developer"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "primary-darker",
            "value": "#003A4D"
          }
        },
        {
          "alias": "displayBreadcrumb",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "be180770-2a98-496e-9983-29c0ab30ac07",
              "mediaKey": "97fe0d9a-9a6a-4a65-b434-3d64dc6e2560",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e621bd1d-0ab7-4802-9758-84628d47a66d",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8c8e66a5-3a55-4b64-8d1b-ff41bc9eaac2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "750a071d-7ef5-4cca-b35a-523411665a00",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "750a071d-7ef5-4cca-b35a-523411665a00",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8c8e66a5-3a55-4b64-8d1b-ff41bc9eaac2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e621bd1d-0ab7-4802-9758-84628d47a66d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Content Management Systems]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Content Management Systems]]></Value>
    </pageTitleShort>
  </Properties>
</Content>