<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4ddf3aa-e293-443a-890c-71810501a955" Alias="Figure" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/Figure</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-25T20:39:50</CreateDate>
    <NodeName Default="Figure" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "993d79c1-8b36-4568-bb50-20eb0726cd1b",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "39b73e28-0d05-429d-a528-d0165020c63f",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Figure"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "146b695d-cbb2-4c15-ba18-5aebe0ec5ab5",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "42a0aa44-d85c-4711-8768-7edff89b0a70",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "510ad9ce-2c28-4754-9914-67f3aea82fe1",
      "values": []
    },
    {
      "contentTypeKey": "63f94cfe-9040-40d2-bdb6-e7722f56b89b",
      "key": "0d1a5c0d-1870-41fa-8170-60f066e0bf1f",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1b212f1b-4282-45c8-8cfc-218bf9104f43",
              "mediaKey": "d9667314-efe6-4e83-aeef-8255403cbb8d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The state capital of Nebraska is Lincoln"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "80%"
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "ef5e9095-f4f2-40bc-965a-d1eceeb55561",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae"
                },
                {
                  "key": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a57bbd0acbc944e3ab97aa697febdc8c",
                  "contentKey": "5bd6d23c-3494-4f83-9a77-997a581d4ea1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ca14564f-ba95-4ca2-b313-4d3deb98f758",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "6cacadbb-d998-4f6e-91ce-fd111f87945c",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "38aecffc-1049-430c-acaf-e24ab28b3ed1",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f428d5c0-fd6f-4620-b9c0-34b5cd433ba8",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e706240a-8eff-4d5a-b285-92e28087295a",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e5063c13-63c5-4f59-8927-3b9024360d68",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "993d79c1-8b36-4568-bb50-20eb0726cd1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "39b73e28-0d05-429d-a528-d0165020c63f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "146b695d-cbb2-4c15-ba18-5aebe0ec5ab5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42a0aa44-d85c-4711-8768-7edff89b0a70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "510ad9ce-2c28-4754-9914-67f3aea82fe1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d1a5c0d-1870-41fa-8170-60f066e0bf1f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ef5e9095-f4f2-40bc-965a-d1eceeb55561",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "42a0aa44-d85c-4711-8768-7edff89b0a70",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f428d5c0-fd6f-4620-b9c0-34b5cd433ba8",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "146b695d-cbb2-4c15-ba18-5aebe0ec5ab5",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "38aecffc-1049-430c-acaf-e24ab28b3ed1",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "39b73e28-0d05-429d-a528-d0165020c63f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6cacadbb-d998-4f6e-91ce-fd111f87945c",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "993d79c1-8b36-4568-bb50-20eb0726cd1b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ca14564f-ba95-4ca2-b313-4d3deb98f758",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "ef5e9095-f4f2-40bc-965a-d1eceeb55561",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e5063c13-63c5-4f59-8927-3b9024360d68",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "0d1a5c0d-1870-41fa-8170-60f066e0bf1f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "510ad9ce-2c28-4754-9914-67f3aea82fe1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e706240a-8eff-4d5a-b285-92e28087295a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Figure Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Figure Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>