<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f652514-76dc-49a7-80ff-d2a2f022db32" Alias="Footer" Level="4">
  <Info>
    <Parent Key="30a4f98a-68b1-4f3e-adbc-32e66b06ce9d">Global Components</Parent>
    <Path>/Home/Components/GlobalComponents/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-16T21:07:17</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[Footer Component]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Footer]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[Footer]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>