<?xml version="1.0" encoding="utf-8"?>
<Content Key="143a8c35-b97a-4353-825b-3fb649fbd962" Alias="Forms" Level="3">
  <Info>
    <Parent Key="163241f3-b856-4a48-8599-825086297abd">Service Desk</Parent>
    <Path>/Home/ServiceDesk/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>forms</ContentType>
    <CreateDate>2026-03-03T19:21:55</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>