<?xml version="1.0" encoding="utf-8"?>
<Content Key="99fb1bc1-4142-4929-b511-b872c94acd17" Alias="Form" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/Form</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-25T21:08:24</CreateDate>
    <NodeName Default="Form" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "70bb15cc-d33a-4d4c-a432-7ea622d8370a",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "e55a6c98-e49c-453b-a345-b62622f86a44",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Form"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "234bc592-be2a-4b33-a8f0-ae6925360386",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "7066f40c-ed86-4160-923b-d8a767450f0f",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "c9e9f05f-2a57-4898-bf0c-6bdbc6aa18ac",
      "values": []
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "d98cc13e-3654-40c0-83f0-e2769526763d",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Form",
                  "url": "/components/form/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "16b02145-5054-4751-b063-672bfa5cdafb",
      "key": "56b814aa-1f9a-4768-b54c-8c390954a693",
      "values": [
        {
          "alias": "formType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "8f6e2902-64fd-4cb8-9662-f27d9dd7f6bf"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fa14a987-f572-4e92-875a-bada261737c4",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ab45482c-c299-4985-ac5b-c24f55971a3e",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f59ab0a6-c041-453c-81c1-e1a9491e8b05",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "2f911152-1108-470a-a046-b731bf523704",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "6e71a692-c8e8-4143-a13a-251db502e7e1",
      "values": [
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "336b1379-a824-439f-9e5c-444d4cb7df0c",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "70bb15cc-d33a-4d4c-a432-7ea622d8370a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e55a6c98-e49c-453b-a345-b62622f86a44",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "234bc592-be2a-4b33-a8f0-ae6925360386",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7066f40c-ed86-4160-923b-d8a767450f0f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c9e9f05f-2a57-4898-bf0c-6bdbc6aa18ac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d98cc13e-3654-40c0-83f0-e2769526763d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "56b814aa-1f9a-4768-b54c-8c390954a693",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7066f40c-ed86-4160-923b-d8a767450f0f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2f911152-1108-470a-a046-b731bf523704",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "234bc592-be2a-4b33-a8f0-ae6925360386",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f59ab0a6-c041-453c-81c1-e1a9491e8b05",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e55a6c98-e49c-453b-a345-b62622f86a44",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ab45482c-c299-4985-ac5b-c24f55971a3e",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "70bb15cc-d33a-4d4c-a432-7ea622d8370a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fa14a987-f572-4e92-875a-bada261737c4",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "d98cc13e-3654-40c0-83f0-e2769526763d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "336b1379-a824-439f-9e5c-444d4cb7df0c",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "56b814aa-1f9a-4768-b54c-8c390954a693",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c9e9f05f-2a57-4898-bf0c-6bdbc6aa18ac",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6e71a692-c8e8-4143-a13a-251db502e7e1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Form Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Form Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>