<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7e9801b-618f-417a-8c3b-f4bef481c0e8" Alias="Forms" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>forms</ContentType>
    <CreateDate>2026-02-20T22:03:40</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>