<?xml version="1.0" encoding="utf-8"?>
<Content Key="367a56a1-05f8-487b-b198-5e730ae34f3e" Alias="Global Header" Level="102">
  <Info>
    <Parent Key="dbe12824-f09d-4815-b44e-9fe10e9e6d3b">Global Components</Parent>
    <Path>/[-20]/GlobalComponents/GlobalHeader</Path>
    <Trashed Parent="dbe12824-f09d-4815-b44e-9fe10e9e6d3b">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-16T01:16:12</CreateDate>
    <NodeName Default="Global Header" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[Global Header Component]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Global Header]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[Global Header]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>