<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4110b763-a5f3-43f7-a70d-94f48d7a3c67",
    "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[UmBootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>