<?xml version="1.0" encoding="utf-8"?>
<Content Key="379e4c50-c1c6-45d8-ba55-099e50c79094" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-01-22T19:04:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6e4-ba86-7b26-a2e7-3dd5c095e14a">Home</Template>
  </Info>
  <Properties>
    <homeGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ca6b1468-ed68-429e-b77c-bda363c43756",
      "key": "8e8f8fd3-1576-45f5-ab84-242871eb4715",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.\u003C/p\u003E\u003Cp\u003ELorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ca6b1468-ed68-429e-b77c-bda363c43756",
      "key": "e1f305d1-a3a5-4bf7-b3ba-a38629eaeff6",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "8e8f8fd3-1576-45f5-ab84-242871eb4715",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "8e8f8fd3-1576-45f5-ab84-242871eb4715",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e1f305d1-a3a5-4bf7-b3ba-a38629eaeff6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeGrid>
    <metaDescription>
      <Value><![CDATA[Office of the CIO]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Office of the CIO]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[Nebraska OCIO | OCIO - Innovation in Technology]]></Value>
    </pageTitle>
  </Properties>
</Content>