<?xml version="1.0" encoding="utf-8"?>
<Content Key="446706d7-076b-4a2e-9e74-50c49c090276" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-01-30T12:24:36</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c065a-1d99-73a6-9adf-1275845f23b9">HomePage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d9c4b3f2-6a6b-4f02-97ff-d936ff8120ce",
      "key": "f9d0ff7b-6d28-4afa-a8d8-a872d6610c41",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f0e6d3c-1ce8-4053-87ae-eab575f25785",
      "key": "51c5d85c-d43d-4316-b4f5-da8dc866c01e",
      "udi": null,
      "values": [
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "OCIO Blue 800",
            "value": "#003a4d"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f9d0ff7b-6d28-4afa-a8d8-a872d6610c41",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "903989fe-1556-4cc4-a937-a130cfed9922"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f9d0ff7b-6d28-4afa-a8d8-a872d6610c41",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "51c5d85c-d43d-4316-b4f5-da8dc866c01e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[CIO Home Page]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <titleShort>
      <Value><![CDATA[CIO Home]]></Value>
    </titleShort>
  </Properties>
</Content>