<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-20T00:02:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[]]></Value>
    </backgroundColor>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "c91e067a-5862-4db2-a395-d909f41958fa",
      "values": []
    },
    {
      "contentTypeKey": "e1b3e4bc-7be6-4ecc-b1e3-cf2d44e1d93a",
      "key": "14e229e5-0124-4b63-9874-e5e53fa6523d",
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8e238517-e6e3-4314-b5d0-af131c8f4cd2",
              "mediaKey": "2b501a1a-cd05-498d-801e-89931aeb5681",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office of the CIO"
        },
        {
          "alias": "headerColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "subheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Office of the CIO delivers efficient, cost-effective technology services across Nebraska\u0027s state government. We streamline IT, reduce duplication, and expand access through shared solutions"
        },
        {
          "alias": "subheadingColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "buttonBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "warning",
            "value": "#ffc44d"
          }
        },
        {
          "alias": "ctaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/8ab707b19d1e4390aa9afc8de7e5858b",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "buttonBackgroundHoverColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "mustard",
            "value": "#e3bf77"
          }
        },
        {
          "alias": "buttonTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "black",
            "value": "#000000"
          }
        },
        {
          "alias": "buttonTextHoverColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "black",
            "value": "#000000"
          }
        },
        {
          "alias": "buttonIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c702e280-d5d6-487a-b57a-aca09b686c87",
              "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "buttonIconLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Append"
          ]
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00e302c6-dfe5-40d9-91a1-5e1af1e2bbfe",
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c91e067a-5862-4db2-a395-d909f41958fa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "14e229e5-0124-4b63-9874-e5e53fa6523d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "14e229e5-0124-4b63-9874-e5e53fa6523d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c91e067a-5862-4db2-a395-d909f41958fa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "00e302c6-dfe5-40d9-91a1-5e1af1e2bbfe",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>