<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ab686b8-e729-466a-831b-3b3b1407774f" Alias="How to Add Alternative Text to Images on Facebook" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/HowToAddAlternativeTextToImagesOnFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:07:22</CreateDate>
    <NodeName Default="How to Add Alternative Text to Images on Facebook" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[How to Add Alternative Text to Images on Facebook]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[How to Add Alternative Text to Images on Facebook]]></Value>
    </pageTitleShort>
  </Properties>
</Content>