<?xml version="1.0" encoding="utf-8"?>
<Content Key="303a48b5-5ec2-4c3d-8b87-73385515f948" Alias="How to Add Alternate Text to images on X (formerly Twitter)" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/HowToAddAlternateTextToImagesOnXFormerlyTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:07:06</CreateDate>
    <NodeName Default="How to Add Alternate Text to images on X (formerly Twitter)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[How to Add Alternate Text to images on X (formerly Twitter)]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[How to Add Alternate Text to images on X (formerly Twitter)]]></Value>
    </pageTitleShort>
  </Properties>
</Content>