<?xml version="1.0" encoding="utf-8"?>
<Content Key="88b01cab-d666-42ab-a211-ca7117c63bf4" Alias="How to Add Alternate Text to images on LinkedIn" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/HowToAddAlternateTextToImagesOnLinkedIn</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:06:50</CreateDate>
    <NodeName Default="How to Add Alternate Text to images on LinkedIn" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[How to Add Alternate Text to images on LinkedIn]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[How to Add Alternate Text to images on LinkedIn]]></Value>
    </pageTitleShort>
  </Properties>
</Content>