<?xml version="1.0" encoding="utf-8"?>
<Content Key="411a0ff6-4358-4028-9bae-b708e62f3cf6" Alias="Icon Button Grid" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/IconButtonGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-26T18:59:20</CreateDate>
    <NodeName Default="Icon Button Grid" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "bcc1e042-967c-4609-828a-3b19725ebe7e",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "8e50fe3b-466a-461d-bde4-e46ac96a8c56",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "4517c189-c241-441b-8ce6-6a67025705f1",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "545e993f-751d-4b0e-81a6-7651def61749",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Icon Button Grid"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "e5897cfe-b203-4e05-bd2a-06e1211ec734",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "cd6bca44-aaf9-4403-99bc-c7c0582c1dac",
      "values": []
    },
    {
      "contentTypeKey": "a8790ec0-2c08-4153-8546-9c5ef4763691",
      "key": "96b1c4b2-4021-4137-9a98-8a292f441c53",
      "values": [
        {
          "alias": "sectionHeaderAccentColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "warning",
            "value": "#ffc44d"
          }
        },
        {
          "alias": "sectionHeaderText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Here is the Icon Button Grid"
        },
        {
          "alias": "sectionHeaderTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a3d2c65d-8d67-4c40-a208-7bb9936874fd",
      "values": []
    },
    {
      "contentTypeKey": "0efc49f1-cfe1-4f86-ac3f-acc81236e247",
      "key": "85811549-acd1-4c7a-b32c-71f3f0ae165a",
      "values": [
        {
          "alias": "maxNumberOfButtonsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "3"
          ]
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "253e57ba-987d-48e2-9c95-08e4aaeb8b9c",
                "key": "7ec56789-f450-4693-a715-10958a8cedb0",
                "values": [
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "white",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "textHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "backgroundHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Service",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/92616e5b41c841158170efee40cd5910",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "229f7689-b163-4f76-9eb9-d8639095bbfa",
                        "mediaKey": "a5c91cb0-fb2a-4c82-b089-782130271da0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Request a Service"
                  }
                ]
              },
              {
                "contentTypeKey": "253e57ba-987d-48e2-9c95-08e4aaeb8b9c",
                "key": "ffdb526d-d9d3-4f4b-afce-75753c0d4a89",
                "values": [
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "white",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "textHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "backgroundHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Service",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/92616e5b41c841158170efee40cd5910",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "093cfcf4-8666-4c4b-8ee3-f078b957f11b",
                        "mediaKey": "ec1a46d8-ee6d-4640-a1c7-e43e9d4dd528",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Report a Problem"
                  }
                ]
              },
              {
                "contentTypeKey": "253e57ba-987d-48e2-9c95-08e4aaeb8b9c",
                "key": "be95779f-f0d3-4f29-a7a7-7ef601be5038",
                "values": [
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "white",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "textHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607f"
                    }
                  },
                  {
                    "alias": "backgroundHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "dark-blue",
                      "value": "#004d66"
                    }
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "light-blue",
                      "value": "#bbd4dd"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Contact The OCIO",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/acb8e1ab80d243dda5f4e64d4a059c4c",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "25321705-6928-48d9-8882-f8634f3e7043",
                        "mediaKey": "d97a0af1-16d4-46dd-840d-ae3a6b6734d7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Contact the OCIO"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7ec56789-f450-4693-a715-10958a8cedb0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ffdb526d-d9d3-4f4b-afce-75753c0d4a89",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "be95779f-f0d3-4f29-a7a7-7ef601be5038",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7ec56789-f450-4693-a715-10958a8cedb0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ffdb526d-d9d3-4f4b-afce-75753c0d4a89",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "be95779f-f0d3-4f29-a7a7-7ef601be5038",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "925cba25-6475-486f-8378-cfe78707fbe5",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "3d8cc17a-3f8f-4a5b-a349-17db3efaf4c2",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d93ec4d8-2c0b-4383-85d3-e442407ae803",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c5e7f05f-159f-4743-936e-bbf1bb2b2b3c",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "32bbdf32-3189-4827-8ce9-435e9aef3bb7",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c2dad300-417f-4b7b-869f-c4b536ed126a",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4rem"
        },
        {
          "alias": "paddingBottom",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2rem"
        },
        {
          "alias": "paddingLeft",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingRight",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "23a0a7e0-77f5-4daa-9934-00e6320af1a1",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "dark-blue",
            "value": "#004d66"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "13819364-099e-41fe-812b-d2725d96d0e3",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f01da749-572c-4272-b994-50f03b268cf2",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "dark-blue",
            "value": "#004d66"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "dce0004f-8b0c-4bdc-97d0-c857b6904958",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "bcc1e042-967c-4609-828a-3b19725ebe7e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8e50fe3b-466a-461d-bde4-e46ac96a8c56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4517c189-c241-441b-8ce6-6a67025705f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "545e993f-751d-4b0e-81a6-7651def61749",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e5897cfe-b203-4e05-bd2a-06e1211ec734",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd6bca44-aaf9-4403-99bc-c7c0582c1dac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "96b1c4b2-4021-4137-9a98-8a292f441c53",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a3d2c65d-8d67-4c40-a208-7bb9936874fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85811549-acd1-4c7a-b32c-71f3f0ae165a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "925cba25-6475-486f-8378-cfe78707fbe5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "8e50fe3b-466a-461d-bde4-e46ac96a8c56",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d93ec4d8-2c0b-4383-85d3-e442407ae803",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "bcc1e042-967c-4609-828a-3b19725ebe7e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3d8cc17a-3f8f-4a5b-a349-17db3efaf4c2",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "545e993f-751d-4b0e-81a6-7651def61749",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "32bbdf32-3189-4827-8ce9-435e9aef3bb7",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4517c189-c241-441b-8ce6-6a67025705f1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c5e7f05f-159f-4743-936e-bbf1bb2b2b3c",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "925cba25-6475-486f-8378-cfe78707fbe5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "dce0004f-8b0c-4bdc-97d0-c857b6904958",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "96b1c4b2-4021-4137-9a98-8a292f441c53",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": "13819364-099e-41fe-812b-d2725d96d0e3",
                        "settingsUdi": null
                      }
                    ],
                    "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
                  }
                ],
                "columnSpan": 9,
                "contentKey": "cd6bca44-aaf9-4403-99bc-c7c0582c1dac",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "23a0a7e0-77f5-4daa-9934-00e6320af1a1",
                "settingsUdi": null
              },
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 12,
                        "contentKey": "85811549-acd1-4c7a-b32c-71f3f0ae165a",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": null,
                        "settingsUdi": null
                      }
                    ],
                    "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
                  }
                ],
                "columnSpan": 9,
                "contentKey": "a3d2c65d-8d67-4c40-a208-7bb9936874fd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f01da749-572c-4272-b994-50f03b268cf2",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e5897cfe-b203-4e05-bd2a-06e1211ec734",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c2dad300-417f-4b7b-869f-c4b536ed126a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Icon Button Grid Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Icon Button Grid Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>