<?xml version="1.0" encoding="utf-8"?>
<Content Key="411f806c-fc7a-494f-bf87-deec442e5057" Alias="Icon List" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/IconList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-26T20:03:53</CreateDate>
    <NodeName Default="Icon List" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "ff4ad0af-392f-42ee-96cf-1aa0238b48c2",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "e69b9016-3bb5-4a4f-8876-3ac1eff252d6",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "08ab434a-0e33-4189-b471-2cd2e120cba9",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "13987d98-5abd-43c4-8167-915752179c1d",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Icon List"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "7f967174-2f32-45ff-a3d7-15643c0ee281",
      "values": []
    },
    {
      "contentTypeKey": "e32fb6a5-64bd-4f6e-ab62-43eccdb0ba9b",
      "key": "ec367093-6cbe-41bf-ac9d-b471a4067107",
      "values": [
        {
          "alias": "listItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "efe8b735-72ac-4691-b40c-ce551ca2deb7",
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EText here\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0f317ceb-c192-454a-be4f-976b860eadfc",
                        "mediaKey": "c642e79a-a632-496e-af58-0dea059b7a0a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "de30dd81-7cae-452a-8ae1-8bb99780b043",
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ERecommended using the same icon, but it\u0027s not required.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0f317ceb-c192-454a-be4f-976b860eadfc",
                        "mediaKey": "c642e79a-a632-496e-af58-0dea059b7a0a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "ef179c8f-5653-43c1-b825-4c33da65822f",
                "values": [
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EYou can upload any icon you would like.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0f317ceb-c192-454a-be4f-976b860eadfc",
                        "mediaKey": "c642e79a-a632-496e-af58-0dea059b7a0a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "97120814-2d0d-4d3b-9dfc-d85725f024eb",
                "values": []
              },
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "7e04ecd8-c8f4-463c-b47d-35b7c0aa08b3",
                "values": []
              },
              {
                "contentTypeKey": "62ec2590-1a70-45f1-8694-3d366378bf0d",
                "key": "03f46d64-de27-4652-b6b3-612fc92968c6",
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "efe8b735-72ac-4691-b40c-ce551ca2deb7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "de30dd81-7cae-452a-8ae1-8bb99780b043",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ef179c8f-5653-43c1-b825-4c33da65822f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "efe8b735-72ac-4691-b40c-ce551ca2deb7",
                  "contentUdi": null,
                  "settingsKey": "97120814-2d0d-4d3b-9dfc-d85725f024eb",
                  "settingsUdi": null
                },
                {
                  "contentKey": "de30dd81-7cae-452a-8ae1-8bb99780b043",
                  "contentUdi": null,
                  "settingsKey": "7e04ecd8-c8f4-463c-b47d-35b7c0aa08b3",
                  "settingsUdi": null
                },
                {
                  "contentKey": "ef179c8f-5653-43c1-b825-4c33da65822f",
                  "contentUdi": null,
                  "settingsKey": "03f46d64-de27-4652-b6b3-612fc92968c6",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "b8d996e7-5829-4d73-a907-15067ce008a3",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "25b3acbb-39bd-4e31-9cf3-a794f9e1f5b8",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "1b5992eb-473e-4f10-a023-cbde235b0dd6",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "bf993e55-5a89-45a9-9276-355e8714b65e",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ae32fd75-a422-4e46-a1f0-7670d6248893",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "ebf0f0f9-9af3-4a0c-b4c5-95411d71d391",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "ff4ad0af-392f-42ee-96cf-1aa0238b48c2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e69b9016-3bb5-4a4f-8876-3ac1eff252d6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "08ab434a-0e33-4189-b471-2cd2e120cba9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "13987d98-5abd-43c4-8167-915752179c1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "992514b9-9e57-488d-8a39-3218036669d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fc11e588-28f6-4ae7-9668-b3f5995bc2c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f967174-2f32-45ff-a3d7-15643c0ee281",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec367093-6cbe-41bf-ac9d-b471a4067107",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e69b9016-3bb5-4a4f-8876-3ac1eff252d6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "25b3acbb-39bd-4e31-9cf3-a794f9e1f5b8",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ff4ad0af-392f-42ee-96cf-1aa0238b48c2",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b8d996e7-5829-4d73-a907-15067ce008a3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "13987d98-5abd-43c4-8167-915752179c1d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bf993e55-5a89-45a9-9276-355e8714b65e",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "08ab434a-0e33-4189-b471-2cd2e120cba9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1b5992eb-473e-4f10-a023-cbde235b0dd6",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "ec367093-6cbe-41bf-ac9d-b471a4067107",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ebf0f0f9-9af3-4a0c-b4c5-95411d71d391",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7f967174-2f32-45ff-a3d7-15643c0ee281",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ae32fd75-a422-4e46-a1f0-7670d6248893",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Icon List Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Icon List Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>