<?xml version="1.0" encoding="utf-8"?>
<Content Key="a191a547-ec50-412f-9ffa-6680eedf645f" Alias="Interior hero" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/InteriorHero</Path>
    <Trashed Parent="25cdf838-9abd-4db1-a348-cb96e34bb65f">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-16T01:20:12</CreateDate>
    <NodeName Default="Interior hero" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[Interior hero]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[Interior hero]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[Interior hero]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>