<?xml version="1.0" encoding="utf-8"?>
<Content Key="63feaa29-b5e8-43bf-ba73-f51c7d7acc20" Alias="Metrics" Level="3">
  <Info>
    <Parent Key="163241f3-b856-4a48-8599-825086297abd">Service Desk</Parent>
    <Path>/Home/ServiceDesk/Metrics</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-02T18:53:32</CreateDate>
    <NodeName Default="Metrics" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "e81b28d6-dbee-408c-9b28-df3b6cd9c943",
      "values": []
    },
    {
      "contentTypeKey": "e1bdf720-7642-4a3d-b004-b4c5c8d19eff",
      "key": "83caf32d-27aa-4ce6-9627-872f2d687bcb",
      "values": [
        {
          "alias": "headingTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OCIO Service Desk: Metrics"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "primary-darker",
            "value": "#003A4D"
          }
        },
        {
          "alias": "displayBreadcrumb",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6d32adc2-e2a3-49b6-9040-2998f0b721b9",
              "mediaKey": "0c8d9f6c-07f1-4765-bdfb-ab9d05b44ec3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "2932edea-2052-4d84-9cbd-e8d06be9e81c",
      "values": []
    },
    {
      "contentTypeKey": "eedf0dba-8345-4510-865b-0dd3a88811de",
      "key": "9a5317ce-8b21-4750-9e14-59e33e1bf815",
      "values": [
        {
          "alias": "numberCardsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "3"
          ]
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "1a6f8b10-7d7a-4f6b-be9c-346cffd1d82e",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Microsoft Self Service"
                  },
                  {
                    "alias": "headingColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "headingHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary-dark",
                      "value": "#004D66"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EUnlock or reset your @nebraska.gov account\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "black",
                      "value": "#000000"
                    }
                  },
                  {
                    "alias": "textHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "black",
                      "value": "#000000"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "aka.ms",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://aka.ms/ssprsetup",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3e2982df-d6a7-49f9-ab3c-420aeca833c2",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "white",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "borderColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "secondary-medium",
                      "value": "#FFC44D"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "a4cb58e1-c0d8-4579-a1f0-9d4633472dc0",
                "key": "9f285ca3-4c79-4724-b6d2-13730e9be8e3",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Give Us Your Feedback"
                  },
                  {
                    "alias": "headingColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "headingHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary-dark",
                      "value": "#004D66"
                    }
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EProvide feedback to the Service Desk.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "textColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "black",
                      "value": "#000000"
                    }
                  },
                  {
                    "alias": "textHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "black",
                      "value": "#000000"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Feedback",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/b75d0a91c4224b76b020ff6e24847869",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3e2982df-d6a7-49f9-ab3c-420aeca833c2",
                        "mediaKey": "eaedc30a-aa5f-413c-82a9-521e30ea873b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "iconColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "iconHoverColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "primary",
                      "value": "#00607F"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "white",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "borderColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "secondary-medium",
                      "value": "#FFC44D"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1a6f8b10-7d7a-4f6b-be9c-346cffd1d82e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9f285ca3-4c79-4724-b6d2-13730e9be8e3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1a6f8b10-7d7a-4f6b-be9c-346cffd1d82e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9f285ca3-4c79-4724-b6d2-13730e9be8e3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "b87dee17-4242-4d83-9f36-63aae1204d93",
      "key": "17aa9225-4167-4e2c-a390-0b86f8266a7a",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003EOCIO Key Performance Goals\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "63f94cfe-9040-40d2-bdb6-e7722f56b89b",
      "key": "88de4317-b17c-440f-a90b-33edd2e42a19",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "63a2d6ac-0133-4990-a94e-f6c846dbd16e",
              "mediaKey": "0914ba10-e3cd-447c-b6c5-7dc2c3e3df9b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Service Availability"
        }
      ]
    },
    {
      "contentTypeKey": "63f94cfe-9040-40d2-bdb6-e7722f56b89b",
      "key": "3d56591d-90ce-457a-8b2b-571b5ad99714",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f242ed0c-4b6a-4ce3-a4b4-5eb81ca6d975",
              "mediaKey": "72858fd7-b010-4946-9bf9-eddda670bf63",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Incident Request Metrics"
        }
      ]
    },
    {
      "contentTypeKey": "63f94cfe-9040-40d2-bdb6-e7722f56b89b",
      "key": "f28db097-dfd1-4221-9f58-2ee083a29466",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3eced6ab-cd65-423e-a734-8cc488024f72",
              "mediaKey": "f7b5d86c-0820-4574-8aa8-50a0693edff5",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Service Request Metrics"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "22b72124-9898-4f69-9838-52a8754f0876",
      "values": []
    },
    {
      "contentTypeKey": "4ca9b85a-bdd4-4d84-87c3-57b3e4dca7ad",
      "key": "374c16a9-a0bd-418d-8659-14da1b4d3fdd",
      "values": [
        {
          "alias": "targetAnchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "page-top"
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Return to top"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "textColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "primary",
            "value": "#00607F"
          }
        },
        {
          "alias": "buttonStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Outline"
          ]
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a0049316-cfed-4d40-bd3e-020e9a23ea4c",
              "mediaKey": "36e5179f-74a8-4840-93e1-9dbc123e8058",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "iconLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Append"
          ]
        },
        {
          "alias": "showDivider",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "c25b62b4-c176-42bb-81af-86bb950bd306",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36bd783b-8958-4ecb-9219-011c355ce3e2",
              "name": "We are the OCIO",
              "url": "/about/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/36bd783b89584ecb9219011c355ce3e2",
              "contentKey": "82efd4dd-4083-4670-8bde-405bbc7606f7",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "36bd783b-8958-4ecb-9219-011c355ce3e2"
            },
            {
              "key": "04f90b62-52f6-4322-b183-34a761664e24",
              "name": "Digital Accessibility",
              "url": "/accessibility/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/04f90b6252f64322b18334a761664e24",
              "contentKey": "91a1ddb6-015d-4883-88b0-5df5f050552b",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "04f90b62-52f6-4322-b183-34a761664e24"
            },
            {
              "key": "3278b252-cabf-4201-8ca4-9e78199179bb",
              "name": "Careers",
              "url": "/careers/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/3278b252cabf42018ca49e78199179bb",
              "contentKey": "49eaf9e5-4038-4188-81da-5dfcfd92e30d",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "3278b252-cabf-4201-8ca4-9e78199179bb"
            },
            {
              "key": "512d0873-a931-4f98-91f0-6307006d1496",
              "name": "Contact",
              "url": "/contact/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/512d0873a9314f9891f06307006d1496",
              "contentKey": "acb8e1ab-80d2-43dd-a5f4-e64d4a059c4c",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "512d0873-a931-4f98-91f0-6307006d1496"
            },
            {
              "key": "b8983045-6bf9-4440-9eeb-70c61667c3e8",
              "name": "OCIO Newsroom",
              "url": "/news/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/b89830456bf944409eeb70c61667c3e8",
              "contentKey": "c416407d-8801-4fe9-baca-2ff02b88b026",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "b8983045-6bf9-4440-9eeb-70c61667c3e8"
            },
            {
              "key": "95d8c166-4b29-4d67-94e1-1ed9187e948d",
              "name": "Rates and Fees",
              "url": "/rates/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/95d8c1664b294d6794e11ed9187e948d",
              "contentKey": "f2349c83-dcf9-4204-8823-11bac75b50ef",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "95d8c166-4b29-4d67-94e1-1ed9187e948d"
            },
            {
              "key": "7ae9d148-3496-4da1-b66d-0c99d6f34868",
              "name": "Recognition",
              "url": "/recognition/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/7ae9d14834964da1b66d0c99d6f34868",
              "contentKey": "d8aa60f0-9051-47c0-9b3b-bf46567fba4e",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1
            },
            {
              "key": "dee2478d-bac3-4cc0-9b72-eb71857985ab",
              "name": "OCIO Service Desk",
              "url": "/service-desk/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/dee2478dbac34cc09b72eb71857985ab",
              "contentKey": "163241f3-b856-4a48-8599-825086297abd",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "dee2478d-bac3-4cc0-9b72-eb71857985ab"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "bc62caba-7df4-4b9e-88f1-085ed55a0db3",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "bc450190-ab4a-426d-91cf-e5e1947eb3ca",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4rem"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fb9f4e67-7df2-43df-a787-d05b32ea34a8",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "paddingTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fcb52475-28c0-4050-ac6c-49c43b3b633a",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "424a827f-9b36-4425-9ec2-65ebf747461f",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e81b28d6-dbee-408c-9b28-df3b6cd9c943",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "83caf32d-27aa-4ce6-9627-872f2d687bcb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2932edea-2052-4d84-9cbd-e8d06be9e81c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a5317ce-8b21-4750-9e14-59e33e1bf815",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "17aa9225-4167-4e2c-a390-0b86f8266a7a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "88de4317-b17c-440f-a90b-33edd2e42a19",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d56591d-90ce-457a-8b2b-571b5ad99714",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f28db097-dfd1-4221-9f58-2ee083a29466",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "22b72124-9898-4f69-9838-52a8754f0876",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "374c16a9-a0bd-418d-8659-14da1b4d3fdd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c25b62b4-c176-42bb-81af-86bb950bd306",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "83caf32d-27aa-4ce6-9627-872f2d687bcb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e81b28d6-dbee-408c-9b28-df3b6cd9c943",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bc62caba-7df4-4b9e-88f1-085ed55a0db3",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c25b62b4-c176-42bb-81af-86bb950bd306",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "424a827f-9b36-4425-9ec2-65ebf747461f",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "9a5317ce-8b21-4750-9e14-59e33e1bf815",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fb9f4e67-7df2-43df-a787-d05b32ea34a8",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "17aa9225-4167-4e2c-a390-0b86f8266a7a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "88de4317-b17c-440f-a90b-33edd2e42a19",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "3d56591d-90ce-457a-8b2b-571b5ad99714",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "f28db097-dfd1-4221-9f58-2ee083a29466",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2932edea-2052-4d84-9cbd-e8d06be9e81c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bc450190-ab4a-426d-91cf-e5e1947eb3ca",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "374c16a9-a0bd-418d-8659-14da1b4d3fdd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "22b72124-9898-4f69-9838-52a8754f0876",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fcb52475-28c0-4050-ac6c-49c43b3b633a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Metrics]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Metrics]]></Value>
    </pageTitleShort>
  </Properties>
</Content>