<?xml version="1.0" encoding="utf-8"?>
<Content Key="63feaa29-b5e8-43bf-ba73-f51c7d7acc20" Alias="Metrics" Level="3">
  <Info>
    <Parent Key="163241f3-b856-4a48-8599-825086297abd">Service Desk</Parent>
    <Path>/Home/ServiceDesk/Metrics</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-02T18:53:32</CreateDate>
    <NodeName Default="Metrics" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Metrics]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Metrics]]></Value>
    </pageTitleShort>
  </Properties>
</Content>