<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ddff4fa-54a0-4a6c-ab22-1bb3fb654784" Alias="Narrator" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/Narrator</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:07:45</CreateDate>
    <NodeName Default="Narrator" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Narrator]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Narrator]]></Value>
    </pageTitleShort>
  </Properties>
</Content>