<?xml version="1.0" encoding="utf-8"?>
<Content Key="062b9f46-a1e8-4a13-93c7-04727c66db2f" Alias="News" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsroom</ContentType>
    <CreateDate>2026-01-22T19:09:10</CreateDate>
    <NodeName Default="News" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6eb-1263-7cb3-b9c5-e2e599ebabdb">Newsroom</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Newsroom]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Newsroom]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Newsroom]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[OCIO Newsroom]]></Value>
    </pageTitle>
  </Properties>
</Content>