<?xml version="1.0" encoding="utf-8"?>
<Content Key="c416407d-8801-4fe9-baca-2ff02b88b026" Alias="News" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-20T21:59:49</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Newsroom]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Newsroom]]></Value>
    </pageTitleShort>
  </Properties>
</Content>