<?xml version="1.0" encoding="utf-8"?>
<Content Key="35e892bf-40c0-4add-ad0a-8d347a04bca5" Alias="Problem" Level="4">
  <Info>
    <Parent Key="78466254-43ce-4f03-b51a-8100a4c0a0a9">Forms</Parent>
    <Path>/Home/ServiceDesk/Forms/Problem</Path>
    <Trashed>false</Trashed>
    <ContentType>reportAProblem</ContentType>
    <CreateDate>2026-01-22T19:11:54</CreateDate>
    <NodeName Default="Problem" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6ec-3276-7ff5-94e5-60c8f4080837">ReportAProblem</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Report A Problem]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Report A Problem]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Report A Problem]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Report A Problem]]></Value>
    </pageTitle>
  </Properties>
</Content>