<?xml version="1.0" encoding="utf-8"?>
<Content Key="5186e0d4-313a-4c81-8a45-a33c7719cc7b" Alias="Problem" Level="3">
  <Info>
    <Parent Key="a7e9801b-618f-417a-8c3b-f4bef481c0e8">Forms</Parent>
    <Path>/Home/Forms/Problem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-20T22:05:19</CreateDate>
    <NodeName Default="Problem" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Report A Problem]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Report A Problem]]></Value>
    </pageTitleShort>
  </Properties>
</Content>