<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c91d7ce-49ca-4efc-8fcd-e218846c651b" Alias="Problem" Level="3">
  <Info>
    <Parent Key="1c3b410a-1078-4711-bd1d-33879b8fed86">Forms</Parent>
    <Path>/Home/Forms/Problem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-01T23:38:15</CreateDate>
    <NodeName Default="Problem" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>