<?xml version="1.0" encoding="utf-8"?>
<Content Key="705eff4a-ec71-4efa-a219-8a096cfecacc" Alias="Rates" Level="2">
  <Info>
    <Parent Key="446706d7-076b-4a2e-9e74-50c49c090276">Home</Parent>
    <Path>/Home/Rates</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-01T23:34:08</CreateDate>
    <NodeName Default="Rates" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <bottomMargin>
      <Value><![CDATA[]]></Value>
    </bottomMargin>
    <bottomPadding>
      <Value><![CDATA[]]></Value>
    </bottomPadding>
    <color>
      <Value><![CDATA[]]></Value>
    </color>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <leftMargin>
      <Value><![CDATA[]]></Value>
    </leftMargin>
    <leftPadding>
      <Value><![CDATA[]]></Value>
    </leftPadding>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rightMargin>
      <Value><![CDATA[]]></Value>
    </rightMargin>
    <rightPadding>
      <Value><![CDATA[]]></Value>
    </rightPadding>
    <titleShort>
      <Value><![CDATA[]]></Value>
    </titleShort>
    <topMargin>
      <Value><![CDATA[]]></Value>
    </topMargin>
    <topPadding>
      <Value><![CDATA[]]></Value>
    </topPadding>
  </Properties>
</Content>