<?xml version="1.0" encoding="utf-8"?>
<Content Key="5274db6b-b20c-4915-b78d-a58dcf40da13" Alias="Search" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2026-03-12T16:28:50</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019ce2d4-9b9f-7120-ac78-24df0f1d6a64">SearchPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
  </Properties>
</Content>