<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff9b6a61-05e6-48d7-be6e-f6f013ef2416" Alias="Service Desk" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/ServiceDesk</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDesk</ContentType>
    <CreateDate>2026-01-22T19:06:53</CreateDate>
    <NodeName Default="Service Desk" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6ec-db68-73e0-a1e5-bbd7ba71509f">ServiceDesk</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Service Desk]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Service Desk]]></Value>
    </metaTitle>
    <pageTitle>
      <Value><![CDATA[OCIO Service Desk]]></Value>
    </pageTitle>
  </Properties>
</Content>