<?xml version="1.0" encoding="utf-8"?>
<Content Key="04e9f09c-7a03-4ca7-9ea2-57a12ab12ac4" Alias="Service Announcments" Level="3">
  <Info>
    <Parent Key="c416407d-8801-4fe9-baca-2ff02b88b026">News</Parent>
    <Path>/Home/News/ServiceAnnouncments</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T01:48:00</CreateDate>
    <NodeName Default="Service Announcments" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "b5f53895-ff59-4b35-902a-7cca09f95c84",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "11e19f71-cd81-422d-95c4-dd748de376de",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b5f53895-ff59-4b35-902a-7cca09f95c84",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b5f53895-ff59-4b35-902a-7cca09f95c84",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "11e19f71-cd81-422d-95c4-dd748de376de",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Service Announements]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Service Announements]]></Value>
    </pageTitleShort>
  </Properties>
</Content>