<?xml version="1.0" encoding="utf-8"?>
<Content Key="20bf922e-a235-499a-8b43-e71136652218" Alias="Service" Level="3">
  <Info>
    <Parent Key="1c3b410a-1078-4711-bd1d-33879b8fed86">Forms</Parent>
    <Path>/Home/Forms/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-01T23:37:54</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c0659-b774-7324-85bd-ee366edd41b3">ContentPage</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
  </Properties>
</Content>