<?xml version="1.0" encoding="utf-8"?>
<Content Key="92616e5b-41c8-4115-8170-efee40cd5910" Alias="Service" Level="3">
  <Info>
    <Parent Key="a7e9801b-618f-417a-8c3b-f4bef481c0e8">Forms</Parent>
    <Path>/Home/Forms/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-20T22:04:43</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[{
  "label": "light-background",
  "value": "#f3f7fc"
}]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Request A Service]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Request A Service]]></Value>
    </pageTitleShort>
  </Properties>
</Content>