<?xml version="1.0" encoding="utf-8"?>
<Content Key="96ff46b2-805d-43f4-83bd-2430782250d4" Alias="Side Navigation" Level="3">
  <Info>
    <Parent Key="dbd09fa2-cbf9-47fc-ad26-d4f16839638f">Components</Parent>
    <Path>/Home/Components/SideNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-02-27T17:39:43</CreateDate>
    <NodeName Default="Side Navigation" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "ff9ddf88-47c6-487f-a393-43e56bc091df",
      "values": []
    },
    {
      "contentTypeKey": "d52a16b7-d7e3-416a-8c30-8ddd67fe6267",
      "key": "c926ab17-8a64-4df1-b8c5-2f196c53fb3f",
      "values": [
        {
          "alias": "hideHome",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "462dfcfc-51ae-4434-8fa2-cc4268aaa389",
      "values": []
    },
    {
      "contentTypeKey": "77376414-6cad-421a-9abe-44a5fb0e59f2",
      "key": "aa58c6f9-1fe7-41af-88d8-f5e995eb866b",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Side Navigation"
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "5753bbb3-cb44-47cd-bf7d-dcb7062f936a",
      "values": []
    },
    {
      "contentTypeKey": "e583e45b-eee6-4258-9c85-e7bd89348a3b",
      "key": "a12eb6c9-7f7b-4685-8eb7-35182ab9b00c",
      "values": []
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "dc788c50-3f85-4630-903e-0f4ede3bb46b",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b2a95351-3aa3-486e-a983-2550a0a01cc7",
              "name": "Home",
              "url": "/",
              "icon": "icon-home color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/b2a953513aa3486ea9832550a0a01cc7",
              "contentKey": "8ab707b1-9d1e-4390-aa9a-fc8de7e5858b",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "ec53e9e9-e1c8-4863-9d79-6914f5a4b324",
                  "name": "Service Desk",
                  "url": "/service-desk/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ec53e9e9e1c848639d796914f5a4b324",
                  "contentKey": "163241f3-b856-4a48-8599-825086297abd",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ec53e9e9-e1c8-4863-9d79-6914f5a4b324"
                },
                {
                  "key": "f2e7d8d1-af7c-4eaa-9217-082df6920373",
                  "name": "Careers",
                  "url": "/careers/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f2e7d8d1af7c4eaa9217082df6920373",
                  "contentKey": "49eaf9e5-4038-4188-81da-5dfcfd92e30d",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f2e7d8d1-af7c-4eaa-9217-082df6920373"
                },
                {
                  "key": "9682e17f-4619-4452-b974-3fe828aa7ac3",
                  "name": "About",
                  "url": "/about/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/9682e17f46194452b9743fe828aa7ac3",
                  "contentKey": "82efd4dd-4083-4670-8bde-405bbc7606f7",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "b2a95351-3aa3-486e-a983-2550a0a01cc7"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "88181e9c-3ea2-40d5-8866-8eae50d59356",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57",
              "name": "Components",
              "url": "/components/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/cf7e915c0cd74b48bf18613b84a6fc57",
              "contentKey": "dbd09fa2-cbf9-47fc-ad26-d4f16839638f",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "419aae5b-5308-4de2-8e48-1e876cdbf4e8",
                  "name": "Accordion",
                  "url": "/components/accordion/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/419aae5b53084de28e481e876cdbf4e8",
                  "contentKey": "8f13d58b-45d9-4018-b027-83b10b372c2a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "419aae5b-5308-4de2-8e48-1e876cdbf4e8"
                },
                {
                  "key": "c73aab8e-bafb-4f78-839b-80836a06b0d0",
                  "name": "Alert",
                  "url": "/components/alert/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73aab8ebafb4f78839b80836a06b0d0",
                  "contentKey": "bc88168d-8edb-439b-b56f-7d1bde52ab31",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73aab8e-bafb-4f78-839b-80836a06b0d0"
                },
                {
                  "key": "d98cfd23-4440-4fd4-80f3-f1595bc65490",
                  "name": "Backdrop Grid",
                  "url": "/components/backdrop-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d98cfd2344404fd480f3f1595bc65490",
                  "contentKey": "15acf62b-a0cc-46de-8e95-56fa472e67a5",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d98cfd23-4440-4fd4-80f3-f1595bc65490"
                },
                {
                  "key": "38554452-581a-45ff-a04b-c7e5c381e7ca",
                  "name": "Breadcrumb",
                  "url": "/components/breadcrumb/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/38554452581a45ffa04bc7e5c381e7ca",
                  "contentKey": "7f364f95-6512-4929-86b0-bd959ec51093",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "38554452-581a-45ff-a04b-c7e5c381e7ca"
                },
                {
                  "key": "ef6f7745-1f12-4589-afb1-a5016874ddf0",
                  "name": "Button",
                  "url": "/components/button/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ef6f77451f124589afb1a5016874ddf0",
                  "contentKey": "e2be8b50-9de1-4122-876e-ad19950f51c4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "ef6f7745-1f12-4589-afb1-a5016874ddf0"
                },
                {
                  "key": "2768a75d-ee00-4d6a-a4da-b15c317c375b",
                  "name": "Carousel",
                  "url": "/components/carousel/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2768a75dee004d6aa4dab15c317c375b",
                  "contentKey": "436f2b96-b5a8-4d7e-9320-585fd80fcc98",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2768a75d-ee00-4d6a-a4da-b15c317c375b"
                },
                {
                  "key": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd",
                  "name": "Embed",
                  "url": "/components/embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/91b1386cde4e47dfbbc041d0ed4a32bd",
                  "contentKey": "7e22992e-aead-4a44-92a2-53cba008132f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "91b1386c-de4e-47df-bbc0-41d0ed4a32bd"
                },
                {
                  "key": "58fc9450-eac7-44b6-bcdb-4016e1cbe365",
                  "name": "Figure",
                  "url": "/components/figure/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/58fc9450eac744b6bcdb4016e1cbe365",
                  "contentKey": "b4ddf3aa-e293-443a-890c-71810501a955",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "58fc9450-eac7-44b6-bcdb-4016e1cbe365"
                },
                {
                  "key": "082880be-6701-4057-ad2b-9da143007d70",
                  "name": "Umbraco Forms",
                  "url": "/components/umbraco-forms/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/082880be67014057ad2b9da143007d70",
                  "contentKey": "99fb1bc1-4142-4929-b511-b872c94acd17",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "082880be-6701-4057-ad2b-9da143007d70"
                },
                {
                  "key": "17b89444-d9b5-440c-9224-8aca194bc3d2",
                  "name": "Homepage Hero",
                  "url": "/components/homepage-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/17b89444d9b5440c92248aca194bc3d2",
                  "contentKey": "5ade990f-3a09-452b-b3ca-0d12b415685a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "17b89444-d9b5-440c-9224-8aca194bc3d2"
                },
                {
                  "key": "2251a7f2-cde5-40e9-868a-c5c5cb267966",
                  "name": "Icon Button Grid",
                  "url": "/components/icon-button-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2251a7f2cde540e9868ac5c5cb267966",
                  "contentKey": "411a0ff6-4358-4028-9bae-b708e62f3cf6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "2251a7f2-cde5-40e9-868a-c5c5cb267966"
                },
                {
                  "key": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c",
                  "name": "Icon List",
                  "url": "/components/icon-list/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/f993c0429ffe482fa2fac91ae9d87f8c",
                  "contentKey": "411f806c-fc7a-494f-bf87-deec442e5057",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "f993c042-9ffe-482f-a2fa-c91ae9d87f8c"
                },
                {
                  "key": "7f37b954-2a53-4c25-bdd2-14de678461c4",
                  "name": "In-page Navigation",
                  "url": "/components/in-page-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/7f37b9542a534c25bdd214de678461c4",
                  "contentKey": "e0273a72-2090-45c2-832f-7912ce7818c6",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "7f37b954-2a53-4c25-bdd2-14de678461c4"
                },
                {
                  "key": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba",
                  "name": "Info Card Grid",
                  "url": "/components/info-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/271b9afa82d64a4183eac9db63f0c7ba",
                  "contentKey": "33eb8da5-1600-47c2-801d-157cb5aec3a9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "271b9afa-82d6-4a41-83ea-c9db63f0c7ba"
                },
                {
                  "key": "6c07685e-6625-4015-96db-ee2f011b2440",
                  "name": "Interior Hero",
                  "url": "/components/interior-hero/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6c07685e6625401596dbee2f011b2440",
                  "contentKey": "aeb6daea-28dc-4169-8201-91fffb4536ca",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "6c07685e-6625-4015-96db-ee2f011b2440"
                },
                {
                  "key": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae",
                  "name": "Linked Card Grid",
                  "url": "/components/linked-card-grid/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b59a6ae4062440bfb07fec67e26b0fae",
                  "contentKey": "5748018c-94e8-497c-8129-26bcad3fe915",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b59a6ae4-0624-40bf-b07f-ec67e26b0fae"
                },
                {
                  "key": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c",
                  "name": "Map Embed",
                  "url": "/components/map-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a57bbd0acbc944e3ab97aa697febdc8c",
                  "contentKey": "5bd6d23c-3494-4f83-9a77-997a581d4ea1",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "a57bbd0a-cbc9-44e3-ab97-aa697febdc8c"
                },
                {
                  "key": "0432b51c-da5a-45a7-9255-996baed2c758",
                  "name": "Side Navigation",
                  "url": "/components/side-navigation/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/0432b51cda5a45a79255996baed2c758",
                  "contentKey": "96ff46b2-805d-43f4-83bd-2430782250d4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "0432b51c-da5a-45a7-9255-996baed2c758"
                },
                {
                  "key": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c",
                  "name": "Summary Box",
                  "url": "/components/summary-box/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/c73e408238704d4e97c03d8efe1bca6c",
                  "contentKey": "c4f19c4c-9e04-479f-99da-3b881951581f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "c73e4082-3870-4d4e-97c0-3d8efe1bca6c"
                },
                {
                  "key": "14250aad-957a-4600-9952-76f49a56ca81",
                  "name": "Table",
                  "url": "/components/table/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/14250aad957a4600995276f49a56ca81",
                  "contentKey": "abd486a4-37ee-43f5-ac26-90a6c88f6e69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "14250aad-957a-4600-9952-76f49a56ca81"
                },
                {
                  "key": "d09f113b-89e6-44e7-8781-5a09d068fe3d",
                  "name": "YouTube Embed",
                  "url": "/components/youtube-embed/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/d09f113b89e644e787815a09d068fe3d",
                  "contentKey": "c5de6bfd-6509-4a74-8b92-356bd7401ca4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "d09f113b-89e6-44e7-8781-5a09d068fe3d"
                },
                {
                  "key": "3e46cb65-abda-40db-9f9c-ba937eb372d1",
                  "name": "Calendar",
                  "url": "/components/calendar/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/3e46cb65abda40db9f9cba937eb372d1",
                  "contentKey": "e2a8933d-290e-4749-8562-ae94aebd27ab",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "cf7e915c-0cd7-4b48-bf18-613b84a6fc57"
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "9f400d14-e2b9-4e92-b9dd-3f2155016a54",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c345a1d7-663e-49d1-8fb2-ced6d5f240ac",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "367deaba-aed6-4081-8e7b-6d0a1d7225bc",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "6c0355c0-fbac-419e-95a6-2c4da8c7f469",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f985b704-7621-45da-abf9-bacda3e8136e",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "645317b1-b2f8-488d-b035-74e8c1529110",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "a27a7249-2a84-415c-a745-84265001e124",
      "values": []
    },
    {
      "contentTypeKey": "8073cf52-b47b-49e4-bd4f-ce56248ad598",
      "key": "5f681d99-e388-4256-b5a9-23203877934a",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "ff9ddf88-47c6-487f-a393-43e56bc091df",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c926ab17-8a64-4df1-b8c5-2f196c53fb3f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "462dfcfc-51ae-4434-8fa2-cc4268aaa389",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aa58c6f9-1fe7-41af-88d8-f5e995eb866b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "73fb5530-a1b0-4aa3-b351-fe325121938c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5753bbb3-cb44-47cd-bf7d-dcb7062f936a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a12eb6c9-7f7b-4685-8eb7-35182ab9b00c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dc788c50-3f85-4630-903e-0f4ede3bb46b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "88181e9c-3ea2-40d5-8866-8eae50d59356",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "c926ab17-8a64-4df1-b8c5-2f196c53fb3f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c345a1d7-663e-49d1-8fb2-ced6d5f240ac",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ff9ddf88-47c6-487f-a393-43e56bc091df",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9f400d14-e2b9-4e92-b9dd-3f2155016a54",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "aa58c6f9-1fe7-41af-88d8-f5e995eb866b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6c0355c0-fbac-419e-95a6-2c4da8c7f469",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "462dfcfc-51ae-4434-8fa2-cc4268aaa389",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "367deaba-aed6-4081-8e7b-6d0a1d7225bc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "88181e9c-3ea2-40d5-8866-8eae50d59356",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5f681d99-e388-4256-b5a9-23203877934a",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 4,
                        "contentKey": "dc788c50-3f85-4630-903e-0f4ede3bb46b",
                        "contentUdi": null,
                        "rowSpan": 1,
                        "settingsKey": "a27a7249-2a84-415c-a745-84265001e124",
                        "settingsUdi": null
                      }
                    ],
                    "key": "167e1c60-584f-407e-8d4a-c395d8028116"
                  },
                  {
                    "items": [],
                    "key": "b7d02186-63e1-442b-ab9f-59c570fa0455"
                  },
                  {
                    "items": [],
                    "key": "7cb72d85-1406-40d4-9c5a-aef7d5808853"
                  }
                ],
                "columnSpan": 9,
                "contentKey": "a12eb6c9-7f7b-4685-8eb7-35182ab9b00c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "645317b1-b2f8-488d-b035-74e8c1529110",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5753bbb3-cb44-47cd-bf7d-dcb7062f936a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f985b704-7621-45da-abf9-bacda3e8136e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Side Navigation Component]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Side Navigation Component]]></Value>
    </pageTitleShort>
  </Properties>
</Content>