<?xml version="1.0" encoding="utf-8"?>
<Content Key="88efede6-caa1-40c6-a17d-446a9069f7a2" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="446706d7-076b-4a2e-9e74-50c49c090276">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-01-30T19:34:15</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerIcon>
      <Value><![CDATA[[
  {
    "key": "2a09eaf9-c272-422f-a71c-b2e486e3dfed",
    "mediaKey": "b16350db-7688-4301-8c5a-3be0a290ced2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerIcon>
    <bannerText>
      <Value><![CDATA[An official website of the State of Nebraska]]></Value>
    </bannerText>
    <footerContent>
      <Value><![CDATA[]]></Value>
    </footerContent>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "6d2ab6b5-ba83-420c-9ff5-56836d799506",
    "mediaKey": "97975f0a-d2ad-467c-9660-56c031dd240a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <showBanner>
      <Value><![CDATA[1]]></Value>
    </showBanner>
    <siteName>
      <Value><![CDATA[CIO]]></Value>
    </siteName>
  </Properties>
</Content>