<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d9117bd-1c33-4b8e-a8ff-f2117ceee0fa" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-01-22T19:15:02</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerIcon>
      <Value><![CDATA[[
  {
    "key": "28342c54-6ca4-45fa-8fc6-10b5b92f888f",
    "mediaKey": "60f51c61-8160-4a08-806b-41a674be9481",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerIcon>
    <bannerText>
      <Value><![CDATA[An official website of the State of Nebraska]]></Value>
    </bannerText>
    <copyrightText>
      <Value><![CDATA[© 2026 State of Nebraska]]></Value>
    </copyrightText>
    <displayBanner>
      <Value><![CDATA[1]]></Value>
    </displayBanner>
    <footerLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "5ac651c7-3a36-42e4-a828-4e62f062387c",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "http://www.nebraska.gov/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nebraska.gov"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://governor.nebraska.gov/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Governor"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "http://www.nebraska.gov/policies/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Policies"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OCIO Employees"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5ac651c7-3a36-42e4-a828-4e62f062387c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5ac651c7-3a36-42e4-a828-4e62f062387c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "89415fbe-6587-4807-963d-4e53baa26249",
    "mediaKey": "16e42e00-8d39-4b79-8a1c-2d1a48325248",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "209395cf-e8d4-4500-ada9-7accbd1182f4",
    "mediaKey": "f17d8df8-8894-427a-b924-aa435e2ac9df",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <iconLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/OCIONebraska"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7adb1696-920a-42c8-a8cf-847f20f3afd2",
              "mediaKey": "7e973f3d-5df1-400a-b39d-5224dc34b2b3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/Nebraska_OCIO"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "72cd9f23-52ad-46ca-a17f-ec4bb4d741ab",
              "mediaKey": "2404b854-63e0-4b85-bb81-a11912edf9af",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/OCIONebraska"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "66c6d79e-eea9-41b4-bf05-643bbe0adba5",
              "mediaKey": "136be0a5-c15d-4b7c-badc-23af48f4279c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "1f00999c-3522-4637-a986-814b8b023272",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/showcase/ocio/"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3f75e320-5890-4dac-9d75-1642883dc051",
              "mediaKey": "b8e4e44d-88ad-468c-8420-c01ea72497a3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f00999c-3522-4637-a986-814b8b023272",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1f00999c-3522-4637-a986-814b8b023272",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </iconLinks>
    <navigationMenu>
      <Value><![CDATA[[
  {
    "key": "e5f9fd9d-1138-4570-8228-ea1b226a9864",
    "name": "Service Desk",
    "url": "/service-desk/",
    "icon": "icon-document-html",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/e5f9fd9d113845708228ea1b226a9864",
    "contentKey": "ff9b6a61-05e6-48d7-be6e-f6f013ef2416",
    "anchor": "",
    "description": "/service-desk/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1,
    "unique": "e5f9fd9d-1138-4570-8228-ea1b226a9864"
  },
  {
    "key": "08320fd0-2c11-414f-832d-e0c36904da19",
    "name": "Careers",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "43094c88-9721-408b-b9dd-52e2f435d1e8",
        "name": "Careers at the OCIO",
        "url": "/careers/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/43094c889721408bb9dd52e2f435d1e8",
        "contentKey": "fde051fb-ccd2-4916-96e0-b8c0406e0b67",
        "anchor": "",
        "description": "/careers/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "68800fd4-4052-467b-af67-c5c81d95aa0c",
        "name": "SOS Temp Intern Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/job/SOS-Temporary-Program_JR2025-00017635",
        "icon": "icon-link",
        "itemType": "external",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "description": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/job/SOS-Temporary-Program_JR2025-00017635",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "7eae452d-2d4f-488f-9a50-7f4efd705b53",
        "name": "Open OCIO Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/details/SOS-Temporary-Program_JR2025-00017635?CF_LRV_Agency__mas-impl__Extended=115ffcfe67f846d99f4a1d4d75a0d476\u0026Job_Requisition_Categories=5eca664239074bffad42df700b26bb8d",
        "icon": "icon-link",
        "itemType": "external",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "description": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/details/SOS-Temporary-Program_JR2025-00017635?CF_LRV_Agency__mas-impl__Extended=115ffcfe67f846d99f4a1d4d75a0d476\u0026Job_Requisition_Categories=5eca664239074bffad42df700b26bb8d",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "3e919e80-f08a-425d-9b50-ac179fa95312",
    "name": "State Teammate Links",
    "url": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
    "icon": "icon-link",
    "itemType": "external",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "d68855f5-9001-4e1e-8783-b205f4c4e80e",
    "name": "We are the OCIO",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "55011390-eebe-4933-9db6-c1534e3664c3",
        "name": "About Us",
        "url": "/about-us/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/55011390eebe49339db6c1534e3664c3",
        "contentKey": "6b340e58-ef7f-4826-9cb7-0cafd2e2c018",
        "anchor": "",
        "description": "/about-us/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "464b144a-3fca-45ec-9834-61eee328d8f3",
        "name": "Newsroom",
        "url": "/news/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/464b144a3fca45ec983461eee328d8f3",
        "contentKey": "062b9f46-a1e8-4a13-93c7-04727c66db2f",
        "anchor": "",
        "description": "/news/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "28803bd2-c753-4278-a0bf-023752c7b3f5",
        "name": "Rates \u0026 Fees",
        "url": "/service-desk/forms/rates/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/28803bd2c7534278a0bf023752c7b3f5",
        "contentKey": "431e9caf-565c-4fea-a761-3bc4260451a0",
        "anchor": "",
        "description": "/service-desk/forms/rates/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "58e575e8-a155-4c9e-be65-c4d58f6be5eb",
        "name": "OCIO Administrative Org Chart",
        "url": "/media/kp1ao2z4/administration-org-chart.pdf",
        "icon": "icon-document",
        "itemType": "media",
        "target": "_blank",
        "published": false,
        "udi": "umb://media/58e575e8a1554c9ebe65c4d58f6be5eb",
        "contentKey": "d3fc9ea0-d219-4cb7-b626-94f4d97b6541",
        "anchor": "",
        "description": "/media/kp1ao2z4/administration-org-chart.pdf",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "13b7df06-df3e-490d-b7bf-2445e4f8a5ea",
        "name": "NE State Data Fabric Data Roadmap",
        "url": "/media/pttbg5i0/ne-state-data-fabric-data-roadmap.pdf",
        "icon": "icon-document",
        "itemType": "media",
        "target": "_blank",
        "published": false,
        "udi": "umb://media/13b7df06df3e490db7bf2445e4f8a5ea",
        "contentKey": "dde88e8f-393d-40eb-9a14-3bf916413bd7",
        "anchor": "",
        "description": "/media/pttbg5i0/ne-state-data-fabric-data-roadmap.pdf",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "f21bf8f2-c2f9-41b5-90a4-7611d6986c41",
        "name": "Digital Accessibility",
        "url": "/accessibility/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/f21bf8f2c2f941b590a47611d6986c41",
        "contentKey": "1e2637ad-6cb0-41a5-898b-6a42f4ee188a",
        "anchor": "",
        "description": "/accessibility/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "30dd2015-6794-4df0-b733-25a9f763f0b1",
    "name": "Contact Us",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "d856ff9f-fd78-4725-bc7a-5d858e523367",
        "name": "Contact Information",
        "url": "/contact/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/d856ff9ffd784725bc7a5d858e523367",
        "contentKey": "584d4fc1-50d4-49a4-9029-ae78abfff523",
        "anchor": "",
        "description": "/contact/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "2080cea2-4a18-4242-a680-5bbef18fd8db",
        "name": "Request a Service",
        "url": "/service-desk/forms/service/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/2080cea24a184242a6805bbef18fd8db",
        "contentKey": "431e9caf-565c-4fea-a761-3bc4260451a0",
        "anchor": "",
        "description": "/service-desk/forms/service/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "98ddaafc-4b00-4745-8a91-f9080003ca1e",
        "name": "Report a Problem",
        "url": "/service-desk/forms/problems/",
        "icon": "icon-document-html",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/98ddaafc4b0047458a91f9080003ca1e",
        "contentKey": "35e892bf-40c0-4add-ad0a-8d347a04bca5",
        "anchor": "",
        "description": "/service-desk/forms/problems/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "58c0510e-fd1d-4093-9002-84a77f992f8d",
    "name": "NITC",
    "url": "https://nitc.nebraska.gov/",
    "icon": "icon-link",
    "itemType": "external",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://nitc.nebraska.gov/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  }
]]]></Value>
    </navigationMenu>
  </Properties>
</Content>