<?xml version="1.0" encoding="utf-8"?>
<Content Key="88efede6-caa1-40c6-a17d-446a9069f7a2" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="446706d7-076b-4a2e-9e74-50c49c090276">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-01-30T19:34:15</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerIcon>
      <Value><![CDATA[[
  {
    "key": "2a09eaf9-c272-422f-a71c-b2e486e3dfed",
    "mediaKey": "b16350db-7688-4301-8c5a-3be0a290ced2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerIcon>
    <bannerText>
      <Value><![CDATA[An official website of the State of Nebraska]]></Value>
    </bannerText>
    <copyrightText>
      <Value><![CDATA[© 2026 State of Nebraska]]></Value>
    </copyrightText>
    <footerLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "key": "970e2b41-330d-4d1d-80c0-123992f9143e",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Nebraska.gov",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "http://www.nebraska.gov/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "key": "f6412443-acaf-4789-9d65-c6bd845e6e7c",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Governor",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://governor.nebraska.gov/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "key": "89dbb89f-68cf-49f5-bba8-9edb59ecbec2",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Policies",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "http://www.nebraska.gov/policies/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c2715eed-0a86-4633-8efa-0aa9848751f2",
      "key": "19574fe1-ba27-4e44-8596-0c41addd6a5f",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "OCIO Employees",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "970e2b41-330d-4d1d-80c0-123992f9143e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f6412443-acaf-4789-9d65-c6bd845e6e7c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "89dbb89f-68cf-49f5-bba8-9edb59ecbec2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19574fe1-ba27-4e44-8596-0c41addd6a5f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "970e2b41-330d-4d1d-80c0-123992f9143e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f6412443-acaf-4789-9d65-c6bd845e6e7c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "89dbb89f-68cf-49f5-bba8-9edb59ecbec2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "19574fe1-ba27-4e44-8596-0c41addd6a5f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "59c10c8f-1e43-44e5-9f37-b698eac0725e",
    "mediaKey": "90b5ac9b-d076-4cdb-bb5b-180906c7faba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "6d2ab6b5-ba83-420c-9ff5-56836d799506",
    "mediaKey": "97975f0a-d2ad-467c-9660-56c031dd240a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <menu>
      <Value><![CDATA[[
  {
    "key": "ba4625b9-1953-424f-a7b2-f156d3af2bf2",
    "name": "Service Desk",
    "url": "/servicedesk/",
    "icon": "icon-page-add color-light-blue",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/ba4625b91953424fa7b2f156d3af2bf2",
    "contentKey": "b91efa3b-14e8-4198-85b3-35e68daaa490",
    "anchor": "",
    "description": "/servicedesk/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "d264e8ce-de59-4ac8-bc47-e95ea889e802",
    "name": "Careers",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "c841eaff-6967-45b3-b559-1c704d93d269",
        "name": "Careers at the OCIO",
        "url": "/careers/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/c841eaff696745b3b5591c704d93d269",
        "contentKey": "53ca256f-5ccc-4b6b-8e1a-f799581637d1",
        "anchor": "",
        "description": "/careers/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "00217a5c-ef4f-4a53-97f7-49b26d8eb539",
        "name": "SOS Temp Intern Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/job/SOS-Temporary-Program_JR2025-00017635",
        "icon": "icon-link",
        "itemType": "external",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "description": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/job/SOS-Temporary-Program_JR2025-00017635",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "18f1c720-e2f7-43ab-9407-6db98948ace2",
        "name": "Open OCIO Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/details/SOS-Temporary-Program_JR2025-00017635?CF_LRV_Agency__mas-impl__Extended=115ffcfe67f846d99f4a1d4d75a0d476\u0026Job_Requisition_Categories=5eca664239074bffad42df700b26bb8d",
        "icon": "icon-link",
        "itemType": "external",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "description": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/details/SOS-Temporary-Program_JR2025-00017635?CF_LRV_Agency__mas-impl__Extended=115ffcfe67f846d99f4a1d4d75a0d476\u0026Job_Requisition_Categories=5eca664239074bffad42df700b26bb8d",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "ebfe60b1-1c0b-49ec-9a84-ad930feeff01",
    "name": "State Teammate Links",
    "url": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
    "icon": "icon-link",
    "itemType": "external",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "19c8f02d-52fb-4fd8-824a-b652ffe0edf2",
    "name": "We Are the OCIO",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "e1299ab7-8fe8-43fe-8228-7296ca9c71f8",
        "name": "About",
        "url": "/about/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/e1299ab78fe843fe82287296ca9c71f8",
        "contentKey": "a41ccfef-bba3-4718-a13e-b39227812c27",
        "anchor": "",
        "description": "/about/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "f35b8fc9-3fcc-4ad0-9f3e-d5715b34bf73",
        "name": "News",
        "url": "/news/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/f35b8fc93fcc4ad09f3ed5715b34bf73",
        "contentKey": "8f2b2ea6-05c7-41f5-ba25-8e8375e3e603",
        "anchor": "",
        "description": "/news/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "2a34739a-b395-4f0a-b330-7c1174d0af1e",
        "name": "Rates",
        "url": "/rates/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/2a34739ab3954f0ab3307c1174d0af1e",
        "contentKey": "705eff4a-ec71-4efa-a219-8a096cfecacc",
        "anchor": "",
        "description": "/rates/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "6fc2553f-ecce-41a4-89c6-46c7772ac9d1",
        "name": "administration-org-chart",
        "url": "/media/4ovpvcvt/administration-org-chart.pdf",
        "icon": "icon-document",
        "itemType": "media",
        "target": "_blank",
        "published": false,
        "udi": "umb://media/6fc2553fecce41a489c646c7772ac9d1",
        "contentKey": "2a11c300-0894-4afa-9599-517594cddf60",
        "anchor": "",
        "description": "/media/4ovpvcvt/administration-org-chart.pdf",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "2bfa789b-9c5c-4459-8609-e9caded316e6",
        "name": "NE State Data Fabric Data Roadmap",
        "url": "/media/l5qm30gy/ne-state-data-fabric-data-roadmap.pdf",
        "icon": "icon-document",
        "itemType": "media",
        "target": "_blank",
        "published": true,
        "udi": "umb://media/2bfa789b9c5c44598609e9caded316e6",
        "contentKey": "483588ac-1dff-4ed3-a9de-9bd11a687efc",
        "anchor": "",
        "description": "/media/l5qm30gy/ne-state-data-fabric-data-roadmap.pdf",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "84664e3c-1870-47fc-ae49-acde471a65e7",
        "name": "Accessibility",
        "url": "/accessibility/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/84664e3c187047fcae49acde471a65e7",
        "contentKey": "2cf79f54-d7f8-44e7-8019-69d5f766ed0b",
        "anchor": "",
        "description": "/accessibility/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "12b4c352-97d4-4954-9c47-2c7d07894fba",
    "name": "Contact Us",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "c7556d64-9d98-45aa-8019-8062297a04ff",
        "name": "Contact",
        "url": "/contact/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/c7556d649d9845aa80198062297a04ff",
        "contentKey": "c7632d76-bece-414e-9802-f1d1a55e6f95",
        "anchor": "",
        "description": "/contact/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "ea4b14a4-020e-478d-b1e3-163ce8b28c2d",
        "name": "Service",
        "url": "/forms/service/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/ea4b14a4020e478db1e3163ce8b28c2d",
        "contentKey": "20bf922e-a235-499a-8b43-e71136652218",
        "anchor": "",
        "description": "/forms/service/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "7daaa2f1-48a3-48c6-ab6e-c540653c9dc2",
        "name": "Problem",
        "url": "/forms/problem/",
        "icon": "icon-page-add color-light-blue",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "umb://document/7daaa2f148a348c6ab6ec540653c9dc2",
        "contentKey": "5c91d7ce-49ca-4efc-8fcd-e218846c651b",
        "anchor": "",
        "description": "/forms/problem/",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "8ab75525-754a-4edf-9d4d-d3eed12d5ffa",
    "name": "NITC",
    "url": "https://nitc.nebraska.gov/",
    "icon": "icon-link",
    "itemType": "external",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "description": "https://nitc.nebraska.gov/",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  }
]]]></Value>
    </menu>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <showBanner>
      <Value><![CDATA[1]]></Value>
    </showBanner>
    <siteName>
      <Value><![CDATA[CIO]]></Value>
    </siteName>
    <socialLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "key": "5f78f306-df7f-4c08-83b8-f157c8dad900",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "99258017-3ca1-4b7c-a050-b8dd1f7ee0c1",
              "mediaKey": "bac387f3-63e0-4540-89ca-9cce13de2b4a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.facebook.com",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://www.facebook.com/OCIONebraska",
              "queryString": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "OCIO Blue 800",
            "value": "#003a4d"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "key": "cb43adac-445d-485f-bd2f-605d5cfe98d4",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "40c2c339-9f48-4155-801b-339dfec2b71b",
              "mediaKey": "18577033-d797-4d97-9ad0-617c95015eeb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "x.com",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://x.com/Nebraska_OCIO",
              "queryString": null
            }
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "OCIO Blue 800",
            "value": "#003a4d"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "key": "18fd5499-c1b0-4f01-94bc-64a6ed0e4066",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8b2c56b4-5701-411d-a2c7-2b0b85b6a66a",
              "mediaKey": "c7b1697b-2ffc-4cb8-8806-06f28f1c3d4a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "YouTube",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://www.youtube.com/OCIONebraska",
              "queryString": null
            }
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "OCIO Blue 800",
            "value": "#003a4d"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b6c5fdec-bace-4dbd-89ae-c63c9b8ffc1e",
      "key": "a06ef728-2abf-4ba3-82da-ff1e9707f769",
      "udi": null,
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "86db4700-3dcc-440f-ae8c-3adaab499f16",
              "mediaKey": "98208df6-00c5-4689-a15f-3b741cc6f700",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.linkedin.com",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://www.linkedin.com/showcase/ocio/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "OCIO Blue 800",
            "value": "#003a4d"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5f78f306-df7f-4c08-83b8-f157c8dad900",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb43adac-445d-485f-bd2f-605d5cfe98d4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "18fd5499-c1b0-4f01-94bc-64a6ed0e4066",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a06ef728-2abf-4ba3-82da-ff1e9707f769",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5f78f306-df7f-4c08-83b8-f157c8dad900",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cb43adac-445d-485f-bd2f-605d5cfe98d4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "18fd5499-c1b0-4f01-94bc-64a6ed0e4066",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a06ef728-2abf-4ba3-82da-ff1e9707f769",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
  </Properties>
</Content>