<?xml version="1.0" encoding="utf-8"?>
<Content Key="5eb46ee3-c606-4e3b-8406-5fac765bd327" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="8ab707b1-9d1e-4390-aa9a-fc8de7e5858b">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-02-20T16:29:49</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerIcon>
      <Value><![CDATA[[
  {
    "key": "97119d6b-7ba7-4c35-b55a-ea9ef38caa7a",
    "mediaKey": "d9c0e627-9bdd-46da-b927-01ce3f35b7cc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerIcon>
    <bannerText>
      <Value><![CDATA[An official website of the State of Nebraska]]></Value>
    </bannerText>
    <copyrightText>
      <Value><![CDATA[© 2026 State of Nebraska]]></Value>
    </copyrightText>
    <footerLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "1d8b08b6-3344-4d4f-ac4a-df82cb6e9f0e",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Nebraska.gov",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "http://www.nebraska.gov/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "38eedfb8-1fbc-4436-8c5f-e9d0c862295c",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Governor",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://governor.nebraska.gov/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "1f260924-7710-4f68-af3f-1a65bf1fe085",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Policies",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "http://www.nebraska.gov/policies/",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "865b7a65-c88a-4d5d-a3e2-a9de66355022",
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "OCIO Employees",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "af5ed787-8bdf-41ac-8de4-8851bb6509e4",
      "values": []
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "eb9e2138-f6d6-4278-800d-a30510640569",
      "values": []
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "62439105-2117-4abe-9620-0714bec7c2ac",
      "values": []
    },
    {
      "contentTypeKey": "d30d3132-5e2e-4ad0-a1e8-eaa3ad07856c",
      "key": "a3466759-1ba5-4dee-a406-d151bbd2e812",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "1d8b08b6-3344-4d4f-ac4a-df82cb6e9f0e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "38eedfb8-1fbc-4436-8c5f-e9d0c862295c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f260924-7710-4f68-af3f-1a65bf1fe085",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "865b7a65-c88a-4d5d-a3e2-a9de66355022",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1d8b08b6-3344-4d4f-ac4a-df82cb6e9f0e",
        "contentUdi": null,
        "settingsKey": "af5ed787-8bdf-41ac-8de4-8851bb6509e4",
        "settingsUdi": null
      },
      {
        "contentKey": "38eedfb8-1fbc-4436-8c5f-e9d0c862295c",
        "contentUdi": null,
        "settingsKey": "eb9e2138-f6d6-4278-800d-a30510640569",
        "settingsUdi": null
      },
      {
        "contentKey": "1f260924-7710-4f68-af3f-1a65bf1fe085",
        "contentUdi": null,
        "settingsKey": "62439105-2117-4abe-9620-0714bec7c2ac",
        "settingsUdi": null
      },
      {
        "contentKey": "865b7a65-c88a-4d5d-a3e2-a9de66355022",
        "contentUdi": null,
        "settingsKey": "a3466759-1ba5-4dee-a406-d151bbd2e812",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "cded903c-74b2-403f-85b1-e49465b979f7",
    "mediaKey": "be472cf8-78c0-4e57-a52f-aac3899a5623",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <footerLogoUrl>
      <Value><![CDATA[]]></Value>
    </footerLogoUrl>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "d13e8278-dcae-475a-bd7a-db1fdd2352b7",
    "mediaKey": "e297652a-5fb8-4096-a317-b8f5a6d33142",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <showBanner>
      <Value><![CDATA[1]]></Value>
    </showBanner>
    <siteName>
      <Value><![CDATA[CIO Nebraska]]></Value>
    </siteName>
    <socialLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5",
      "key": "ee420083-9b40-43c7-b455-c5aec247bccf",
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4c445432-9b15-4316-aec4-908488285834",
              "mediaKey": "d2404c9f-05c4-4b03-bd52-141bacfbebc4",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "dark-blue",
            "value": "#004d66"
          }
        },
        {
          "alias": "fillColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.facebook.com",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://www.facebook.com/OCIONebraska",
              "queryString": null
            }
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "35"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "35"
        }
      ]
    },
    {
      "contentTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5",
      "key": "b5f471a8-2723-4374-abda-699b045767d8",
      "values": [
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "740677ce-cb29-41b1-a1e7-5f2ff25127a3",
              "mediaKey": "9c723fd7-29ce-4135-86fa-2b1b3b28025c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "dark-blue",
            "value": "#004d66"
          }
        },
        {
          "alias": "fillColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "x.com",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://x.com/Nebraska_OCIO",
              "queryString": null
            }
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "35"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "35"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5",
      "key": "d09efe8b-3ca2-41d8-83ea-a7008da2cb83",
      "values": [
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "0d677c06-422b-43dc-867d-06bfb67ec4d5",
      "key": "35520689-4747-4a4d-9b39-531839f550bf",
      "values": [
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ee420083-9b40-43c7-b455-c5aec247bccf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b5f471a8-2723-4374-abda-699b045767d8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ee420083-9b40-43c7-b455-c5aec247bccf",
        "contentUdi": null,
        "settingsKey": "d09efe8b-3ca2-41d8-83ea-a7008da2cb83",
        "settingsUdi": null
      },
      {
        "contentKey": "b5f471a8-2723-4374-abda-699b045767d8",
        "contentUdi": null,
        "settingsKey": "35520689-4747-4a4d-9b39-531839f550bf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
    <topNavigation>
      <Value><![CDATA[[
  {
    "key": "aba365e1-ee91-4d23-9621-a83fcbd98c8f",
    "name": "Service Desk",
    "url": "/service-desk/",
    "icon": "icon-document-html color-blue",
    "itemType": "Document",
    "target": "",
    "published": true,
    "udi": "umb://document/aba365e1ee914d239621a83fcbd98c8f",
    "contentKey": "163241f3-b856-4a48-8599-825086297abd",
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "5891e1e4-d70a-4917-98db-96819c5eb7c0",
    "name": "Careers",
    "url": null,
    "icon": "icon-tag",
    "itemType": "Title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "86ed9822-4b41-4b8e-baad-a68c9ce8fa1a",
        "name": "Careers at the OCIO",
        "url": "/careers/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/86ed98224b414b8ebaada68c9ce8fa1a",
        "contentKey": "49eaf9e5-4038-4188-81da-5dfcfd92e30d",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "21c06102-fe54-4dba-9904-27f0a6ede242",
        "name": "SOS Temp Intern Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/job/SOS-Temporary-Program_JR2025-00017635",
        "icon": "icon-link",
        "itemType": "External",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "1ae32c46-a353-4967-b3ed-3dcb9225b90e",
        "name": "Open OCIO Positions",
        "url": "https://son.wd108.myworkdayjobs.com/en-US/NebraskaStateCareers/details/SOS-Temporary-Program_JR2025-00017635?CF_LRV_Agency__mas-impl__Extended=115ffcfe67f846d99f4a1d4d75a0d476\u0026Job_Requisition_Categories=5eca664239074bffad42df700b26bb8d",
        "icon": "icon-link",
        "itemType": "External",
        "target": "_blank",
        "published": false,
        "udi": "",
        "contentKey": null,
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "e04c3ea3-eaa8-4895-9487-64e3ac533dec",
    "name": "State Teammate Links",
    "url": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1",
    "icon": "icon-link",
    "itemType": "External",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  },
  {
    "key": "13314d44-c71e-458f-b881-d466379c4d43",
    "name": "We Are the OCIO",
    "url": null,
    "icon": "icon-tag",
    "itemType": "Title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "2e02e887-3607-4f87-929d-52e1d9ad7cad",
        "name": "About Us",
        "url": "/about/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/2e02e88736074f87929d52e1d9ad7cad",
        "contentKey": "82efd4dd-4083-4670-8bde-405bbc7606f7",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "33139790-7407-44ca-9201-de3c1cc98d91",
        "name": "Newsroom",
        "url": "/news/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/33139790740744ca9201de3c1cc98d91",
        "contentKey": "c416407d-8801-4fe9-baca-2ff02b88b026",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "06910d05-804f-4717-bccd-da4962c9f4a7",
        "name": "Rates and Fees",
        "url": "/rates/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/06910d05804f4717bccdda4962c9f4a7",
        "contentKey": "f2349c83-dcf9-4204-8823-11bac75b50ef",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "e3452572-2e75-4ca8-b998-978e9014a1fe",
        "name": "OCIO Administration Org Chart",
        "url": "http://localhost:53029/media/paypjqk5/administration-org-chart.pdf",
        "icon": "icon-document",
        "itemType": "Media",
        "target": "_blank",
        "published": true,
        "udi": "umb://media/e34525722e754ca8b998978e9014a1fe",
        "contentKey": "c1f43160-af5f-471d-b6a7-f094d731bdd6",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "dcde7e8d-c4af-4e8b-a6ab-033c47ecc9a7",
        "name": "NE State Data Fabric Data Roadmap",
        "url": "http://localhost:53029/media/lsyo1uar/ne-state-data-fabric-data-roadmap.pdf",
        "icon": "icon-document",
        "itemType": "Media",
        "target": "_blank",
        "published": true,
        "udi": "umb://media/dcde7e8dc4af4e8ba6ab033c47ecc9a7",
        "contentKey": "d0edb044-2011-4675-a596-74e255d73278",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "21ee996e-ce9c-46d7-aa69-c67fea481c1a",
        "name": "Digital Accessibility",
        "url": "/accessibility/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/21ee996ece9c46d7aa69c67fea481c1a",
        "contentKey": "91a1ddb6-015d-4883-88b0-5df5f050552b",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "54bf6463-1634-4b31-8f1d-6e7db34093dc",
    "name": "Contact Us",
    "url": null,
    "icon": "icon-tag",
    "itemType": "Title",
    "udi": null,
    "contentKey": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "815841cb-56ee-4127-bbda-6ffb37b17c60",
        "name": "Contact Information",
        "url": "/contact/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/815841cb56ee4127bbda6ffb37b17c60",
        "contentKey": "acb8e1ab-80d2-43dd-a5f4-e64d4a059c4c",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "5aea8f6c-18b2-443e-8278-41d809a61a3b",
        "name": "Request a Service",
        "url": "/forms/service/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/5aea8f6c18b2443e827841d809a61a3b",
        "contentKey": "92616e5b-41c8-4115-8170-efee40cd5910",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      },
      {
        "key": "f6147833-5ef0-41d3-9664-1c443ea453ab",
        "name": "Report a Problem",
        "url": "/forms/problem/",
        "icon": "icon-document-html color-blue",
        "itemType": "Document",
        "target": "",
        "published": true,
        "udi": "umb://document/f61478335ef041d396641c443ea453ab",
        "contentKey": "5186e0d4-313a-4c81-8a45-a33c7719cc7b",
        "anchor": "",
        "customClasses": "",
        "hideLoggedIn": false,
        "hideLoggedOut": false,
        "noreferrer": "",
        "noopener": "",
        "image": [],
        "children": [],
        "depth": 2
      }
    ],
    "depth": 1
  },
  {
    "key": "cd9a07ed-c71a-4cab-84c6-c755c3ee4697",
    "name": "NITC",
    "url": "https://nitc.nebraska.gov/",
    "icon": "icon-link",
    "itemType": "External",
    "target": "_blank",
    "published": false,
    "udi": "",
    "contentKey": null,
    "anchor": "",
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noreferrer": "",
    "noopener": "",
    "image": [],
    "children": [],
    "depth": 1
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>