<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2db21ef-4273-43d2-8ace-486cd378623d" Alias="Testing for Keyboard Access" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/TestingForKeyboardAccess</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:09:58</CreateDate>
    <NodeName Default="Testing for Keyboard Access" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Testing for Keyboard Access]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Testing for Keyboard Access]]></Value>
    </pageTitleShort>
  </Properties>
</Content>