<?xml version="1.0" encoding="utf-8"?>
<Content Key="74394fd0-bf97-423a-a02e-aa4497a8b278" Alias="Testing for Contrast and Visual Clarity" Level="3">
  <Info>
    <Parent Key="91a1ddb6-015d-4883-88b0-5df5f050552b">Accessibility</Parent>
    <Path>/Home/Accessibility/TestingForContrastAndVisualClarity</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:09:38</CreateDate>
    <NodeName Default="Testing for Contrast and Visual Clarity" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Visual Clarity and Contrast]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Visual Clarity and Contrast]]></Value>
    </pageTitleShort>
  </Properties>
</Content>