<?xml version="1.0" encoding="utf-8"?>
<Content Key="6789b5c6-3cc3-4d4e-9226-96c9c2b5eb69" Alias="Vision" Level="3">
  <Info>
    <Parent Key="c416407d-8801-4fe9-baca-2ff02b88b026">News</Parent>
    <Path>/Home/News/Vision</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T01:48:40</CreateDate>
    <NodeName Default="Vision" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "994a6c2f-5652-43a0-9e4f-a6938f82c6aa",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "b6453a11-3bb4-443e-9cf2-27ddd2f5126b",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "994a6c2f-5652-43a0-9e4f-a6938f82c6aa",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "994a6c2f-5652-43a0-9e4f-a6938f82c6aa",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b6453a11-3bb4-443e-9cf2-27ddd2f5126b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Vision]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Vision]]></Value>
    </pageTitleShort>
  </Properties>
</Content>