<?xml version="1.0" encoding="utf-8"?>
<Content Key="0466e52a-6337-45d8-a3fb-29bac66c022e" Alias="Webmaster" Level="3">
  <Info>
    <Parent Key="acb8e1ab-80d2-43dd-a5f4-e64d4a059c4c">Contact</Parent>
    <Path>/Home/Contact/Webmaster</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-03-04T17:05:39</CreateDate>
    <NodeName Default="Webmaster" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c7d0c-37c0-76e2-a13c-2f43b5c4b64d">ContentPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "0bb7b0b3-4658-4248-8855-6398d32ce709",
      "values": []
    },
    {
      "contentTypeKey": "e1bdf720-7642-4a3d-b004-b4c5c8d19eff",
      "key": "ccc7b09b-ccd0-45d9-9d30-809733cadf90",
      "values": [
        {
          "alias": "headingTextColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact the OCIO Webmaster"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "primary-darker",
            "value": "#003A4D"
          }
        },
        {
          "alias": "displayBreadcrumb",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ffba544d-fd90-440e-9c8d-e3d14e647ead",
              "mediaKey": "6bce24c1-bbf7-4a26-843a-28592b9137e1",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "0f2f57ac-654f-4516-874b-46d9ad2b655e",
      "values": []
    },
    {
      "contentTypeKey": "6cb74fcb-7f4c-466e-bbd4-877565f62aab",
      "key": "1cba18a4-1d60-4c4a-9b4c-f7640cf63f36",
      "values": [
        {
          "alias": "sideMenu",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36bd783b-8958-4ecb-9219-011c355ce3e2",
              "name": "We are the OCIO",
              "url": "/about/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/36bd783b89584ecb9219011c355ce3e2",
              "contentKey": "82efd4dd-4083-4670-8bde-405bbc7606f7",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "36bd783b-8958-4ecb-9219-011c355ce3e2"
            },
            {
              "key": "04f90b62-52f6-4322-b183-34a761664e24",
              "name": "Digital Accessibility",
              "url": "/accessibility/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/04f90b6252f64322b18334a761664e24",
              "contentKey": "91a1ddb6-015d-4883-88b0-5df5f050552b",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "289477b3-d465-4ad4-9d0f-c309e4bad41d",
                  "name": "How to Add Alternate Text to images on Instagram",
                  "url": "/accessibility/how-to-add-alternate-text-to-images-on-instagram/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/289477b3d4654ad49d0fc309e4bad41d",
                  "contentKey": "c49a5e49-ff5f-47e4-8e31-feca5debd769",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "befe61ba-984f-424d-bf7c-5809978a3e08",
                  "name": "How to Add Alternate Text to images on LinkedIn",
                  "url": "/accessibility/how-to-add-alternate-text-to-images-on-linkedin/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/befe61ba984f424dbf7c5809978a3e08",
                  "contentKey": "88b01cab-d666-42ab-a211-ca7117c63bf4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "091fb776-1280-4696-9333-da378c75701c",
                  "name": "How to Add Alternate Text to images on X (formerly Twitter)",
                  "url": "/accessibility/how-to-add-alternate-text-to-images-on-x-formerly-twitter/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/091fb776128046969333da378c75701c",
                  "contentKey": "303a48b5-5ec2-4c3d-8b87-73385515f948",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "6f9f0d91-f947-412c-b23a-f3288ee2166e",
                  "name": "How to Add Alternative Text to Images on Facebook",
                  "url": "/accessibility/how-to-add-alternative-text-to-images-on-facebook/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/6f9f0d91f947412cb23af3288ee2166e",
                  "contentKey": "7ab686b8-e729-466a-831b-3b3b1407774f",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "b88c808c-216d-42bc-b283-d357058740aa",
                  "name": "Microsoft Narrator",
                  "url": "/accessibility/narrator/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b88c808c216d42bcb283d357058740aa",
                  "contentKey": "0ddff4fa-54a0-4a6c-ab22-1bb3fb654784",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "a19ebfe6-e86d-4c6a-b83f-9befeeeafabb",
                  "name": "Keyboard Commands for Narrator",
                  "url": "/accessibility/narrator-keyboard-commands/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a19ebfe6e86d4c6ab83f9befeeeafabb",
                  "contentKey": "c776cb6d-bf4e-4fcf-ad99-2212fa8a8a4a",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "ee92e42a-ae9e-47df-ada3-9c52daad0774",
                  "name": "NVDA",
                  "url": "/accessibility/nvda/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/ee92e42aae9e47dfada39c52daad0774",
                  "contentKey": "8cba3b31-bfbe-4a67-beb0-60dd7728d54c",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "4b662d2a-08bf-45b9-b9c5-160ccf334830",
                  "name": "Keyboard Commands for NVDA",
                  "url": "/accessibility/nvda-keyboard-commands/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/4b662d2a08bf45b9b9c5160ccf334830",
                  "contentKey": "98e217de-f713-4504-aaa4-33cd97e1d4b3",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "2c22278b-01ff-4a28-82f1-6f421c76be67",
                  "name": "Visual Clarity and Contrast",
                  "url": "/accessibility/testing-for-contrast-and-visual-clarity/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/2c22278b01ff4a2882f16f421c76be67",
                  "contentKey": "74394fd0-bf97-423a-a02e-aa4497a8b278",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "14a72265-db8e-4ed6-9043-8e8dd9aca6e1",
                  "name": "Testing for Keyboard Access",
                  "url": "/accessibility/testing-for-keyboard-access/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/14a72265db8e4ed690438e8dd9aca6e1",
                  "contentKey": "f2db21ef-4273-43d2-8ace-486cd378623d",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "b24ece06-6545-4f36-9430-92d870cd121e",
                  "name": "Testing for Non-Visual Clarity",
                  "url": "/accessibility/testing-for-non-visual-clarity/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b24ece0665454f36943092d870cd121e",
                  "contentKey": "7eac966c-0f12-413c-98d3-991eb8f50978",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                },
                {
                  "key": "a307b409-1946-4414-8678-3d0e1b9ea4d7",
                  "name": "Testing Starter Guide",
                  "url": "/accessibility/testing-starter-guide/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/a307b4091946441486783d0e1b9ea4d7",
                  "contentKey": "72686542-d18a-46b6-886f-1c791b3e1fb9",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "04f90b62-52f6-4322-b183-34a761664e24"
            },
            {
              "key": "3278b252-cabf-4201-8ca4-9e78199179bb",
              "name": "Careers",
              "url": "/careers/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/3278b252cabf42018ca49e78199179bb",
              "contentKey": "49eaf9e5-4038-4188-81da-5dfcfd92e30d",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "84aaf29a-75e3-46b4-8ac3-2d8f91dcda55",
                  "name": "Content Management Systems Web Developer",
                  "url": "/careers/content-management-systems/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/84aaf29a75e346b48ac32d8f91dcda55",
                  "contentKey": "5135f8a2-2dc2-4520-9d6d-1a361656dc69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "3278b252-cabf-4201-8ca4-9e78199179bb"
            },
            {
              "key": "512d0873-a931-4f98-91f0-6307006d1496",
              "name": "Contact",
              "url": "/contact/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/512d0873a9314f9891f06307006d1496",
              "contentKey": "acb8e1ab-80d2-43dd-a5f4-e64d4a059c4c",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "dbe5f672-8846-4a5b-b4d6-4a3c719caee2",
                  "name": "Contact the Webmaster",
                  "url": "/contact/webmaster/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/dbe5f67288464a5bb4d64a3c719caee2",
                  "contentKey": "0466e52a-6337-45d8-a3fb-29bac66c022e",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2
                }
              ],
              "depth": 1,
              "unique": "512d0873-a931-4f98-91f0-6307006d1496"
            },
            {
              "key": "b8983045-6bf9-4440-9eeb-70c61667c3e8",
              "name": "OCIO Newsroom",
              "url": "/news/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/b89830456bf944409eeb70c61667c3e8",
              "contentKey": "c416407d-8801-4fe9-baca-2ff02b88b026",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [
                {
                  "key": "b50d8222-1833-465b-9b87-863445cd8445",
                  "name": "Service Announcments",
                  "url": "/news/service-announcments/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b50d82221833465b9b87863445cd8445",
                  "contentKey": "04e9f09c-7a03-4ca7-9ea2-57a12ab12ac4",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b50d8222-1833-465b-9b87-863445cd8445"
                },
                {
                  "key": "b3b6f763-38af-40ef-90f9-54b02389c63e",
                  "name": "Vision",
                  "url": "/news/vision/",
                  "icon": "icon-document-html color-blue",
                  "itemType": "Document",
                  "target": "",
                  "published": true,
                  "udi": "umb://document/b3b6f76338af40ef90f954b02389c63e",
                  "contentKey": "6789b5c6-3cc3-4d4e-9226-96c9c2b5eb69",
                  "anchor": "",
                  "customClasses": "",
                  "hideLoggedIn": false,
                  "hideLoggedOut": false,
                  "noreferrer": "",
                  "noopener": "",
                  "image": [],
                  "children": [],
                  "depth": 2,
                  "unique": "b3b6f763-38af-40ef-90f9-54b02389c63e"
                }
              ],
              "depth": 1,
              "unique": "b8983045-6bf9-4440-9eeb-70c61667c3e8"
            },
            {
              "key": "95d8c166-4b29-4d67-94e1-1ed9187e948d",
              "name": "Rates and Fees",
              "url": "/rates/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/95d8c1664b294d6794e11ed9187e948d",
              "contentKey": "f2349c83-dcf9-4204-8823-11bac75b50ef",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "95d8c166-4b29-4d67-94e1-1ed9187e948d"
            },
            {
              "key": "7ae9d148-3496-4da1-b66d-0c99d6f34868",
              "name": "Recognition",
              "url": "/recognition/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/7ae9d14834964da1b66d0c99d6f34868",
              "contentKey": "d8aa60f0-9051-47c0-9b3b-bf46567fba4e",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "7ae9d148-3496-4da1-b66d-0c99d6f34868"
            },
            {
              "key": "dee2478d-bac3-4cc0-9b72-eb71857985ab",
              "name": "OCIO Service Desk",
              "url": "/service-desk/",
              "icon": "icon-document-html color-blue",
              "itemType": "Document",
              "target": "",
              "published": true,
              "udi": "umb://document/dee2478dbac34cc09b72eb71857985ab",
              "contentKey": "163241f3-b856-4a48-8599-825086297abd",
              "anchor": "",
              "customClasses": "",
              "hideLoggedIn": false,
              "hideLoggedOut": false,
              "noreferrer": "",
              "noopener": "",
              "image": [],
              "children": [],
              "depth": 1,
              "unique": "dee2478d-bac3-4cc0-9b72-eb71857985ab"
            }
          ]
        },
        {
          "alias": "marginTop",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4rem"
        }
      ]
    },
    {
      "contentTypeKey": "b87dee17-4242-4d83-9f36-63aae1204d93",
      "key": "be9087be-db6d-4cd4-9d64-a7154c78cb29",
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2\u003EFeel free to contact us.\u003C/h2\u003E\u003Cp\u003EIf you would like a reply to your question, be sure to include your return address, or email address in the form submission.\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EPlease use this form for only website related questions/comments.\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003EOffice of the CIO \u003Cbr\u003E501 South 14th Street\u003Cbr\u003ELincoln, NE 68508\u003C/p\u003E\u003Cp\u003EWe value your feedback and will respond promptly. Thanks for visiting our site and for taking the time to send us your comments, suggestions and requests.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d1a787d6-375c-4695-9039-3ec25e883dcf",
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "952e9aac-db5d-491b-a141-7ca9864ea37c",
      "values": [
        {
          "alias": "containerStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "container"
          ]
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light-background",
            "value": "#f3f7fc"
          }
        },
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "3798ca6e-8feb-4e8e-8445-ac17c74af9ff",
      "values": [
        {
          "alias": "applyDefaultPadding",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0bb7b0b3-4658-4248-8855-6398d32ce709",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ccc7b09b-ccd0-45d9-9d30-809733cadf90",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f2f57ac-654f-4516-874b-46d9ad2b655e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1cba18a4-1d60-4c4a-9b4c-f7640cf63f36",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be9087be-db6d-4cd4-9d64-a7154c78cb29",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ccc7b09b-ccd0-45d9-9d30-809733cadf90",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0bb7b0b3-4658-4248-8855-6398d32ce709",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d1a787d6-375c-4695-9039-3ec25e883dcf",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "1cba18a4-1d60-4c4a-9b4c-f7640cf63f36",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3798ca6e-8feb-4e8e-8445-ac17c74af9ff",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "be9087be-db6d-4cd4-9d64-a7154c78cb29",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "0f2f57ac-654f-4516-874b-46d9ad2b655e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "952e9aac-db5d-491b-a141-7ca9864ea37c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Contact the webmaster]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Contact the webmaster]]></Value>
    </pageTitleShort>
  </Properties>
</Content>