<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5998b12-ac24-44f0-a50f-93b57d76746a" Alias="Site Settings - Icon Links - Block List" Level="1">
  <Info>
    <Name>Site Settings - Icon Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "label": "Icon Link"
    }
  ]
}]]></Config>
</DataType>