<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d35abf1d-88ec-452e-a9e9-9e73e5baa5cb" Alias="Site Settings - Navigation Menu - UmbNav" Level="1">
  <Info>
    <Name>Site Settings - Navigation Menu - UmbNav</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": true,
  "allowDisplay": true,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 3
}]]></Config>
</DataType>