<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72d0ca3b-26c8-4825-af87-691f1d8fc870" Alias="home" Level="2">
  <Info>
    <Name>Home </Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0ca8dc4a-e7bd-4b11-9a1f-65d8333b785a">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019be6e4-ba86-7b26-a2e7-3dd5c095e14a">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fa344975-796d-460e-99b3-72caa357eea2" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="f02a6dd2-5844-4850-b47d-66f48c312b6a" SortOrder="1">digitalAccessibility</ContentType>
    <ContentType Key="0f0e69bc-4463-4c69-8e07-45f64ceb66b5" SortOrder="2">contact</ContentType>
    <ContentType Key="bd53cb2d-8ce5-477a-aa7c-39ea01bef050" SortOrder="3">careers</ContentType>
    <ContentType Key="1237e152-3416-4676-9cf2-2c599629fdf6" SortOrder="4">newsroom</ContentType>
    <ContentType Key="838682d8-d70e-4cc3-9c83-9f6c2d465ce0" SortOrder="5">rates</ContentType>
    <ContentType Key="a5dd318e-53f2-4ef7-863d-3e528c8a348a" SortOrder="6">reportAProblem</ContentType>
    <ContentType Key="1a0139ab-cc56-4937-a4d8-2978177e8797" SortOrder="7">requestAService</ContentType>
    <ContentType Key="baae6ba5-dcfe-4f00-8a0f-6f7aa03bb926" SortOrder="8">serviceDesk</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>dc88b437-ed2c-4f46-b980-99caa55c29ea</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="properties">Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a4fcb62f-f855-4aca-afb6-ffb184286bd0</Key>
      <Caption>Properties</Caption>
      <Alias>properties</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>