<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1237e152-3416-4676-9cf2-2c599629fdf6" Alias="newsroom" Level="2">
  <Info>
    <Name>Newsroom</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0ca8dc4a-e7bd-4b11-9a1f-65d8333b785a">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>Newsroom</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019be6eb-1263-7cb3-b9c5-e2e599ebabdb">Newsroom</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>