<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="baae6ba5-dcfe-4f00-8a0f-6f7aa03bb926" Alias="serviceDesk" Level="2">
  <Info>
    <Name>Service Desk</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0ca8dc4a-e7bd-4b11-9a1f-65d8333b785a">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>ServiceDesk</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019be6ec-db68-73e0-a1e5-bbd7ba71509f">ServiceDesk</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0aeb34fd-00ad-4f92-a313-862f1fce5778" SortOrder="0">forms</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>