<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b340e58-ef7f-4826-9cb7-0cafd2e2c018" Alias="About Us" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2026-01-22T19:08:35</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6e6-ceac-790b-8ffe-b8706025255e">AboutUs</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[About Us]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[About Us]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[About Us]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[We are the OCIO | Innovations in Technology]]></Value>
    </pageTitle>
  </Properties>
</Content>