<?xml version="1.0" encoding="utf-8"?>
<Content Key="584d4fc1-50d4-49a4-9029-ae78abfff523" Alias="Contact" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2026-01-22T19:12:57</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6e9-1161-75db-8d7a-dda43dc6cd62">Contact</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Contact Information]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Contact Information]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Contact Information]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>