<?xml version="1.0" encoding="utf-8"?>
<Content Key="431e9caf-565c-4fea-a761-3bc4260451a0" Alias="Rates" Level="4">
  <Info>
    <Parent Key="78466254-43ce-4f03-b51a-8100a4c0a0a9">Forms</Parent>
    <Path>/Home/ServiceDesk/Forms/Rates</Path>
    <Trashed>false</Trashed>
    <ContentType>requestAService</ContentType>
    <CreateDate>2026-01-22T19:10:32</CreateDate>
    <NodeName Default="Rates" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6ec-7c5c-757e-9d8e-85e3f27eb5e8">RequestAService</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Rates and Fees]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </pageTitle>
  </Properties>
</Content>