<?xml version="1.0" encoding="utf-8"?>
<Content Key="b710a6fd-706b-4a32-bb95-6d234ff10b8a" Alias="Rates" Level="2">
  <Info>
    <Parent Key="379e4c50-c1c6-45d8-ba55-099e50c79094">Home</Parent>
    <Path>/Home/Rates</Path>
    <Trashed>false</Trashed>
    <ContentType>rates</ContentType>
    <CreateDate>2026-01-22T21:02:58</CreateDate>
    <NodeName Default="Rates" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019be6eb-76c3-762b-aef1-1e087fdfb50e">Rates</Template>
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value><![CDATA[Rates and Fees]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Rates and Fees]]></Value>
    </pageTitle>
  </Properties>
</Content>