<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d9117bd-1c33-4b8e-a8ff-f2117ceee0fa" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-01-22T19:15:02</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerIcon>
      <Value><![CDATA[[
  {
    "key": "28342c54-6ca4-45fa-8fc6-10b5b92f888f",
    "mediaKey": "60f51c61-8160-4a08-806b-41a674be9481",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerIcon>
    <bannerText>
      <Value><![CDATA[An official website of the State of Nebraska]]></Value>
    </bannerText>
    <copyrightText>
      <Value><![CDATA[© 2026 State of Nebraska]]></Value>
    </copyrightText>
    <displayBanner>
      <Value><![CDATA[1]]></Value>
    </displayBanner>
    <footerLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "5ac651c7-3a36-42e4-a828-4e62f062387c",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "http://www.nebraska.gov/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nebraska.gov"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://governor.nebraska.gov/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Governor"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "http://www.nebraska.gov/policies/"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Policies"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "0b33b8a7-0ff9-4290-b038-40e7df32081d",
      "key": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://stateofne.sharepoint.com/sites/ocio_home/SitePages/Services.aspx?ga=1"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OCIO Employees"
        },
        {
          "alias": "isExternalLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5ac651c7-3a36-42e4-a828-4e62f062387c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5ac651c7-3a36-42e4-a828-4e62f062387c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e58fcd42-a17b-40f2-b239-e74c4b13c85b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bfbc979b-db78-44e6-88b6-29a03836c5b4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "303fdd0d-80c0-4357-8aa6-30a30b27358a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerLinks>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "89415fbe-6587-4807-963d-4e53baa26249",
    "mediaKey": "16e42e00-8d39-4b79-8a1c-2d1a48325248",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <iconLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/OCIONebraska"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7adb1696-920a-42c8-a8cf-847f20f3afd2",
              "mediaKey": "7e973f3d-5df1-400a-b39d-5224dc34b2b3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/Nebraska_OCIO"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "72cd9f23-52ad-46ca-a17f-ec4bb4d741ab",
              "mediaKey": "2404b854-63e0-4b85-bb81-a11912edf9af",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com/OCIONebraska"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "66c6d79e-eea9-41b4-bf05-643bbe0adba5",
              "mediaKey": "136be0a5-c15d-4b7c-badc-23af48f4279c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "de086b94-a6b1-4ca1-8e10-65f61a01d130",
      "key": "1f00999c-3522-4637-a986-814b8b023272",
      "udi": null,
      "values": [
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com/showcase/ocio/"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3f75e320-5890-4dac-9d75-1642883dc051",
              "mediaKey": "b8e4e44d-88ad-468c-8420-c01ea72497a3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1f00999c-3522-4637-a986-814b8b023272",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a6122873-fd44-4066-bb8d-82ae11adb3d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a7c8693e-8d20-4643-9c5f-c62b2d39c43f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ea39a667-0cef-44d8-89c9-d8d4f686d83a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1f00999c-3522-4637-a986-814b8b023272",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </iconLinks>
  </Properties>
</Content>